{"openapi":"3.0.3","info":{"title":"Microsoft Graph: Microsoft Graph","version":"v1.0","x-generated-from":"https://raw.githubusercontent.com/microsoftgraph/msgraph-metadata/master/openapi/v1.0/openapi.yaml"},"servers":[{"url":"https://graph.microsoft.com/v1.0"}],"paths":{"/drives/{drive-id}/items/{driveItem-id}":{"get":{"operationId":"drives.GetItems","summary":"Get items from drives","description":"All items contained in the drive. Read-only. Nullable.","tags":["drives.driveItem"],"parameters":[{"name":"drive-id","in":"path","required":true,"description":"The unique identifier of drive","schema":{"type":"string"}},{"name":"driveItem-id","in":"path","required":true,"description":"The unique identifier of driveItem","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"patch":{"operationId":"drives.UpdateItems","summary":"Update the navigation property items in drives","tags":["drives.driveItem"],"parameters":[{"name":"drive-id","in":"path","required":true,"description":"The unique identifier of drive","schema":{"type":"string"}},{"name":"driveItem-id","in":"path","required":true,"description":"The unique identifier of driveItem","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"createdBy":{"application":{},"device":{},"user":{}},"description":"","eTag":"","lastModifiedBy":{"application":{},"device":{},"user":{}},"name":"","parentReference":{"driveId":"","driveType":"","name":"","path":"","shareId":"","sharepointIds":{},"siteId":""},"webUrl":"","createdByUser":{"aboutMe":"","accountEnabled":false,"ageGroup":"","assignedLicenses":[],"assignedPlans":[],"birthday":"1970-01-01T00:00:00.000Z","businessPhones":[],"city":"","companyName":"","consentProvidedForMinor":"","country":"","creationType":"","department":"","deviceEnrollmentLimit":0,"displayName":"","employeeHireDate":"1970-01-01T00:00:00.000Z","employeeId":"","employeeLeaveDateTime":"1970-01-01T00:00:00.000Z","employeeType":"","externalUserState":"","externalUserStateChangeDateTime":"1970-01-01T00:00:00.000Z","faxNumber":"","givenName":"","hireDate":"1970-01-01T00:00:00.000Z","identities":[],"identityParentId":"","imAddresses":[],"interests":[],"isManagementRestricted":false,"isResourceAccount":false,"jobTitle":"","lastPasswordChangeDateTime":"1970-01-01T00:00:00.000Z","legalAgeGroupClassification":"","licenseAssignmentStates":[],"mail":"","mailNickname":"","mobilePhone":"","mySite":"","officeLocation":"","onPremisesDistinguishedName":"","onPremisesDomainName":"","onPremisesImmutableId":"","onPremisesLastSyncDateTime":"1970-01-01T00:00:00.000Z","onPremisesProvisioningErrors":[],"onPremisesSamAccountName":"","onPremisesSecurityIdentifier":"","onPremisesSyncEnabled":false,"onPremisesUserPrincipalName":"","otherMails":[],"passwordPolicies":"","pastProjects":[],"postalCode":"","preferredDataLocation":"","preferredLanguage":"","preferredName":"","provisionedPlans":[],"proxyAddresses":[],"responsibilities":[],"schools":[],"securityIdentifier":"","serviceProvisioningErrors":[],"showInAddressList":false,"signInSessionsValidFromDateTime":"1970-01-01T00:00:00.000Z","skills":[],"state":"","streetAddress":"","surname":"","usageLocation":"","userPrincipalName":"","userType":"","activities":[],"adhocCalls":[],"agreementAcceptances":[],"appRoleAssignments":[],"calendarGroups":[],"calendars":[],"calendarView":[],"chats":[],"cloudPCs":[],"contactFolders":[],"contacts":[],"createdObjects":[],"deviceManagementTroubleshootingEvents":[],"directReports":[],"drives":[],"events":[],"extensions":[],"followedSites":[],"joinedTeams":[],"licenseDetails":[],"mailFolders":[],"managedAppRegistrations":[],"managedDevices":[],"memberOf":[],"messages":[],"notes":[],"oauth2PermissionGrants":[],"onlineMeetings":[],"ownedDevices":[],"ownedObjects":[],"people":[],"permissionGrants":[],"photos":[],"registeredDevices":[],"scopedRoleMemberOf":[],"sponsorOf":[],"sponsors":[],"transitiveMemberOf":[]},"lastModifiedByUser":{"aboutMe":"","accountEnabled":false,"ageGroup":"","assignedLicenses":[],"assignedPlans":[],"birthday":"1970-01-01T00:00:00.000Z","businessPhones":[],"city":"","companyName":"","consentProvidedForMinor":"","country":"","creationType":"","department":"","deviceEnrollmentLimit":0,"displayName":"","employeeHireDate":"1970-01-01T00:00:00.000Z","employeeId":"","employeeLeaveDateTime":"1970-01-01T00:00:00.000Z","employeeType":"","externalUserState":"","externalUserStateChangeDateTime":"1970-01-01T00:00:00.000Z","faxNumber":"","givenName":"","hireDate":"1970-01-01T00:00:00.000Z","identities":[],"identityParentId":"","imAddresses":[],"interests":[],"isManagementRestricted":false,"isResourceAccount":false,"jobTitle":"","lastPasswordChangeDateTime":"1970-01-01T00:00:00.000Z","legalAgeGroupClassification":"","licenseAssignmentStates":[],"mail":"","mailNickname":"","mobilePhone":"","mySite":"","officeLocation":"","onPremisesDistinguishedName":"","onPremisesDomainName":"","onPremisesImmutableId":"","onPremisesLastSyncDateTime":"1970-01-01T00:00:00.000Z","onPremisesProvisioningErrors":[],"onPremisesSamAccountName":"","onPremisesSecurityIdentifier":"","onPremisesSyncEnabled":false,"onPremisesUserPrincipalName":"","otherMails":[],"passwordPolicies":"","pastProjects":[],"postalCode":"","preferredDataLocation":"","preferredLanguage":"","preferredName":"","provisionedPlans":[],"proxyAddresses":[],"responsibilities":[],"schools":[],"securityIdentifier":"","serviceProvisioningErrors":[],"showInAddressList":false,"signInSessionsValidFromDateTime":"1970-01-01T00:00:00.000Z","skills":[],"state":"","streetAddress":"","surname":"","usageLocation":"","userPrincipalName":"","userType":"","activities":[],"adhocCalls":[],"agreementAcceptances":[],"appRoleAssignments":[],"calendarGroups":[],"calendars":[],"calendarView":[],"chats":[],"cloudPCs":[],"contactFolders":[],"contacts":[],"createdObjects":[],"deviceManagementTroubleshootingEvents":[],"directReports":[],"drives":[],"events":[],"extensions":[],"followedSites":[],"joinedTeams":[],"licenseDetails":[],"mailFolders":[],"managedAppRegistrations":[],"managedDevices":[],"memberOf":[],"messages":[],"notes":[],"oauth2PermissionGrants":[],"onlineMeetings":[],"ownedDevices":[],"ownedObjects":[],"people":[],"permissionGrants":[],"photos":[],"registeredDevices":[],"scopedRoleMemberOf":[],"sponsorOf":[],"sponsors":[],"transitiveMemberOf":[]},"audio":{"album":"","albumArtist":"","artist":"","bitrate":0,"composers":"","copyright":"","disc":0,"discCount":0,"duration":0,"genre":"","hasDrm":false,"isVariableBitrate":false,"title":"","track":0,"trackCount":0,"year":0},"bundle":{"album":{"coverImageItemId":""},"childCount":0},"content":"","cTag":"","deleted":{"state":""},"file":{"hashes":{"crc32Hash":"","quickXorHash":"","sha1Hash":"","sha256Hash":""},"mimeType":"","processingMetadata":false},"fileSystemInfo":{"lastAccessedDateTime":"1970-01-01T00:00:00.000Z"},"folder":{"childCount":0,"view":{"sortBy":"","sortOrder":"","viewType":""}},"image":{"height":0,"width":0},"location":{"altitude":0,"latitude":0,"longitude":0},"malware":{"description":""},"package":{"type":""},"pendingOperations":{"pendingContentUpdate":{"queuedDateTime":"1970-01-01T00:00:00.000Z"}},"photo":{"cameraMake":"","cameraModel":"","exposureDenominator":0,"exposureNumerator":0,"fNumber":0,"focalLength":0,"iso":0,"orientation":0,"takenDateTime":"1970-01-01T00:00:00.000Z"},"publication":{"checkedOutBy":{},"level":"","versionId":""},"remoteItem":{"createdBy":{},"file":{"mimeType":"","processingMetadata":false},"fileSystemInfo":{"lastAccessedDateTime":"1970-01-01T00:00:00.000Z"},"folder":{"childCount":0},"image":{"height":0,"width":0},"lastModifiedBy":{},"name":"","package":{"type":""},"parentReference":{"driveId":"","driveType":"","name":"","path":"","shareId":"","siteId":""},"shared":{"scope":"","sharedDateTime":"1970-01-01T00:00:00.000Z"},"sharepointIds":{"listId":"","listItemId":"","listItemUniqueId":"","siteId":"","siteUrl":"","tenantId":"","webId":""},"size":0,"specialFolder":{"name":""},"video":{"audioBitsPerSample":0,"audioChannels":0,"audioFormat":"","audioSamplesPerSecond":0,"bitrate":0,"duration":0,"fourCC":"","height":0,"width":0},"webDavUrl":"","webUrl":""},"root":{},"searchResult":{"onClickTelemetryUrl":""},"shared":{"owner":{},"scope":"","sharedBy":{},"sharedDateTime":"1970-01-01T00:00:00.000Z"},"sharepointIds":{"listId":"","listItemId":"","listItemUniqueId":"","siteId":"","siteUrl":"","tenantId":"","webId":""},"size":0,"specialFolder":{"name":""},"video":{"audioBitsPerSample":0,"audioChannels":0,"audioFormat":"","audioSamplesPerSecond":0,"bitrate":0,"duration":0,"fourCC":"","frameRate":0,"height":0,"width":0},"webDavUrl":"","analytics":{"allTime":{},"itemActivityStats":[{}],"lastSevenDays":{}},"children":[],"listItem":{"description":"","eTag":"","name":"","webUrl":"","contentType":{},"deleted":{},"sharepointIds":{},"analytics":{},"documentSetVersions":[{}],"fields":{},"permissions":[{}],"versions":[{}]},"permissions":[{"expirationDateTime":"1970-01-01T00:00:00.000Z","grantedTo":{},"grantedToIdentities":[{}],"grantedToIdentitiesV2":[{}],"grantedToV2":{},"hasPassword":false,"inheritedFrom":{},"invitation":{},"link":{},"roles":[""],"shareId":""}],"retentionLabel":{"isLabelAppliedExplicitly":false,"labelAppliedBy":{},"labelAppliedDateTime":"1970-01-01T00:00:00.000Z","name":"","retentionSettings":{}},"subscriptions":[{"applicationId":"","changeType":"","clientState":"","creatorId":"","encryptionCertificate":"","encryptionCertificateId":"","expirationDateTime":"1970-01-01T00:00:00.000Z","includeResourceData":false,"latestSupportedTlsVersion":"","lifecycleNotificationUrl":"","notificationQueryOptions":"","notificationUrl":"","notificationUrlAppId":"","resource":""}],"thumbnails":[{"large":{},"medium":{},"small":{},"source":{}}],"versions":[{"content":"","size":0}],"workbook":{"application":{},"comments":[{}],"functions":{},"names":[{}],"operations":[{}],"tables":[{}],"worksheets":[{}]}}}}}},"delete":{"operationId":"drives.DeleteItems","summary":"Delete navigation property items for drives","tags":["drives.driveItem"],"parameters":[{"name":"drive-id","in":"path","required":true,"description":"The unique identifier of drive","schema":{"type":"string"}},{"name":"driveItem-id","in":"path","required":true,"description":"The unique identifier of driveItem","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/drives/{drive-id}/items/{driveItem-id}/children":{"get":{"operationId":"drives.items.ListChildren","summary":"List children of a driveItem","description":"Return a collection of DriveItems in the children relationship of a DriveItem. DriveItems with a non-null folder or package facet can have one or more child DriveItems.","tags":["drives.driveItem"],"parameters":[{"name":"drive-id","in":"path","required":true,"description":"The unique identifier of drive","schema":{"type":"string"}},{"name":"driveItem-id","in":"path","required":true,"description":"The unique identifier of driveItem","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"post":{"operationId":"drives.items.CreateChildren","summary":"Create new navigation property to children for drives","tags":["drives.driveItem"],"parameters":[{"name":"drive-id","in":"path","required":true,"description":"The unique identifier of drive","schema":{"type":"string"}},{"name":"driveItem-id","in":"path","required":true,"description":"The unique identifier of driveItem","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"createdBy":{"application":{},"device":{},"user":{}},"description":"","eTag":"","lastModifiedBy":{"application":{},"device":{},"user":{}},"name":"","parentReference":{"driveId":"","driveType":"","name":"","path":"","shareId":"","sharepointIds":{},"siteId":""},"webUrl":"","createdByUser":{"aboutMe":"","accountEnabled":false,"ageGroup":"","assignedLicenses":[],"assignedPlans":[],"birthday":"1970-01-01T00:00:00.000Z","businessPhones":[],"city":"","companyName":"","consentProvidedForMinor":"","country":"","creationType":"","department":"","deviceEnrollmentLimit":0,"displayName":"","employeeHireDate":"1970-01-01T00:00:00.000Z","employeeId":"","employeeLeaveDateTime":"1970-01-01T00:00:00.000Z","employeeType":"","externalUserState":"","externalUserStateChangeDateTime":"1970-01-01T00:00:00.000Z","faxNumber":"","givenName":"","hireDate":"1970-01-01T00:00:00.000Z","identities":[],"identityParentId":"","imAddresses":[],"interests":[],"isManagementRestricted":false,"isResourceAccount":false,"jobTitle":"","lastPasswordChangeDateTime":"1970-01-01T00:00:00.000Z","legalAgeGroupClassification":"","licenseAssignmentStates":[],"mail":"","mailNickname":"","mobilePhone":"","mySite":"","officeLocation":"","onPremisesDistinguishedName":"","onPremisesDomainName":"","onPremisesImmutableId":"","onPremisesLastSyncDateTime":"1970-01-01T00:00:00.000Z","onPremisesProvisioningErrors":[],"onPremisesSamAccountName":"","onPremisesSecurityIdentifier":"","onPremisesSyncEnabled":false,"onPremisesUserPrincipalName":"","otherMails":[],"passwordPolicies":"","pastProjects":[],"postalCode":"","preferredDataLocation":"","preferredLanguage":"","preferredName":"","provisionedPlans":[],"proxyAddresses":[],"responsibilities":[],"schools":[],"securityIdentifier":"","serviceProvisioningErrors":[],"showInAddressList":false,"signInSessionsValidFromDateTime":"1970-01-01T00:00:00.000Z","skills":[],"state":"","streetAddress":"","surname":"","usageLocation":"","userPrincipalName":"","userType":"","activities":[],"adhocCalls":[],"agreementAcceptances":[],"appRoleAssignments":[],"calendarGroups":[],"calendars":[],"calendarView":[],"chats":[],"cloudPCs":[],"contactFolders":[],"contacts":[],"createdObjects":[],"deviceManagementTroubleshootingEvents":[],"directReports":[],"drives":[],"events":[],"extensions":[],"followedSites":[],"joinedTeams":[],"licenseDetails":[],"mailFolders":[],"managedAppRegistrations":[],"managedDevices":[],"memberOf":[],"messages":[],"notes":[],"oauth2PermissionGrants":[],"onlineMeetings":[],"ownedDevices":[],"ownedObjects":[],"people":[],"permissionGrants":[],"photos":[],"registeredDevices":[],"scopedRoleMemberOf":[],"sponsorOf":[],"sponsors":[],"transitiveMemberOf":[]},"lastModifiedByUser":{"aboutMe":"","accountEnabled":false,"ageGroup":"","assignedLicenses":[],"assignedPlans":[],"birthday":"1970-01-01T00:00:00.000Z","businessPhones":[],"city":"","companyName":"","consentProvidedForMinor":"","country":"","creationType":"","department":"","deviceEnrollmentLimit":0,"displayName":"","employeeHireDate":"1970-01-01T00:00:00.000Z","employeeId":"","employeeLeaveDateTime":"1970-01-01T00:00:00.000Z","employeeType":"","externalUserState":"","externalUserStateChangeDateTime":"1970-01-01T00:00:00.000Z","faxNumber":"","givenName":"","hireDate":"1970-01-01T00:00:00.000Z","identities":[],"identityParentId":"","imAddresses":[],"interests":[],"isManagementRestricted":false,"isResourceAccount":false,"jobTitle":"","lastPasswordChangeDateTime":"1970-01-01T00:00:00.000Z","legalAgeGroupClassification":"","licenseAssignmentStates":[],"mail":"","mailNickname":"","mobilePhone":"","mySite":"","officeLocation":"","onPremisesDistinguishedName":"","onPremisesDomainName":"","onPremisesImmutableId":"","onPremisesLastSyncDateTime":"1970-01-01T00:00:00.000Z","onPremisesProvisioningErrors":[],"onPremisesSamAccountName":"","onPremisesSecurityIdentifier":"","onPremisesSyncEnabled":false,"onPremisesUserPrincipalName":"","otherMails":[],"passwordPolicies":"","pastProjects":[],"postalCode":"","preferredDataLocation":"","preferredLanguage":"","preferredName":"","provisionedPlans":[],"proxyAddresses":[],"responsibilities":[],"schools":[],"securityIdentifier":"","serviceProvisioningErrors":[],"showInAddressList":false,"signInSessionsValidFromDateTime":"1970-01-01T00:00:00.000Z","skills":[],"state":"","streetAddress":"","surname":"","usageLocation":"","userPrincipalName":"","userType":"","activities":[],"adhocCalls":[],"agreementAcceptances":[],"appRoleAssignments":[],"calendarGroups":[],"calendars":[],"calendarView":[],"chats":[],"cloudPCs":[],"contactFolders":[],"contacts":[],"createdObjects":[],"deviceManagementTroubleshootingEvents":[],"directReports":[],"drives":[],"events":[],"extensions":[],"followedSites":[],"joinedTeams":[],"licenseDetails":[],"mailFolders":[],"managedAppRegistrations":[],"managedDevices":[],"memberOf":[],"messages":[],"notes":[],"oauth2PermissionGrants":[],"onlineMeetings":[],"ownedDevices":[],"ownedObjects":[],"people":[],"permissionGrants":[],"photos":[],"registeredDevices":[],"scopedRoleMemberOf":[],"sponsorOf":[],"sponsors":[],"transitiveMemberOf":[]},"audio":{"album":"","albumArtist":"","artist":"","bitrate":0,"composers":"","copyright":"","disc":0,"discCount":0,"duration":0,"genre":"","hasDrm":false,"isVariableBitrate":false,"title":"","track":0,"trackCount":0,"year":0},"bundle":{"album":{"coverImageItemId":""},"childCount":0},"content":"","cTag":"","deleted":{"state":""},"file":{"hashes":{"crc32Hash":"","quickXorHash":"","sha1Hash":"","sha256Hash":""},"mimeType":"","processingMetadata":false},"fileSystemInfo":{"lastAccessedDateTime":"1970-01-01T00:00:00.000Z"},"folder":{"childCount":0,"view":{"sortBy":"","sortOrder":"","viewType":""}},"image":{"height":0,"width":0},"location":{"altitude":0,"latitude":0,"longitude":0},"malware":{"description":""},"package":{"type":""},"pendingOperations":{"pendingContentUpdate":{"queuedDateTime":"1970-01-01T00:00:00.000Z"}},"photo":{"cameraMake":"","cameraModel":"","exposureDenominator":0,"exposureNumerator":0,"fNumber":0,"focalLength":0,"iso":0,"orientation":0,"takenDateTime":"1970-01-01T00:00:00.000Z"},"publication":{"checkedOutBy":{},"level":"","versionId":""},"remoteItem":{"createdBy":{},"file":{"mimeType":"","processingMetadata":false},"fileSystemInfo":{"lastAccessedDateTime":"1970-01-01T00:00:00.000Z"},"folder":{"childCount":0},"image":{"height":0,"width":0},"lastModifiedBy":{},"name":"","package":{"type":""},"parentReference":{"driveId":"","driveType":"","name":"","path":"","shareId":"","siteId":""},"shared":{"scope":"","sharedDateTime":"1970-01-01T00:00:00.000Z"},"sharepointIds":{"listId":"","listItemId":"","listItemUniqueId":"","siteId":"","siteUrl":"","tenantId":"","webId":""},"size":0,"specialFolder":{"name":""},"video":{"audioBitsPerSample":0,"audioChannels":0,"audioFormat":"","audioSamplesPerSecond":0,"bitrate":0,"duration":0,"fourCC":"","height":0,"width":0},"webDavUrl":"","webUrl":""},"root":{},"searchResult":{"onClickTelemetryUrl":""},"shared":{"owner":{},"scope":"","sharedBy":{},"sharedDateTime":"1970-01-01T00:00:00.000Z"},"sharepointIds":{"listId":"","listItemId":"","listItemUniqueId":"","siteId":"","siteUrl":"","tenantId":"","webId":""},"size":0,"specialFolder":{"name":""},"video":{"audioBitsPerSample":0,"audioChannels":0,"audioFormat":"","audioSamplesPerSecond":0,"bitrate":0,"duration":0,"fourCC":"","frameRate":0,"height":0,"width":0},"webDavUrl":"","analytics":{"allTime":{},"itemActivityStats":[{}],"lastSevenDays":{}},"children":[],"listItem":{"description":"","eTag":"","name":"","webUrl":"","contentType":{},"deleted":{},"sharepointIds":{},"analytics":{},"documentSetVersions":[{}],"fields":{},"permissions":[{}],"versions":[{}]},"permissions":[{"expirationDateTime":"1970-01-01T00:00:00.000Z","grantedTo":{},"grantedToIdentities":[{}],"grantedToIdentitiesV2":[{}],"grantedToV2":{},"hasPassword":false,"inheritedFrom":{},"invitation":{},"link":{},"roles":[""],"shareId":""}],"retentionLabel":{"isLabelAppliedExplicitly":false,"labelAppliedBy":{},"labelAppliedDateTime":"1970-01-01T00:00:00.000Z","name":"","retentionSettings":{}},"subscriptions":[{"applicationId":"","changeType":"","clientState":"","creatorId":"","encryptionCertificate":"","encryptionCertificateId":"","expirationDateTime":"1970-01-01T00:00:00.000Z","includeResourceData":false,"latestSupportedTlsVersion":"","lifecycleNotificationUrl":"","notificationQueryOptions":"","notificationUrl":"","notificationUrlAppId":"","resource":""}],"thumbnails":[{"large":{},"medium":{},"small":{},"source":{}}],"versions":[{"content":"","size":0}],"workbook":{"application":{},"comments":[{}],"functions":{},"names":[{}],"operations":[{}],"tables":[{}],"worksheets":[{}]}}}}}}},"/drives/{drive-id}/items/{driveItem-id}/content":{"get":{"operationId":"drives.GetItemsContent","summary":"Get content for the navigation property items from drives","description":"The content stream, if the item represents a file.","tags":["drives.driveItem"],"parameters":[{"name":"drive-id","in":"path","required":true,"description":"The unique identifier of drive","schema":{"type":"string"}},{"name":"driveItem-id","in":"path","required":true,"description":"The unique identifier of driveItem","schema":{"type":"string"}},{"name":"$format","in":"query","required":false,"description":"Format of the content","schema":{"type":"string"}}]},"put":{"operationId":"drives.UpdateItemsContent","summary":"Update content for the navigation property items in drives","description":"The content stream, if the item represents a file.","tags":["drives.driveItem"],"parameters":[{"name":"drive-id","in":"path","required":true,"description":"The unique identifier of drive","schema":{"type":"string"}},{"name":"driveItem-id","in":"path","required":true,"description":"The unique identifier of driveItem","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/octet-stream":{}}}},"delete":{"operationId":"drives.DeleteItemsContent","summary":"Delete content for the navigation property items in drives","description":"The content stream, if the item represents a file.","tags":["drives.driveItem"],"parameters":[{"name":"drive-id","in":"path","required":true,"description":"The unique identifier of drive","schema":{"type":"string"}},{"name":"driveItem-id","in":"path","required":true,"description":"The unique identifier of driveItem","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/me":{"get":{"operationId":"me.user.GetUser","summary":"Get a user","description":"Retrieve the properties and relationships of user object. This operation returns by default only a subset of the more commonly used properties for each user. These default properties are noted in the Properties section. To get properties that are not returned by default, do a GET operation for the user and specify the properties in a $select OData query option. Because the user resource supports extensions, you can also use the GET operation to get custom properties and extension data in a user instance. Customers through Microsoft Entra ID for customers can also use this API operation to retr…","tags":["me.user"],"parameters":[{"name":"ConsistencyLevel","in":"header","required":false,"description":"Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"patch":{"operationId":"me.user.UpdateUser","summary":"Update user","description":"Update the properties of a user object. To use this API to update an agentUser, specify an @odata.type property with a value of #microsoft.graph.agentUser in the request body.","tags":["me.user"],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"example":{"deletedDateTime":"1970-01-01T00:00:00.000Z","aboutMe":"","accountEnabled":false,"ageGroup":"","assignedLicenses":[{"disabledPlans":[""],"skuId":""}],"assignedPlans":[{"assignedDateTime":"1970-01-01T00:00:00.000Z","capabilityStatus":"","service":"","servicePlanId":""}],"authorizationInfo":{"certificateUserIds":[""]},"birthday":"1970-01-01T00:00:00.000Z","businessPhones":[""],"city":"","companyName":"","consentProvidedForMinor":"","country":"","creationType":"","customSecurityAttributes":{},"department":"","deviceEnrollmentLimit":0,"displayName":"","employeeHireDate":"1970-01-01T00:00:00.000Z","employeeId":"","employeeLeaveDateTime":"1970-01-01T00:00:00.000Z","employeeOrgData":{"costCenter":"","division":""},"employeeType":"","externalUserState":"","externalUserStateChangeDateTime":"1970-01-01T00:00:00.000Z","faxNumber":"","givenName":"","hireDate":"1970-01-01T00:00:00.000Z","identities":[{"issuer":"","issuerAssignedId":"","signInType":""}],"identityParentId":"","imAddresses":[""],"interests":[""],"isManagementRestricted":false,"isResourceAccount":false,"jobTitle":"","lastPasswordChangeDateTime":"1970-01-01T00:00:00.000Z","legalAgeGroupClassification":"","licenseAssignmentStates":[{"assignedByGroup":"","disabledPlans":[""],"error":"","lastUpdatedDateTime":"1970-01-01T00:00:00.000Z","skuId":"","state":""}],"mail":"","mailboxSettings":{"archiveFolder":"","automaticRepliesSetting":{"externalReplyMessage":"","internalReplyMessage":""},"dateFormat":"","delegateMeetingMessageDeliveryOptions":"sendToDelegateAndInformationToPrincipal","language":{"displayName":"","locale":""},"timeFormat":"","timeZone":"","userPurpose":"user","workingHours":{"daysOfWeek":[],"endTime":"","startTime":""}},"mailNickname":"","mobilePhone":"","mySite":"","officeLocation":"","onPremisesDistinguishedName":"","onPremisesDomainName":"","onPremisesExtensionAttributes":{"extensionAttribute1":"","extensionAttribute10":"","extensionAttribute11":"","extensionAttribute12":"","extensionAttribute13":"","extensionAttribute14":"","extensionAttribute15":"","extensionAttribute2":"","extensionAttribute3":"","extensionAttribute4":"","extensionAttribute5":"","extensionAttribute6":"","extensionAttribute7":"","extensionAttribute8":"","extensionAttribute9":""},"onPremisesImmutableId":"","onPremisesLastSyncDateTime":"1970-01-01T00:00:00.000Z","onPremisesProvisioningErrors":[{"category":"","occurredDateTime":"1970-01-01T00:00:00.000Z","propertyCausingError":"","value":""}],"onPremisesSamAccountName":"","onPremisesSecurityIdentifier":"","onPremisesSyncEnabled":false,"onPremisesUserPrincipalName":"","otherMails":[""],"passwordPolicies":"","passwordProfile":{"forceChangePasswordNextSignIn":false,"forceChangePasswordNextSignInWithMfa":false,"password":""},"pastProjects":[""],"postalCode":"","preferredDataLocation":"","preferredLanguage":"","preferredName":"","print":{"recentPrinterShares":[{}]},"provisionedPlans":[{"capabilityStatus":"","provisioningStatus":"","service":""}],"proxyAddresses":[""],"responsibilities":[""],"schools":[""],"securityIdentifier":"","serviceProvisioningErrors":[{"isResolved":false,"serviceInstance":""}],"showInAddressList":false,"signInActivity":{"lastNonInteractiveSignInDateTime":"1970-01-01T00:00:00.000Z","lastNonInteractiveSignInRequestId":"","lastSignInDateTime":"1970-01-01T00:00:00.000Z","lastSignInRequestId":"","lastSuccessfulSignInDateTime":"1970-01-01T00:00:00.000Z","lastSuccessfulSignInRequestId":""},"signInSessionsValidFromDateTime":"1970-01-01T00:00:00.000Z","skills":[""],"state":"","streetAddress":"","surname":"","usageLocation":"","userPrincipalName":"","userType":"","activities":[{"activationUrl":"","activitySourceHost":"","appActivityId":"","appDisplayName":"","contentUrl":"","expirationDateTime":"1970-01-01T00:00:00.000Z","fallbackUrl":"","status":"active","userTimezone":"","visualElements":{"backgroundColor":"","description":"","displayText":""},"historyItems":[{}]}],"adhocCalls":[{"recordings":[{}],"transcripts":[{}]}],"agreementAcceptances":[{"agreementFileId":"","agreementId":"","deviceDisplayName":"","deviceId":"","deviceOSType":"","deviceOSVersion":"","expirationDateTime":"1970-01-01T00:00:00.000Z","recordedDateTime":"1970-01-01T00:00:00.000Z","state":"accepted","userDisplayName":"","userEmail":"","userId":"","userPrincipalName":""}],"appRoleAssignments":[{"deletedDateTime":"1970-01-01T00:00:00.000Z","appRoleId":"","principalDisplayName":"","principalId":"","principalType":"","resourceDisplayName":"","resourceId":""}],"authentication":{"emailMethods":[{}],"externalAuthenticationMethods":[{}],"fido2Methods":[{}],"methods":[{}],"microsoftAuthenticatorMethods":[{}],"operations":[{}],"passwordMethods":[{}],"phoneMethods":[{}],"platformCredentialMethods":[{}],"softwareOathMethods":[{}],"temporaryAccessPassMethods":[{}],"windowsHelloForBusinessMethods":[{}]},"calendar":{"allowedOnlineMeetingProviders":[],"canEdit":false,"canShare":false,"canViewPrivateItems":false,"color":"auto","defaultOnlineMeetingProvider":"unknown","hexColor":"","isDefaultCalendar":false,"isRemovable":false,"isTallyingResponses":false,"name":"","owner":{},"calendarPermissions":[{}],"calendarView":[{}],"events":[{}],"multiValueExtendedProperties":[{}],"singleValueExtendedProperties":[{}]},"calendarGroups":[{"classId":"","name":"","calendars":[{}]}],"calendars":[{"allowedOnlineMeetingProviders":[],"canEdit":false,"canShare":false,"canViewPrivateItems":false,"color":"auto","defaultOnlineMeetingProvider":"unknown","hexColor":"","isDefaultCalendar":false,"isRemovable":false,"isTallyingResponses":false,"name":"","owner":{},"calendarPermissions":[{}],"calendarView":[{}],"events":[{}],"multiValueExtendedProperties":[{}],"singleValueExtendedProperties":[{}]}],"calendarView":[{"categories":[],"allowNewTimeProposals":false,"attendees":[{}],"body":{},"bodyPreview":"","cancelledOccurrences":[""],"end":{},"hasAttachments":false,"hideAttendees":false,"importance":"low","isAllDay":false,"isCancelled":false,"isDraft":false,"isOnlineMeeting":false,"isOrganizer":false,"isReminderOn":false,"location":{},"locations":[{}],"onlineMeeting":{},"onlineMeetingProvider":"unknown","onlineMeetingUrl":"","organizer":{},"originalEndTimeZone":"","originalStart":"1970-01-01T00:00:00.000Z","originalStartTimeZone":"","recurrence":{},"reminderMinutesBeforeStart":0,"responseRequested":false,"responseStatus":{},"sensitivity":"normal","seriesMasterId":"","showAs":"unknown","start":{},"subject":"","transactionId":"","type":"singleInstance","attachments":[{}],"calendar":{},"exceptionOccurrences":[],"extensions":[{}],"instances":[],"multiValueExtendedProperties":[{}],"singleValueExtendedProperties":[{}]}],"chats":[{"chatType":"oneOnOne","isHiddenForAllMembers":false,"lastUpdatedDateTime":"1970-01-01T00:00:00.000Z","migrationMode":"inProgress","onlineMeetingInfo":{},"originalCreatedDateTime":"1970-01-01T00:00:00.000Z","tenantId":"","topic":"","viewpoint":{},"webUrl":"","installedApps":[{}],"lastMessagePreview":{},"members":[{}],"messages":[{}],"permissionGrants":[{}],"pinnedMessages":[{}],"tabs":[{}],"targetedMessages":[{}]}],"cloudClipboard":{"items":[{}]},"cloudPCs":[{"aadDeviceId":"","displayName":"","gracePeriodEndDateTime":"1970-01-01T00:00:00.000Z","imageDisplayName":"","managedDeviceId":"","managedDeviceName":"","onPremisesConnectionName":"","provisioningPolicyId":"","provisioningPolicyName":"","provisioningType":"dedicated","servicePlanId":"","servicePlanName":"","userPrincipalName":""}],"contactFolders":[{"displayName":"","childFolders":[],"contacts":[{}],"multiValueExtendedProperties":[{}],"singleValueExtendedProperties":[{}]}],"contacts":[{"categories":[],"assistantName":"","birthday":"1970-01-01T00:00:00.000Z","businessAddress":{},"businessHomePage":"","businessPhones":[""],"children":[""],"companyName":"","department":"","displayName":"","emailAddresses":[{}],"fileAs":"","generation":"","givenName":"","homeAddress":{},"homePhones":[""],"imAddresses":[""],"initials":"","jobTitle":"","manager":"","middleName":"","mobilePhone":"","nickName":"","officeLocation":"","otherAddress":{},"personalNotes":"","primaryEmailAddress":{},"profession":"","secondaryEmailAddress":{},"spouseName":"","surname":"","tertiaryEmailAddress":{},"title":"","yomiCompanyName":"","yomiGivenName":"","yomiSurname":"","extensions":[{}],"multiValueExtendedProperties":[{}],"photo":{},"singleValueExtendedProperties":[{}]}],"createdObjects":[{"deletedDateTime":"1970-01-01T00:00:00.000Z"}],"dataSecurityAndGovernance":{"sensitivityLabels":[],"activities":{},"protectionScopes":{}},"deviceManagementTroubleshootingEvents":[{"correlationId":"","eventDateTime":"1970-01-01T00:00:00.000Z"}],"directReports":[{"deletedDateTime":"1970-01-01T00:00:00.000Z"}],"drive":{"description":"","eTag":"","name":"","webUrl":"","driveType":"","owner":{},"quota":{},"sharePointIds":{},"system":{},"bundles":[{}],"following":[{}],"items":[{}],"list":{},"root":{},"special":[{}]},"drives":[{"description":"","eTag":"","name":"","webUrl":"","driveType":"","owner":{},"quota":{},"sharePointIds":{},"system":{},"bundles":[{}],"following":[{}],"items":[{}],"list":{},"root":{},"special":[{}]}],"employeeExperience":{"assignedRoles":[{}],"learningCourseActivities":[{}]},"events":[{"categories":[],"allowNewTimeProposals":false,"attendees":[{}],"body":{},"bodyPreview":"","cancelledOccurrences":[""],"end":{},"hasAttachments":false,"hideAttendees":false,"importance":"low","isAllDay":false,"isCancelled":false,"isDraft":false,"isOnlineMeeting":false,"isOrganizer":false,"isReminderOn":false,"location":{},"locations":[{}],"onlineMeeting":{},"onlineMeetingProvider":"unknown","onlineMeetingUrl":"","organizer":{},"originalEndTimeZone":"","originalStart":"1970-01-01T00:00:00.000Z","originalStartTimeZone":"","recurrence":{},"reminderMinutesBeforeStart":0,"responseRequested":false,"responseStatus":{},"sensitivity":"normal","seriesMasterId":"","showAs":"unknown","start":{},"subject":"","transactionId":"","type":"singleInstance","attachments":[{}],"calendar":{},"exceptionOccurrences":[],"extensions":[{}],"instances":[],"multiValueExtendedProperties":[{}],"singleValueExtendedProperties":[{}]}],"extensions":[{}],"followedSites":[{"description":"","eTag":"","name":"","webUrl":"","displayName":"","error":{},"isPersonalSite":false,"root":{},"sharepointIds":{},"siteCollection":{},"analytics":{},"columns":[{}],"contentTypes":[{}],"drive":{},"drives":[{}],"externalColumns":[{}],"items":[{}],"lists":[{}],"onenote":{},"operations":[{}],"pages":[{}],"permissions":[{}],"sites":[],"termStore":{},"termStores":[{}]}],"inferenceClassification":{"overrides":[{}]},"insights":{"shared":[],"trending":[],"used":[]},"joinedTeams":[{"classification":"","description":"","displayName":"","firstChannelName":"","funSettings":{},"guestSettings":{},"internalId":"","isArchived":false,"memberSettings":{},"messagingSettings":{},"specialization":"none","summary":{},"tenantId":"","visibility":"private","webUrl":"","allChannels":[{}],"channels":[{}],"group":{},"incomingChannels":[{}],"installedApps":[{}],"members":[{}],"operations":[{}],"permissionGrants":[{}],"photo":{},"primaryChannel":{},"schedule":{},"tags":[{}],"template":{}}],"licenseDetails":[{"servicePlans":[{}],"skuId":"","skuPartNumber":""}],"mailFolders":[{"childFolderCount":0,"displayName":"","isHidden":false,"totalItemCount":0,"unreadItemCount":0,"childFolders":[],"messageRules":[{}],"messages":[{}],"multiValueExtendedProperties":[{}],"singleValueExtendedProperties":[{}]}],"managedAppRegistrations":[{"appIdentifier":{},"applicationVersion":"","deviceName":"","deviceTag":"","deviceType":"","flaggedReasons":["none"],"lastSyncDateTime":"1970-01-01T00:00:00.000Z","managementSdkVersion":"","platformVersion":"","userId":"","version":"","appliedPolicies":[{}],"intendedPolicies":[{}],"operations":[{}]}],"managedDevices":[{"complianceState":"unknown","deviceEnrollmentType":"unknown","deviceRegistrationState":"notRegistered","exchangeAccessState":"none","exchangeAccessStateReason":"none","managedDeviceName":"","managedDeviceOwnerType":"unknown","managementAgent":"eas","managementState":"managed","notes":"","partnerReportedThreatState":"unknown","deviceCategory":{},"deviceCompliancePolicyStates":[{}],"deviceConfigurationStates":[{}],"logCollectionRequests":[{}],"users":[],"windowsProtectionState":{}}],"manager":{"deletedDateTime":"1970-01-01T00:00:00.000Z"},"memberOf":[{"deletedDateTime":"1970-01-01T00:00:00.000Z"}],"messages":[{"categories":[],"bccRecipients":[{}],"body":{},"bodyPreview":"","ccRecipients":[{}],"flag":{},"from":{},"hasAttachments":false,"importance":"low","inferenceClassification":"focused","internetMessageHeaders":[{}],"isDeliveryReceiptRequested":false,"isDraft":false,"isRead":false,"isReadReceiptRequested":false,"receivedDateTime":"1970-01-01T00:00:00.000Z","replyTo":[{}],"sender":{},"sentDateTime":"1970-01-01T00:00:00.000Z","subject":"","toRecipients":[{}],"uniqueBody":{},"attachments":[{}],"extensions":[{}],"multiValueExtendedProperties":[{}],"singleValueExtendedProperties":[{}]}],"notes":[{"categories":[],"body":{},"subject":"","attachments":[{}],"extensions":[{}],"multiValueExtendedProperties":[{}],"singleValueExtendedProperties":[{}]}],"oauth2PermissionGrants":[{"clientId":"","consentType":"","principalId":"","resourceId":"","scope":""}],"onenote":{"notebooks":[{}],"operations":[{}],"pages":[{}],"resources":[{}],"sectionGroups":[{}],"sections":[{}]},"onlineMeetings":[{"allowAttendeeToEnableCamera":false,"allowAttendeeToEnableMic":false,"allowBreakoutRooms":false,"allowCopyingAndSharingMeetingContent":false,"allowParticipantsToChangeName":false,"allowPowerPointSharing":false,"allowRecording":false,"allowTeamworkReactions":false,"allowTranscription":false,"allowWhiteboard":false,"expiryDateTime":"1970-01-01T00:00:00.000Z","isEndToEndEncryptionEnabled":false,"isEntryExitAnnounced":false,"joinWebUrl":"","meetingOptionsWebUrl":"","meetingSpokenLanguageTag":"","recordAutomatically":false,"subject":"","videoTeleconferenceId":"","attendanceReports":[],"attendeeReport":"","broadcastSettings":{},"creationDateTime":"1970-01-01T00:00:00.000Z","endDateTime":"1970-01-01T00:00:00.000Z","externalId":"","isBroadcast":false,"meetingTemplateId":"","participants":{},"startDateTime":"1970-01-01T00:00:00.000Z","recordings":[{}],"transcripts":[{}]}],"onPremisesSyncBehavior":{"isCloudManaged":false},"outlook":{"masterCategories":[{}]},"ownedDevices":[{"deletedDateTime":"1970-01-01T00:00:00.000Z"}],"ownedObjects":[{"deletedDateTime":"1970-01-01T00:00:00.000Z"}],"people":[{"birthday":"","companyName":"","department":"","displayName":"","givenName":"","imAddress":"","isFavorite":false,"jobTitle":"","officeLocation":"","personNotes":"","personType":{},"phones":[{}],"postalAddresses":[{}],"profession":"","scoredEmailAddresses":[{}],"surname":"","userPrincipalName":"","websites":[{}],"yomiCompany":""}],"permissionGrants":[{"deletedDateTime":"1970-01-01T00:00:00.000Z","clientAppId":"","clientId":"","permission":"","permissionType":"","resourceAppId":""}],"photo":{"height":0,"width":0},"photos":[{"height":0,"width":0}],"planner":{"plans":[{}],"tasks":[{}]},"presence":{"activity":"","availability":"","outOfOfficeSettings":{},"statusMessage":{},"workLocation":{}},"registeredDevices":[{"deletedDateTime":"1970-01-01T00:00:00.000Z"}],"scopedRoleMemberOf":[{"administrativeUnitId":"","roleId":"","roleMemberInfo":{"displayName":""}}],"settings":{"contributionToContentDiscoveryAsOrganizationDisabled":false,"contributionToContentDiscoveryDisabled":false,"exchange":{},"itemInsights":{},"shiftPreferences":{},"storage":{},"windows":[{}],"workHoursAndLocations":{}},"solutions":{"workingTimeSchedule":{}},"sponsorOf":[{"deletedDateTime":"1970-01-01T00:00:00.000Z"}],"sponsors":[{"deletedDateTime":"1970-01-01T00:00:00.000Z"}],"teamwork":{"locale":"","region":"","associatedTeams":[{}],"installedApps":[{}]},"todo":{"lists":[{}]},"transitiveMemberOf":[{"deletedDateTime":"1970-01-01T00:00:00.000Z"}]}}}}}},"/me/calendar":{"get":{"operationId":"me.GetCalendar","summary":"Get calendar","description":"Get the properties and relationships of a calendar object. The calendar can be one for a user,\r\nor the default calendar of a Microsoft 365 group. There are two scenarios where an app can get another user's calendar:","tags":["me.calendar"],"parameters":[{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"patch":{"operationId":"me.UpdateCalendar","summary":"Update calendar","description":"Update the properties of a calendar object. The calendar can be one for a user,\r\nor the default calendar of a Microsoft 365 group.","tags":["me.calendar"],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"example":{"allowedOnlineMeetingProviders":["unknown"],"canEdit":false,"canShare":false,"canViewPrivateItems":false,"color":"auto","defaultOnlineMeetingProvider":"unknown","hexColor":"","isDefaultCalendar":false,"isRemovable":false,"isTallyingResponses":false,"name":"","owner":{"address":"","name":""},"calendarPermissions":[{"allowedRoles":[],"emailAddress":{},"isInsideOrganization":false,"isRemovable":false,"role":"none"}],"calendarView":[{"categories":[],"allowNewTimeProposals":false,"attendees":[{}],"body":{},"bodyPreview":"","cancelledOccurrences":[""],"end":{},"hasAttachments":false,"hideAttendees":false,"importance":"low","isAllDay":false,"isCancelled":false,"isDraft":false,"isOnlineMeeting":false,"isOrganizer":false,"isReminderOn":false,"location":{},"locations":[{}],"onlineMeeting":{},"onlineMeetingProvider":"unknown","onlineMeetingUrl":"","organizer":{},"originalEndTimeZone":"","originalStart":"1970-01-01T00:00:00.000Z","originalStartTimeZone":"","recurrence":{},"reminderMinutesBeforeStart":0,"responseRequested":false,"responseStatus":{},"sensitivity":"normal","seriesMasterId":"","showAs":"unknown","start":{},"subject":"","transactionId":"","type":"singleInstance","attachments":[{}],"exceptionOccurrences":[],"extensions":[{}],"instances":[],"multiValueExtendedProperties":[{}],"singleValueExtendedProperties":[{}]}],"events":[{"categories":[],"allowNewTimeProposals":false,"attendees":[{}],"body":{},"bodyPreview":"","cancelledOccurrences":[""],"end":{},"hasAttachments":false,"hideAttendees":false,"importance":"low","isAllDay":false,"isCancelled":false,"isDraft":false,"isOnlineMeeting":false,"isOrganizer":false,"isReminderOn":false,"location":{},"locations":[{}],"onlineMeeting":{},"onlineMeetingProvider":"unknown","onlineMeetingUrl":"","organizer":{},"originalEndTimeZone":"","originalStart":"1970-01-01T00:00:00.000Z","originalStartTimeZone":"","recurrence":{},"reminderMinutesBeforeStart":0,"responseRequested":false,"responseStatus":{},"sensitivity":"normal","seriesMasterId":"","showAs":"unknown","start":{},"subject":"","transactionId":"","type":"singleInstance","attachments":[{}],"exceptionOccurrences":[],"extensions":[{}],"instances":[],"multiValueExtendedProperties":[{}],"singleValueExtendedProperties":[{}]}],"multiValueExtendedProperties":[{"value":[""]}],"singleValueExtendedProperties":[{"value":""}]}}}}}},"/me/calendar/calendarPermissions":{"get":{"operationId":"me.calendar.ListCalendarPermissions","summary":"Get calendarPermissions from me","description":"The permissions of the users with whom the calendar is shared.","tags":["me.calendar"],"parameters":[{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"post":{"operationId":"me.calendar.CreateCalendarPermissions","summary":"Create calendarPermission","description":"Create a calendarPermission resource to specify the identity and role of the user with whom the specified calendar is being shared or delegated.","tags":["me.calendar"],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"example":{"allowedRoles":["none"],"emailAddress":{"address":"","name":""},"isInsideOrganization":false,"isRemovable":false,"role":"none"}}}}}},"/me/calendar/calendarPermissions/{calendarPermission-id}":{"get":{"operationId":"me.calendar.GetCalendarPermissions","summary":"Get calendarPermissions from me","description":"The permissions of the users with whom the calendar is shared.","tags":["me.calendar"],"parameters":[{"name":"calendarPermission-id","in":"path","required":true,"description":"The unique identifier of calendarPermission","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"patch":{"operationId":"me.calendar.UpdateCalendarPermissions","summary":"Update the navigation property calendarPermissions in me","tags":["me.calendar"],"parameters":[{"name":"calendarPermission-id","in":"path","required":true,"description":"The unique identifier of calendarPermission","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"allowedRoles":["none"],"emailAddress":{"address":"","name":""},"isInsideOrganization":false,"isRemovable":false,"role":"none"}}}}},"delete":{"operationId":"me.calendar.DeleteCalendarPermissions","summary":"Delete navigation property calendarPermissions for me","tags":["me.calendar"],"parameters":[{"name":"calendarPermission-id","in":"path","required":true,"description":"The unique identifier of calendarPermission","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/me/calendar/calendarPermissions/$count":{"get":{"operationId":"me.calendar.calendarPermissions.GetCount-7010","summary":"Get the number of the resource","tags":["me.calendar"],"parameters":[{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}}]}},"/me/calendar/calendarView":{"get":{"operationId":"me.calendar.ListCalendarView","summary":"List calendarView","description":"Get the occurrences, exceptions and single instances of events in a calendar view defined by a time range,\r\nfrom a user's default calendar (../me/calendarView) or some other calendar of the user's.","tags":["me.calendar"],"parameters":[{"name":"startDateTime","in":"query","required":true,"description":"The start date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T19:00:00-08:00","schema":{"type":"string"}},{"name":"endDateTime","in":"query","required":true,"description":"The end date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]}},"/me/calendar/calendarView/delta()":{"get":{"operationId":"me.calendar.calendarView.delta","summary":"Invoke function delta","description":"Get a set of event resources that have been added, deleted, or updated in a calendarView (a range of events defined by start and end dates) of the user's primary calendar. Typically, synchronizing events in a calendarView in a local store entails a round of multiple delta function calls. The initial call is a full synchronization, and every subsequent delta call in the same round gets the incremental changes (additions, deletions, or updates). This allows you to maintain and synchronize a local store of events in the specified calendarView, without having to fetch all the events of that calend…","tags":["me.calendar"],"parameters":[{"name":"startDateTime","in":"query","required":true,"description":"The start date and time of the time range in the function, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00","schema":{"type":"string"}},{"name":"endDateTime","in":"query","required":true,"description":"The end date and time of the time range in the function, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]}},"/me/calendar/events":{"get":{"operationId":"me.calendar.ListEvents","summary":"List events","description":"Retrieve a list of events in a calendar. The calendar can be one for a user, or the default calendar of a Microsoft 365 group. The list of events contains single instance meetings and series masters. To get expanded event instances, you can get the calendar view, or\r\nget the instances of an event.","tags":["me.calendar"],"parameters":[{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"post":{"operationId":"me.calendar.CreateEvents","summary":"Create new navigation property to events for me","tags":["me.calendar"],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"example":{"categories":[""],"allowNewTimeProposals":false,"attendees":[{"proposedNewTime":{},"status":{}}],"body":{"content":"","contentType":"text"},"bodyPreview":"","cancelledOccurrences":[""],"end":{"dateTime":"","timeZone":""},"hasAttachments":false,"hideAttendees":false,"importance":"low","isAllDay":false,"isCancelled":false,"isDraft":false,"isOnlineMeeting":false,"isOrganizer":false,"isReminderOn":false,"location":{"address":{"city":"","countryOrRegion":"","postalCode":"","state":"","street":""},"coordinates":{},"displayName":"","locationEmailAddress":"","locationType":"default","locationUri":"","uniqueId":"","uniqueIdType":"unknown"},"locations":[{"address":{"city":"","countryOrRegion":"","postalCode":"","state":"","street":""},"coordinates":{},"displayName":"","locationEmailAddress":"","locationType":"default","locationUri":"","uniqueId":"","uniqueIdType":"unknown"}],"onlineMeeting":{"conferenceId":"","joinUrl":"","phones":[{"language":"","number":"","region":""}],"quickDial":"","tollFreeNumbers":[""],"tollNumber":""},"onlineMeetingProvider":"unknown","onlineMeetingUrl":"","organizer":{"emailAddress":{"address":"","name":""}},"originalEndTimeZone":"","originalStart":"1970-01-01T00:00:00.000Z","originalStartTimeZone":"","recurrence":{"pattern":{"dayOfMonth":0,"daysOfWeek":[],"interval":0,"month":0},"range":{"endDate":"1970-01-01","numberOfOccurrences":0,"recurrenceTimeZone":"","startDate":"1970-01-01"}},"reminderMinutesBeforeStart":0,"responseRequested":false,"responseStatus":{"response":"none","time":"1970-01-01T00:00:00.000Z"},"sensitivity":"normal","seriesMasterId":"","showAs":"unknown","start":{"dateTime":"","timeZone":""},"subject":"","transactionId":"","type":"singleInstance","attachments":[{"contentType":"","isInline":false,"name":"","size":0}],"calendar":{"allowedOnlineMeetingProviders":[],"canEdit":false,"canShare":false,"canViewPrivateItems":false,"color":"auto","defaultOnlineMeetingProvider":"unknown","hexColor":"","isDefaultCalendar":false,"isRemovable":false,"isTallyingResponses":false,"name":"","owner":{},"calendarPermissions":[{}],"calendarView":[],"events":[],"multiValueExtendedProperties":[{}],"singleValueExtendedProperties":[{}]},"exceptionOccurrences":[],"extensions":[{}],"instances":[],"multiValueExtendedProperties":[{"value":[""]}],"singleValueExtendedProperties":[{"value":""}]}}}}}},"/me/calendar/events/{event-id}":{"get":{"operationId":"me.calendar.GetEvents","summary":"Get events from me","description":"The events in the calendar. Navigation property. Read-only.","tags":["me.calendar"],"parameters":[{"name":"event-id","in":"path","required":true,"description":"The unique identifier of event","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"patch":{"operationId":"me.calendar.UpdateEvents","summary":"Update the navigation property events in me","tags":["me.calendar"],"parameters":[{"name":"event-id","in":"path","required":true,"description":"The unique identifier of event","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"categories":[""],"allowNewTimeProposals":false,"attendees":[{"proposedNewTime":{},"status":{}}],"body":{"content":"","contentType":"text"},"bodyPreview":"","cancelledOccurrences":[""],"end":{"dateTime":"","timeZone":""},"hasAttachments":false,"hideAttendees":false,"importance":"low","isAllDay":false,"isCancelled":false,"isDraft":false,"isOnlineMeeting":false,"isOrganizer":false,"isReminderOn":false,"location":{"address":{"city":"","countryOrRegion":"","postalCode":"","state":"","street":""},"coordinates":{},"displayName":"","locationEmailAddress":"","locationType":"default","locationUri":"","uniqueId":"","uniqueIdType":"unknown"},"locations":[{"address":{"city":"","countryOrRegion":"","postalCode":"","state":"","street":""},"coordinates":{},"displayName":"","locationEmailAddress":"","locationType":"default","locationUri":"","uniqueId":"","uniqueIdType":"unknown"}],"onlineMeeting":{"conferenceId":"","joinUrl":"","phones":[{"language":"","number":"","region":""}],"quickDial":"","tollFreeNumbers":[""],"tollNumber":""},"onlineMeetingProvider":"unknown","onlineMeetingUrl":"","organizer":{"emailAddress":{"address":"","name":""}},"originalEndTimeZone":"","originalStart":"1970-01-01T00:00:00.000Z","originalStartTimeZone":"","recurrence":{"pattern":{"dayOfMonth":0,"daysOfWeek":[],"interval":0,"month":0},"range":{"endDate":"1970-01-01","numberOfOccurrences":0,"recurrenceTimeZone":"","startDate":"1970-01-01"}},"reminderMinutesBeforeStart":0,"responseRequested":false,"responseStatus":{"response":"none","time":"1970-01-01T00:00:00.000Z"},"sensitivity":"normal","seriesMasterId":"","showAs":"unknown","start":{"dateTime":"","timeZone":""},"subject":"","transactionId":"","type":"singleInstance","attachments":[{"contentType":"","isInline":false,"name":"","size":0}],"calendar":{"allowedOnlineMeetingProviders":[],"canEdit":false,"canShare":false,"canViewPrivateItems":false,"color":"auto","defaultOnlineMeetingProvider":"unknown","hexColor":"","isDefaultCalendar":false,"isRemovable":false,"isTallyingResponses":false,"name":"","owner":{},"calendarPermissions":[{}],"calendarView":[],"events":[],"multiValueExtendedProperties":[{}],"singleValueExtendedProperties":[{}]},"exceptionOccurrences":[],"extensions":[{}],"instances":[],"multiValueExtendedProperties":[{"value":[""]}],"singleValueExtendedProperties":[{"value":""}]}}}}},"delete":{"operationId":"me.calendar.DeleteEvents","summary":"Delete navigation property events for me","tags":["me.calendar"],"parameters":[{"name":"event-id","in":"path","required":true,"description":"The unique identifier of event","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/me/calendar/events/{event-id}/attachments":{"get":{"operationId":"me.calendar.events.ListAttachments","summary":"Get attachments from me","description":"The collection of FileAttachment, ItemAttachment, and referenceAttachment attachments for the event. Navigation property. Read-only. Nullable.","tags":["me.calendar"],"parameters":[{"name":"event-id","in":"path","required":true,"description":"The unique identifier of event","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"post":{"operationId":"me.calendar.events.CreateAttachments","summary":"Create new navigation property to attachments for me","tags":["me.calendar"],"parameters":[{"name":"event-id","in":"path","required":true,"description":"The unique identifier of event","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"contentType":"","isInline":false,"name":"","size":0}}}}}},"/me/calendar/events/{event-id}/attachments/{attachment-id}":{"get":{"operationId":"me.calendar.events.GetAttachments","summary":"Get attachments from me","description":"The collection of FileAttachment, ItemAttachment, and referenceAttachment attachments for the event. Navigation property. Read-only. Nullable.","tags":["me.calendar"],"parameters":[{"name":"event-id","in":"path","required":true,"description":"The unique identifier of event","schema":{"type":"string"}},{"name":"attachment-id","in":"path","required":true,"description":"The unique identifier of attachment","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"delete":{"operationId":"me.calendar.events.DeleteAttachments","summary":"Delete navigation property attachments for me","tags":["me.calendar"],"parameters":[{"name":"event-id","in":"path","required":true,"description":"The unique identifier of event","schema":{"type":"string"}},{"name":"attachment-id","in":"path","required":true,"description":"The unique identifier of attachment","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/me/calendar/events/{event-id}/attachments/$count":{"get":{"operationId":"me.calendar.events.attachments.GetCount-53a3","summary":"Get the number of the resource","tags":["me.calendar"],"parameters":[{"name":"event-id","in":"path","required":true,"description":"The unique identifier of event","schema":{"type":"string"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}}]}},"/me/calendar/events/{event-id}/attachments/createUploadSession":{"post":{"operationId":"me.calendar.events.event.attachments.createUploadSession","summary":"Invoke action createUploadSession","description":"Create an upload session that allows an app to iteratively upload ranges of a file, so as to attach the file to the specified Outlook item. The item can be a message or event. Use this approach to attach a file if the file size is between 3 MB and 150 MB. To attach a file that's smaller than 3 MB, do a POST operation on the attachments navigation property of the Outlook item; see how to do this for a message or for an event. As part of the response, this action returns an upload URL that you can use in subsequent sequential PUT queries. Request headers for each PUT operation let you specify th…","tags":["me.calendar"],"parameters":[{"name":"event-id","in":"path","required":true,"description":"The unique identifier of event","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"AttachmentItem":{"attachmentType":"file","contentId":"","contentType":"","isInline":false,"name":"","size":0}}}}}}},"/me/calendar/events/{event-id}/calendar":{"get":{"operationId":"me.calendar.events.GetCalendar","summary":"Get calendar from me","description":"The calendar that contains the event. Navigation property. Read-only.","tags":["me.calendar"],"parameters":[{"name":"event-id","in":"path","required":true,"description":"The unique identifier of event","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]}},"/me/calendar/events/{event-id}/extensions":{"get":{"operationId":"me.calendar.events.ListExtensions","summary":"Get extensions from me","description":"The collection of open extensions defined for the event. Nullable.","tags":["me.calendar"],"parameters":[{"name":"event-id","in":"path","required":true,"description":"The unique identifier of event","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"post":{"operationId":"me.calendar.events.CreateExtensions","summary":"Create new navigation property to extensions for me","tags":["me.calendar"],"parameters":[{"name":"event-id","in":"path","required":true,"description":"The unique identifier of event","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{}}}}}},"/me/calendar/events/{event-id}/extensions/{extension-id}":{"get":{"operationId":"me.calendar.events.GetExtensions","summary":"Get extensions from me","description":"The collection of open extensions defined for the event. Nullable.","tags":["me.calendar"],"parameters":[{"name":"event-id","in":"path","required":true,"description":"The unique identifier of event","schema":{"type":"string"}},{"name":"extension-id","in":"path","required":true,"description":"The unique identifier of extension","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"patch":{"operationId":"me.calendar.events.UpdateExtensions","summary":"Update the navigation property extensions in me","tags":["me.calendar"],"parameters":[{"name":"event-id","in":"path","required":true,"description":"The unique identifier of event","schema":{"type":"string"}},{"name":"extension-id","in":"path","required":true,"description":"The unique identifier of extension","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{}}}}},"delete":{"operationId":"me.calendar.events.DeleteExtensions","summary":"Delete navigation property extensions for me","tags":["me.calendar"],"parameters":[{"name":"event-id","in":"path","required":true,"description":"The unique identifier of event","schema":{"type":"string"}},{"name":"extension-id","in":"path","required":true,"description":"The unique identifier of extension","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/me/calendar/events/{event-id}/extensions/$count":{"get":{"operationId":"me.calendar.events.extensions.GetCount-785d","summary":"Get the number of the resource","tags":["me.calendar"],"parameters":[{"name":"event-id","in":"path","required":true,"description":"The unique identifier of event","schema":{"type":"string"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}}]}},"/me/calendar/events/{event-id}/instances":{"get":{"operationId":"me.calendar.events.ListInstances","summary":"Get instances from me","description":"The occurrences of a recurring series, if the event is a series master. This property includes occurrences that are part of the recurrence pattern, and exceptions modified, but doesn't include occurrences canceled from the series. Navigation property. Read-only. Nullable.","tags":["me.calendar"],"parameters":[{"name":"event-id","in":"path","required":true,"description":"The unique identifier of event","schema":{"type":"string"}},{"name":"startDateTime","in":"query","required":true,"description":"The start date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T19:00:00-08:00","schema":{"type":"string"}},{"name":"endDateTime","in":"query","required":true,"description":"The end date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]}},"/me/calendar/events/{event-id}/instances/delta()":{"get":{"operationId":"me.calendar.events.event.instances.delta","summary":"Invoke function delta","description":"Get a set of event resources that have been added, deleted, or updated in a calendarView (a range of events defined by start and end dates) of the user's primary calendar. Typically, synchronizing events in a calendarView in a local store entails a round of multiple delta function calls. The initial call is a full synchronization, and every subsequent delta call in the same round gets the incremental changes (additions, deletions, or updates). This allows you to maintain and synchronize a local store of events in the specified calendarView, without having to fetch all the events of that calend…","tags":["me.calendar"],"parameters":[{"name":"event-id","in":"path","required":true,"description":"The unique identifier of event","schema":{"type":"string"}},{"name":"startDateTime","in":"query","required":true,"description":"The start date and time of the time range in the function, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00","schema":{"type":"string"}},{"name":"endDateTime","in":"query","required":true,"description":"The end date and time of the time range in the function, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]}},"/me/calendar/events/{event-id}/accept":{"post":{"operationId":"me.calendar.events.event.accept","summary":"Invoke action accept","description":"Accept the specified event in a user calendar.","tags":["me.calendar"],"parameters":[{"name":"event-id","in":"path","required":true,"description":"The unique identifier of event","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"SendResponse":false,"Comment":""}}}}}},"/me/calendar/events/{event-id}/cancel":{"post":{"operationId":"me.calendar.events.event.cancel","summary":"Invoke action cancel","description":"This action allows the organizer of a meeting to send a cancellation message and cancel the event.  The action moves the event to the Deleted Items folder. The organizer can also cancel an occurrence of a recurring meeting \r\nby providing the occurrence event ID. An attendee calling this action gets an error (HTTP 400 Bad Request), with the following\r\nerror message: 'Your request can't be completed. You need to be an organizer to cancel a meeting.' This action differs from Delete in that Cancel is available to only the organizer, and lets\r\nthe organizer send a custom message to the attendees ab…","tags":["me.calendar"],"parameters":[{"name":"event-id","in":"path","required":true,"description":"The unique identifier of event","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"Comment":""}}}}}},"/me/calendar/events/{event-id}/decline":{"post":{"operationId":"me.calendar.events.event.decline","summary":"Invoke action decline","description":"Decline invitation to the specified event in a user calendar. If the event allows proposals for new times, on declining the event, an invitee can choose to suggest an alternative time by including the proposedNewTime parameter. For more information on how to propose a time, and how to receive and accept a new time proposal, see Propose new meeting times.","tags":["me.calendar"],"parameters":[{"name":"event-id","in":"path","required":true,"description":"The unique identifier of event","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"ProposedNewTime":{"end":{"dateTime":"","timeZone":""},"start":{"dateTime":"","timeZone":""}},"SendResponse":false,"Comment":""}}}}}},"/me/calendar/events/{event-id}/dismissReminder":{"post":{"operationId":"me.calendar.events.event.dismissReminder","summary":"Invoke action dismissReminder","description":"Dismiss a reminder that has been triggered for an event in a user calendar.","tags":["me.calendar"],"parameters":[{"name":"event-id","in":"path","required":true,"description":"The unique identifier of event","schema":{"type":"string"}}]}},"/me/calendar/events/{event-id}/forward":{"post":{"operationId":"me.calendar.events.event.forward","summary":"Invoke action forward","description":"This action allows the organizer or attendee of a meeting event to forward the\r\nmeeting request to a new recipient. If the meeting event is forwarded from an attendee's Microsoft 365 mailbox to another recipient, this action\r\nalso sends a message to notify the organizer of the forwarding, and adds the recipient to the organizer's\r\ncopy of the meeting event. This convenience is not available when forwarding from an Outlook.com account.","tags":["me.calendar"],"parameters":[{"name":"event-id","in":"path","required":true,"description":"The unique identifier of event","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"ToRecipients":[{"emailAddress":{"address":"","name":""}}],"Comment":""}}}}}},"/me/calendar/events/{event-id}/permanentDelete":{"post":{"operationId":"me.calendar.events.event.permanentDelete","summary":"Invoke action permanentDelete","tags":["me.calendar"],"parameters":[{"name":"event-id","in":"path","required":true,"description":"The unique identifier of event","schema":{"type":"string"}}]}},"/me/calendar/events/{event-id}/snoozeReminder":{"post":{"operationId":"me.calendar.events.event.snoozeReminder","summary":"Invoke action snoozeReminder","description":"Postpone a reminder for an event in a user calendar until a new time.","tags":["me.calendar"],"parameters":[{"name":"event-id","in":"path","required":true,"description":"The unique identifier of event","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"NewReminderTime":{"dateTime":"","timeZone":""}}}}}}},"/me/calendar/events/{event-id}/tentativelyAccept":{"post":{"operationId":"me.calendar.events.event.tentativelyAccept","summary":"Invoke action tentativelyAccept","description":"Tentatively accept the specified event in a user calendar. If the event allows proposals for new times, on responding tentative to the event, an invitee can choose to suggest an alternative time by including the proposedNewTime parameter. For more information on how to propose a time, and how to receive and accept a new time proposal, see Propose new meeting times.","tags":["me.calendar"],"parameters":[{"name":"event-id","in":"path","required":true,"description":"The unique identifier of event","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"ProposedNewTime":{"end":{"dateTime":"","timeZone":""},"start":{"dateTime":"","timeZone":""}},"SendResponse":false,"Comment":""}}}}}},"/me/calendar/events/$count":{"get":{"operationId":"me.calendar.events.GetCount-0c79","summary":"Get the number of the resource","tags":["me.calendar"],"parameters":[{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}}]}},"/me/calendar/events/delta()":{"get":{"operationId":"me.calendar.events.delta","summary":"Invoke function delta","description":"Get a set of event resources that have been added, deleted, or updated in a calendarView (a range of events defined by start and end dates) of the user's primary calendar. Typically, synchronizing events in a calendarView in a local store entails a round of multiple delta function calls. The initial call is a full synchronization, and every subsequent delta call in the same round gets the incremental changes (additions, deletions, or updates). This allows you to maintain and synchronize a local store of events in the specified calendarView, without having to fetch all the events of that calend…","tags":["me.calendar"],"parameters":[{"name":"startDateTime","in":"query","required":true,"description":"The start date and time of the time range in the function, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00","schema":{"type":"string"}},{"name":"endDateTime","in":"query","required":true,"description":"The end date and time of the time range in the function, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]}},"/me/calendar/allowedCalendarSharingRoles(User='{User}')":{"get":{"operationId":"me.calendar.allowedCalendarSharingRoles","summary":"Invoke function allowedCalendarSharingRoles","tags":["me.calendar"],"parameters":[{"name":"User","in":"path","required":true,"description":"Usage: User='{User}'","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}}]}},"/me/calendar/getSchedule":{"post":{"operationId":"me.calendar.getSchedule","summary":"Invoke action getSchedule","description":"Get the free/busy availability information for a collection of users, distributions lists, or resources (rooms or equipment) for a specified time period.","tags":["me.calendar"],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"example":{"schedules":["someone@example.com"],"startTime":{"dateTime":"2026-01-15T08:00:00","timeZone":"UTC"},"endTime":{"dateTime":"2026-01-15T18:00:00","timeZone":"UTC"},"availabilityViewInterval":30}}}}}},"/me/calendar/permanentDelete":{"post":{"operationId":"me.calendar.permanentDelete","summary":"Invoke action permanentDelete","tags":["me.calendar"],"parameters":[]}},"/me/calendarGroups":{"get":{"operationId":"me.ListCalendarGroups","summary":"List calendarGroups","description":"Get the user's calendar groups.","tags":["me.calendarGroup"],"parameters":[{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"post":{"operationId":"me.CreateCalendarGroups","summary":"Create CalendarGroup","description":"Use this API to create a new CalendarGroup.","tags":["me.calendarGroup"],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"example":{"classId":"","name":"","calendars":[{"allowedOnlineMeetingProviders":[],"canEdit":false,"canShare":false,"canViewPrivateItems":false,"color":"auto","defaultOnlineMeetingProvider":"unknown","hexColor":"","isDefaultCalendar":false,"isRemovable":false,"isTallyingResponses":false,"name":"","owner":{},"calendarPermissions":[{}],"calendarView":[{}],"events":[{}],"multiValueExtendedProperties":[{}],"singleValueExtendedProperties":[{}]}]}}}}}},"/me/calendarGroups/{calendarGroup-id}":{"get":{"operationId":"me.GetCalendarGroups","summary":"Get calendarGroup","description":"Retrieve the properties and relationships of a calendar group object.","tags":["me.calendarGroup"],"parameters":[{"name":"calendarGroup-id","in":"path","required":true,"description":"The unique identifier of calendarGroup","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"patch":{"operationId":"me.UpdateCalendarGroups","summary":"Update calendargroup","description":"Update the properties of calendargroup object.","tags":["me.calendarGroup"],"parameters":[{"name":"calendarGroup-id","in":"path","required":true,"description":"The unique identifier of calendarGroup","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"classId":"","name":"","calendars":[{"allowedOnlineMeetingProviders":[],"canEdit":false,"canShare":false,"canViewPrivateItems":false,"color":"auto","defaultOnlineMeetingProvider":"unknown","hexColor":"","isDefaultCalendar":false,"isRemovable":false,"isTallyingResponses":false,"name":"","owner":{},"calendarPermissions":[{}],"calendarView":[{}],"events":[{}],"multiValueExtendedProperties":[{}],"singleValueExtendedProperties":[{}]}]}}}}},"delete":{"operationId":"me.DeleteCalendarGroups","summary":"Delete calendarGroup","description":"Delete a calendar group other than the default calendar group.","tags":["me.calendarGroup"],"parameters":[{"name":"calendarGroup-id","in":"path","required":true,"description":"The unique identifier of calendarGroup","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/me/calendarGroups/{calendarGroup-id}/calendars":{"get":{"operationId":"me.calendarGroups.ListCalendars","summary":"List calendars","description":"Retrieve a list of calendars belonging to a calendar group.","tags":["me.calendarGroup"],"parameters":[{"name":"calendarGroup-id","in":"path","required":true,"description":"The unique identifier of calendarGroup","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"post":{"operationId":"me.calendarGroups.CreateCalendars","summary":"Create Calendar","description":"Use this API to create a new calendar in a calendar group for a user.","tags":["me.calendarGroup"],"parameters":[{"name":"calendarGroup-id","in":"path","required":true,"description":"The unique identifier of calendarGroup","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"allowedOnlineMeetingProviders":["unknown"],"canEdit":false,"canShare":false,"canViewPrivateItems":false,"color":"auto","defaultOnlineMeetingProvider":"unknown","hexColor":"","isDefaultCalendar":false,"isRemovable":false,"isTallyingResponses":false,"name":"","owner":{"address":"","name":""},"calendarPermissions":[{"allowedRoles":[],"emailAddress":{},"isInsideOrganization":false,"isRemovable":false,"role":"none"}],"calendarView":[{"categories":[],"allowNewTimeProposals":false,"attendees":[{}],"body":{},"bodyPreview":"","cancelledOccurrences":[""],"end":{},"hasAttachments":false,"hideAttendees":false,"importance":"low","isAllDay":false,"isCancelled":false,"isDraft":false,"isOnlineMeeting":false,"isOrganizer":false,"isReminderOn":false,"location":{},"locations":[{}],"onlineMeeting":{},"onlineMeetingProvider":"unknown","onlineMeetingUrl":"","organizer":{},"originalEndTimeZone":"","originalStart":"1970-01-01T00:00:00.000Z","originalStartTimeZone":"","recurrence":{},"reminderMinutesBeforeStart":0,"responseRequested":false,"responseStatus":{},"sensitivity":"normal","seriesMasterId":"","showAs":"unknown","start":{},"subject":"","transactionId":"","type":"singleInstance","attachments":[{}],"exceptionOccurrences":[],"extensions":[{}],"instances":[],"multiValueExtendedProperties":[{}],"singleValueExtendedProperties":[{}]}],"events":[{"categories":[],"allowNewTimeProposals":false,"attendees":[{}],"body":{},"bodyPreview":"","cancelledOccurrences":[""],"end":{},"hasAttachments":false,"hideAttendees":false,"importance":"low","isAllDay":false,"isCancelled":false,"isDraft":false,"isOnlineMeeting":false,"isOrganizer":false,"isReminderOn":false,"location":{},"locations":[{}],"onlineMeeting":{},"onlineMeetingProvider":"unknown","onlineMeetingUrl":"","organizer":{},"originalEndTimeZone":"","originalStart":"1970-01-01T00:00:00.000Z","originalStartTimeZone":"","recurrence":{},"reminderMinutesBeforeStart":0,"responseRequested":false,"responseStatus":{},"sensitivity":"normal","seriesMasterId":"","showAs":"unknown","start":{},"subject":"","transactionId":"","type":"singleInstance","attachments":[{}],"exceptionOccurrences":[],"extensions":[{}],"instances":[],"multiValueExtendedProperties":[{}],"singleValueExtendedProperties":[{}]}],"multiValueExtendedProperties":[{"value":[""]}],"singleValueExtendedProperties":[{"value":""}]}}}}}},"/me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}":{"get":{"operationId":"me.calendarGroups.GetCalendars","summary":"Get calendars from me","description":"The calendars in the calendar group. Navigation property. Read-only. Nullable.","tags":["me.calendarGroup"],"parameters":[{"name":"calendarGroup-id","in":"path","required":true,"description":"The unique identifier of calendarGroup","schema":{"type":"string"}},{"name":"calendar-id","in":"path","required":true,"description":"The unique identifier of calendar","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"patch":{"operationId":"me.calendarGroups.UpdateCalendars","summary":"Update the navigation property calendars in me","tags":["me.calendarGroup"],"parameters":[{"name":"calendarGroup-id","in":"path","required":true,"description":"The unique identifier of calendarGroup","schema":{"type":"string"}},{"name":"calendar-id","in":"path","required":true,"description":"The unique identifier of calendar","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"allowedOnlineMeetingProviders":["unknown"],"canEdit":false,"canShare":false,"canViewPrivateItems":false,"color":"auto","defaultOnlineMeetingProvider":"unknown","hexColor":"","isDefaultCalendar":false,"isRemovable":false,"isTallyingResponses":false,"name":"","owner":{"address":"","name":""},"calendarPermissions":[{"allowedRoles":[],"emailAddress":{},"isInsideOrganization":false,"isRemovable":false,"role":"none"}],"calendarView":[{"categories":[],"allowNewTimeProposals":false,"attendees":[{}],"body":{},"bodyPreview":"","cancelledOccurrences":[""],"end":{},"hasAttachments":false,"hideAttendees":false,"importance":"low","isAllDay":false,"isCancelled":false,"isDraft":false,"isOnlineMeeting":false,"isOrganizer":false,"isReminderOn":false,"location":{},"locations":[{}],"onlineMeeting":{},"onlineMeetingProvider":"unknown","onlineMeetingUrl":"","organizer":{},"originalEndTimeZone":"","originalStart":"1970-01-01T00:00:00.000Z","originalStartTimeZone":"","recurrence":{},"reminderMinutesBeforeStart":0,"responseRequested":false,"responseStatus":{},"sensitivity":"normal","seriesMasterId":"","showAs":"unknown","start":{},"subject":"","transactionId":"","type":"singleInstance","attachments":[{}],"exceptionOccurrences":[],"extensions":[{}],"instances":[],"multiValueExtendedProperties":[{}],"singleValueExtendedProperties":[{}]}],"events":[{"categories":[],"allowNewTimeProposals":false,"attendees":[{}],"body":{},"bodyPreview":"","cancelledOccurrences":[""],"end":{},"hasAttachments":false,"hideAttendees":false,"importance":"low","isAllDay":false,"isCancelled":false,"isDraft":false,"isOnlineMeeting":false,"isOrganizer":false,"isReminderOn":false,"location":{},"locations":[{}],"onlineMeeting":{},"onlineMeetingProvider":"unknown","onlineMeetingUrl":"","organizer":{},"originalEndTimeZone":"","originalStart":"1970-01-01T00:00:00.000Z","originalStartTimeZone":"","recurrence":{},"reminderMinutesBeforeStart":0,"responseRequested":false,"responseStatus":{},"sensitivity":"normal","seriesMasterId":"","showAs":"unknown","start":{},"subject":"","transactionId":"","type":"singleInstance","attachments":[{}],"exceptionOccurrences":[],"extensions":[{}],"instances":[],"multiValueExtendedProperties":[{}],"singleValueExtendedProperties":[{}]}],"multiValueExtendedProperties":[{"value":[""]}],"singleValueExtendedProperties":[{"value":""}]}}}}},"delete":{"operationId":"me.calendarGroups.DeleteCalendars","summary":"Delete navigation property calendars for me","tags":["me.calendarGroup"],"parameters":[{"name":"calendarGroup-id","in":"path","required":true,"description":"The unique identifier of calendarGroup","schema":{"type":"string"}},{"name":"calendar-id","in":"path","required":true,"description":"The unique identifier of calendar","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarPermissions":{"get":{"operationId":"me.calendarGroups.calendars.ListCalendarPermissions","summary":"Get calendarPermissions from me","description":"The permissions of the users with whom the calendar is shared.","tags":["me.calendarGroup"],"parameters":[{"name":"calendarGroup-id","in":"path","required":true,"description":"The unique identifier of calendarGroup","schema":{"type":"string"}},{"name":"calendar-id","in":"path","required":true,"description":"The unique identifier of calendar","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"post":{"operationId":"me.calendarGroups.calendars.CreateCalendarPermissions","summary":"Create new navigation property to calendarPermissions for me","tags":["me.calendarGroup"],"parameters":[{"name":"calendarGroup-id","in":"path","required":true,"description":"The unique identifier of calendarGroup","schema":{"type":"string"}},{"name":"calendar-id","in":"path","required":true,"description":"The unique identifier of calendar","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"allowedRoles":["none"],"emailAddress":{"address":"","name":""},"isInsideOrganization":false,"isRemovable":false,"role":"none"}}}}}},"/me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarPermissions/{calendarPermission-id}":{"get":{"operationId":"me.calendarGroups.calendars.GetCalendarPermissions","summary":"Get calendarPermissions from me","description":"The permissions of the users with whom the calendar is shared.","tags":["me.calendarGroup"],"parameters":[{"name":"calendarGroup-id","in":"path","required":true,"description":"The unique identifier of calendarGroup","schema":{"type":"string"}},{"name":"calendar-id","in":"path","required":true,"description":"The unique identifier of calendar","schema":{"type":"string"}},{"name":"calendarPermission-id","in":"path","required":true,"description":"The unique identifier of calendarPermission","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"patch":{"operationId":"me.calendarGroups.calendars.UpdateCalendarPermissions","summary":"Update the navigation property calendarPermissions in me","tags":["me.calendarGroup"],"parameters":[{"name":"calendarGroup-id","in":"path","required":true,"description":"The unique identifier of calendarGroup","schema":{"type":"string"}},{"name":"calendar-id","in":"path","required":true,"description":"The unique identifier of calendar","schema":{"type":"string"}},{"name":"calendarPermission-id","in":"path","required":true,"description":"The unique identifier of calendarPermission","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"allowedRoles":["none"],"emailAddress":{"address":"","name":""},"isInsideOrganization":false,"isRemovable":false,"role":"none"}}}}},"delete":{"operationId":"me.calendarGroups.calendars.DeleteCalendarPermissions","summary":"Delete navigation property calendarPermissions for me","tags":["me.calendarGroup"],"parameters":[{"name":"calendarGroup-id","in":"path","required":true,"description":"The unique identifier of calendarGroup","schema":{"type":"string"}},{"name":"calendar-id","in":"path","required":true,"description":"The unique identifier of calendar","schema":{"type":"string"}},{"name":"calendarPermission-id","in":"path","required":true,"description":"The unique identifier of calendarPermission","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/me/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarPermissions/$count":{"get":{"operationId":"me.calendarGroups.calendars.calendarPermissions.GetCount-3d5b","summary":"Get the number of the resource","tags":["me.calendarGroup"],"parameters":[{"name":"calendarGroup-id","in":"path","required":true,"description":"The unique identifier of calendarGroup","schema":{"type":"string"}},{"name":"calendar-id","in":"
[...]
