{"openapi":"3.0.3","info":{"title":"Microsoft Graph: Outlook Mail","version":"v1.0","x-generated-from":"https://raw.githubusercontent.com/microsoftgraph/msgraph-metadata/master/openapi/v1.0/openapi.yaml"},"servers":[{"url":"https://graph.microsoft.com/v1.0"}],"paths":{"/me/inferenceClassification":{"get":{"operationId":"me.GetInferenceClassification","summary":"Get inferenceClassification from me","description":"Relevance classification of the user's messages based on explicit designations that override inferred relevance or importance.","tags":["me.inferenceClassification"],"parameters":[{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"patch":{"operationId":"me.UpdateInferenceClassification","summary":"Update the navigation property inferenceClassification in me","tags":["me.inferenceClassification"],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"example":{"overrides":[{"classifyAs":"focused","senderEmailAddress":{}}]}}}}}},"/me/inferenceClassification/overrides":{"get":{"operationId":"me.inferenceClassification.ListOverrides","summary":"List overrides","description":"Get the overrides that a user has set up to always classify messages from certain senders in specific ways. Each override corresponds to an SMTP address of a sender. Initially, a user doesn't have any overrides.","tags":["me.inferenceClassification"],"parameters":[{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"post":{"operationId":"me.inferenceClassification.CreateOverrides","summary":"Create inferenceClassificationOverride","description":"Create an override for a sender identified by an SMTP address. Future messages from that SMTP address will be consistently classified\r\nas specified in the override. Note","tags":["me.inferenceClassification"],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"example":{"classifyAs":"focused","senderEmailAddress":{"address":"","name":""}}}}}}},"/me/inferenceClassification/overrides/{inferenceClassificationOverride-id}":{"get":{"operationId":"me.inferenceClassification.GetOverrides","summary":"Get overrides from me","description":"A set of overrides for a user to always classify messages from specific senders in certain ways: focused, or other. Read-only. Nullable.","tags":["me.inferenceClassification"],"parameters":[{"name":"inferenceClassificationOverride-id","in":"path","required":true,"description":"The unique identifier of inferenceClassificationOverride","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"patch":{"operationId":"me.inferenceClassification.UpdateOverrides","summary":"Update inferenceclassificationoverride","description":"Change the classifyAs field of an override as specified. You cannot use PATCH to change any other fields in an inferenceClassificationOverride instance. If an override exists for a sender and the sender changes his/her display name, you can use POST to force an update to the name field in the existing override. If an override exists for a sender and the sender changes his/her SMTP address, deleting the existing override and creating a new one with\r\nthe new SMTP address is the only way to 'update' the override for this sender.","tags":["me.inferenceClassification"],"parameters":[{"name":"inferenceClassificationOverride-id","in":"path","required":true,"description":"The unique identifier of inferenceClassificationOverride","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"classifyAs":"focused","senderEmailAddress":{"address":"","name":""}}}}}},"delete":{"operationId":"me.inferenceClassification.DeleteOverrides","summary":"Delete inferenceClassificationOverride","description":"Delete an override specified by its ID.","tags":["me.inferenceClassification"],"parameters":[{"name":"inferenceClassificationOverride-id","in":"path","required":true,"description":"The unique identifier of inferenceClassificationOverride","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/me/inferenceClassification/overrides/$count":{"get":{"operationId":"me.inferenceClassification.overrides.GetCount-63a1","summary":"Get the number of the resource","tags":["me.inferenceClassification"],"parameters":[{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}}]}},"/me/mailboxSettings":{"get":{"operationId":"me.GetMailboxSettings","summary":"Get user mailbox settings","description":"Get the user's mailboxSettings. You can view all mailbox settings, or get specific settings. Users can set the following settings for their mailboxes through an Outlook client: Users can set their preferred date and time formats using Outlook on the web. Users can choose one of the supported short date or short time formats. This GET operation returns the format the user has chosen. Users can set the time zone they prefer on any Outlook client, by choosing from the supported time zones that their administrator has set up for their mailbox server. The administrator can set up time zones in the …","tags":["me.mailboxSettings"],"parameters":[{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"patch":{"operationId":"me.UpdateMailboxSettings","summary":"Update user mailbox settings","description":"Enable, configure, or disable one or more of the following settings as part of a user's mailboxSettings: When updating the preferred date or time format for a user, specify it in respectively, the short date or short time format. When updating the preferred time zone for a user, specify it in the Windows or Internet Assigned Numbers Authority (IANA) time zone (also known as Olson time zone) format. You can also further customize the time zone as shown in example 2 below.","tags":["me.mailboxSettings"],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"example":{"archiveFolder":"","automaticRepliesSetting":{"externalAudience":"none","externalReplyMessage":"","internalReplyMessage":"","scheduledEndDateTime":{"dateTime":"","timeZone":""},"scheduledStartDateTime":{"dateTime":"","timeZone":""},"status":"disabled"},"dateFormat":"","delegateMeetingMessageDeliveryOptions":"sendToDelegateAndInformationToPrincipal","language":{"displayName":"","locale":""},"timeFormat":"","timeZone":"","userPurpose":"user","workingHours":{"daysOfWeek":["sunday"],"endTime":"","startTime":"","timeZone":{"name":""}}}}}}}},"/me/mailFolders":{"get":{"operationId":"me.ListMailFolders","summary":"List mailFolders","description":"Get the mail folder collection directly under the root folder of the signed-in user. The returned collection includes any mail search folders directly under the root. By default, this operation doesn't return hidden folders. Use a query parameter includeHiddenFolders to include them in the response. This operation doesn't return all mail folders in a mailbox, only the child folders of the root folder. To return all mail folders in a mailbox, each child folder must be traversed separately.","tags":["me.mailFolder"],"parameters":[{"name":"includeHiddenFolders","in":"query","required":false,"description":"Include Hidden Folders","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"post":{"operationId":"me.CreateMailFolders","summary":"Create MailFolder","description":"Use this API to create a new mail folder in the root folder of the user's mailbox. If you intend a new folder to be hidden, you must set the isHidden property to true on creation.","tags":["me.mailFolder"],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"example":{"childFolderCount":0,"displayName":"","isHidden":false,"totalItemCount":0,"unreadItemCount":0,"childFolders":[],"messageRules":[{"actions":{},"conditions":{},"displayName":"","exceptions":{},"hasError":false,"isEnabled":false,"isReadOnly":false,"sequence":0}],"messages":[{"categories":[],"bccRecipients":[{}],"body":{},"bodyPreview":"","ccRecipients":[{}],"flag":{},"from":{},"hasAttachments":false,"importance":"low","inferenceClassification":"focused","internetMessageHeaders":[{}],"isDeliveryReceiptRequested":false,"isDraft":false,"isRead":false,"isReadReceiptRequested":false,"receivedDateTime":"1970-01-01T00:00:00.000Z","replyTo":[{}],"sender":{},"sentDateTime":"1970-01-01T00:00:00.000Z","subject":"","toRecipients":[{}],"uniqueBody":{},"attachments":[{}],"extensions":[{}],"multiValueExtendedProperties":[{}],"singleValueExtendedProperties":[{}]}],"multiValueExtendedProperties":[{"value":[""]}],"singleValueExtendedProperties":[{"value":""}]}}}}}},"/me/mailFolders/{mailFolder-id}":{"get":{"operationId":"me.GetMailFolders","summary":"Get mailFolder","description":"Retrieve the properties and relationships of a message folder object. The following list shows the two existing scenarios where an app can get another user's mail folder:","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"patch":{"operationId":"me.UpdateMailFolders","summary":"Update mailfolder","description":"Update the properties of mailfolder object.","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"childFolderCount":0,"displayName":"","isHidden":false,"totalItemCount":0,"unreadItemCount":0,"childFolders":[],"messageRules":[{"actions":{},"conditions":{},"displayName":"","exceptions":{},"hasError":false,"isEnabled":false,"isReadOnly":false,"sequence":0}],"messages":[{"categories":[],"bccRecipients":[{}],"body":{},"bodyPreview":"","ccRecipients":[{}],"flag":{},"from":{},"hasAttachments":false,"importance":"low","inferenceClassification":"focused","internetMessageHeaders":[{}],"isDeliveryReceiptRequested":false,"isDraft":false,"isRead":false,"isReadReceiptRequested":false,"receivedDateTime":"1970-01-01T00:00:00.000Z","replyTo":[{}],"sender":{},"sentDateTime":"1970-01-01T00:00:00.000Z","subject":"","toRecipients":[{}],"uniqueBody":{},"attachments":[{}],"extensions":[{}],"multiValueExtendedProperties":[{}],"singleValueExtendedProperties":[{}]}],"multiValueExtendedProperties":[{"value":[""]}],"singleValueExtendedProperties":[{"value":""}]}}}}},"delete":{"operationId":"me.DeleteMailFolders","summary":"Delete mailFolder","description":"Delete the specified mailFolder. The folder can be a mailSearchFolder. You can specify a mail folder by its folder ID, or by its well-known folder name, if one exists.","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/me/mailFolders/{mailFolder-id}/childFolders":{"get":{"operationId":"me.mailFolders.ListChildFolders","summary":"List childFolders","description":"Get the folder collection under the specified folder. You can use the .../me/mailFolders shortcut to get the top-level\r\nfolder collection and navigate to another folder. By default, this operation doesn't return hidden folders. Use a query parameter includeHiddenFolders to include them in the response.","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"includeHiddenFolders","in":"query","required":false,"description":"Include Hidden Folders","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"post":{"operationId":"me.mailFolders.CreateChildFolders","summary":"Create child folder","description":"Use this API to create a new child mailFolder. If you intend a new folder to be hidden, you must set the isHidden property to true on creation.","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"childFolderCount":0,"displayName":"","isHidden":false,"totalItemCount":0,"unreadItemCount":0,"childFolders":[],"messageRules":[{"actions":{},"conditions":{},"displayName":"","exceptions":{},"hasError":false,"isEnabled":false,"isReadOnly":false,"sequence":0}],"messages":[{"categories":[],"bccRecipients":[{}],"body":{},"bodyPreview":"","ccRecipients":[{}],"flag":{},"from":{},"hasAttachments":false,"importance":"low","inferenceClassification":"focused","internetMessageHeaders":[{}],"isDeliveryReceiptRequested":false,"isDraft":false,"isRead":false,"isReadReceiptRequested":false,"receivedDateTime":"1970-01-01T00:00:00.000Z","replyTo":[{}],"sender":{},"sentDateTime":"1970-01-01T00:00:00.000Z","subject":"","toRecipients":[{}],"uniqueBody":{},"attachments":[{}],"extensions":[{}],"multiValueExtendedProperties":[{}],"singleValueExtendedProperties":[{}]}],"multiValueExtendedProperties":[{"value":[""]}],"singleValueExtendedProperties":[{"value":""}]}}}}}},"/me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}":{"get":{"operationId":"me.mailFolders.GetChildFolders","summary":"Get childFolders from me","description":"The collection of child folders in the mailFolder.","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"includeHiddenFolders","in":"query","required":false,"description":"Include Hidden Folders","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"patch":{"operationId":"me.mailFolders.UpdateChildFolders","summary":"Update the navigation property childFolders in me","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"childFolderCount":0,"displayName":"","isHidden":false,"totalItemCount":0,"unreadItemCount":0,"childFolders":[],"messageRules":[{"actions":{},"conditions":{},"displayName":"","exceptions":{},"hasError":false,"isEnabled":false,"isReadOnly":false,"sequence":0}],"messages":[{"categories":[],"bccRecipients":[{}],"body":{},"bodyPreview":"","ccRecipients":[{}],"flag":{},"from":{},"hasAttachments":false,"importance":"low","inferenceClassification":"focused","internetMessageHeaders":[{}],"isDeliveryReceiptRequested":false,"isDraft":false,"isRead":false,"isReadReceiptRequested":false,"receivedDateTime":"1970-01-01T00:00:00.000Z","replyTo":[{}],"sender":{},"sentDateTime":"1970-01-01T00:00:00.000Z","subject":"","toRecipients":[{}],"uniqueBody":{},"attachments":[{}],"extensions":[{}],"multiValueExtendedProperties":[{}],"singleValueExtendedProperties":[{}]}],"multiValueExtendedProperties":[{"value":[""]}],"singleValueExtendedProperties":[{"value":""}]}}}}},"delete":{"operationId":"me.mailFolders.DeleteChildFolders","summary":"Delete navigation property childFolders for me","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messageRules":{"get":{"operationId":"me.mailFolders.childFolders.ListMessageRules","summary":"Get messageRules from me","description":"The collection of rules that apply to the user's Inbox folder.","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"post":{"operationId":"me.mailFolders.childFolders.CreateMessageRules","summary":"Create new navigation property to messageRules for me","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"actions":{"assignCategories":[""],"copyToFolder":"","delete":false,"forwardAsAttachmentTo":[{}],"forwardTo":[{}],"markAsRead":false,"markImportance":"low","moveToFolder":"","permanentDelete":false,"redirectTo":[{}],"stopProcessingRules":false},"conditions":{"bodyContains":[""],"bodyOrSubjectContains":[""],"categories":[""],"fromAddresses":[{}],"hasAttachments":false,"headerContains":[""],"importance":"low","isApprovalRequest":false,"isAutomaticForward":false,"isAutomaticReply":false,"isEncrypted":false,"isMeetingRequest":false,"isMeetingResponse":false,"isNonDeliveryReport":false,"isPermissionControlled":false,"isReadReceipt":false,"isSigned":false,"isVoicemail":false,"messageActionFlag":"any","notSentToMe":false,"recipientContains":[""],"senderContains":[""],"sensitivity":"normal","sentCcMe":false,"sentOnlyToMe":false,"sentToAddresses":[{}],"sentToMe":false,"sentToOrCcMe":false,"subjectContains":[""],"withinSizeRange":{"maximumSize":0,"minimumSize":0}},"displayName":"","exceptions":{"bodyContains":[""],"bodyOrSubjectContains":[""],"categories":[""],"fromAddresses":[{}],"hasAttachments":false,"headerContains":[""],"importance":"low","isApprovalRequest":false,"isAutomaticForward":false,"isAutomaticReply":false,"isEncrypted":false,"isMeetingRequest":false,"isMeetingResponse":false,"isNonDeliveryReport":false,"isPermissionControlled":false,"isReadReceipt":false,"isSigned":false,"isVoicemail":false,"messageActionFlag":"any","notSentToMe":false,"recipientContains":[""],"senderContains":[""],"sensitivity":"normal","sentCcMe":false,"sentOnlyToMe":false,"sentToAddresses":[{}],"sentToMe":false,"sentToOrCcMe":false,"subjectContains":[""],"withinSizeRange":{"maximumSize":0,"minimumSize":0}},"hasError":false,"isEnabled":false,"isReadOnly":false,"sequence":0}}}}}},"/me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messageRules/{messageRule-id}":{"get":{"operationId":"me.mailFolders.childFolders.GetMessageRules","summary":"Get messageRules from me","description":"The collection of rules that apply to the user's Inbox folder.","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"messageRule-id","in":"path","required":true,"description":"The unique identifier of messageRule","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"patch":{"operationId":"me.mailFolders.childFolders.UpdateMessageRules","summary":"Update the navigation property messageRules in me","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"messageRule-id","in":"path","required":true,"description":"The unique identifier of messageRule","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"actions":{"assignCategories":[""],"copyToFolder":"","delete":false,"forwardAsAttachmentTo":[{}],"forwardTo":[{}],"markAsRead":false,"markImportance":"low","moveToFolder":"","permanentDelete":false,"redirectTo":[{}],"stopProcessingRules":false},"conditions":{"bodyContains":[""],"bodyOrSubjectContains":[""],"categories":[""],"fromAddresses":[{}],"hasAttachments":false,"headerContains":[""],"importance":"low","isApprovalRequest":false,"isAutomaticForward":false,"isAutomaticReply":false,"isEncrypted":false,"isMeetingRequest":false,"isMeetingResponse":false,"isNonDeliveryReport":false,"isPermissionControlled":false,"isReadReceipt":false,"isSigned":false,"isVoicemail":false,"messageActionFlag":"any","notSentToMe":false,"recipientContains":[""],"senderContains":[""],"sensitivity":"normal","sentCcMe":false,"sentOnlyToMe":false,"sentToAddresses":[{}],"sentToMe":false,"sentToOrCcMe":false,"subjectContains":[""],"withinSizeRange":{"maximumSize":0,"minimumSize":0}},"displayName":"","exceptions":{"bodyContains":[""],"bodyOrSubjectContains":[""],"categories":[""],"fromAddresses":[{}],"hasAttachments":false,"headerContains":[""],"importance":"low","isApprovalRequest":false,"isAutomaticForward":false,"isAutomaticReply":false,"isEncrypted":false,"isMeetingRequest":false,"isMeetingResponse":false,"isNonDeliveryReport":false,"isPermissionControlled":false,"isReadReceipt":false,"isSigned":false,"isVoicemail":false,"messageActionFlag":"any","notSentToMe":false,"recipientContains":[""],"senderContains":[""],"sensitivity":"normal","sentCcMe":false,"sentOnlyToMe":false,"sentToAddresses":[{}],"sentToMe":false,"sentToOrCcMe":false,"subjectContains":[""],"withinSizeRange":{"maximumSize":0,"minimumSize":0}},"hasError":false,"isEnabled":false,"isReadOnly":false,"sequence":0}}}}},"delete":{"operationId":"me.mailFolders.childFolders.DeleteMessageRules","summary":"Delete navigation property messageRules for me","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"messageRule-id","in":"path","required":true,"description":"The unique identifier of messageRule","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messageRules/$count":{"get":{"operationId":"me.mailFolders.childFolders.messageRules.GetCount-6a96","summary":"Get the number of the resource","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}}]}},"/me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages":{"get":{"operationId":"me.mailFolders.childFolders.ListMessages","summary":"Get messages from me","description":"The collection of messages in the mailFolder.","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"post":{"operationId":"me.mailFolders.childFolders.CreateMessages","summary":"Create new navigation property to messages for me","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"categories":[""],"bccRecipients":[{"emailAddress":{"address":"","name":""}}],"body":{"content":"","contentType":"text"},"bodyPreview":"","ccRecipients":[{"emailAddress":{"address":"","name":""}}],"flag":{"completedDateTime":{"dateTime":"","timeZone":""},"dueDateTime":{"dateTime":"","timeZone":""},"flagStatus":"notFlagged","startDateTime":{"dateTime":"","timeZone":""}},"from":{"emailAddress":{"address":"","name":""}},"hasAttachments":false,"importance":"low","inferenceClassification":"focused","internetMessageHeaders":[{"name":"","value":""}],"isDeliveryReceiptRequested":false,"isDraft":false,"isRead":false,"isReadReceiptRequested":false,"receivedDateTime":"1970-01-01T00:00:00.000Z","replyTo":[{"emailAddress":{"address":"","name":""}}],"sender":{"emailAddress":{"address":"","name":""}},"sentDateTime":"1970-01-01T00:00:00.000Z","subject":"","toRecipients":[{"emailAddress":{"address":"","name":""}}],"uniqueBody":{"content":"","contentType":"text"},"attachments":[{"contentType":"","isInline":false,"name":"","size":0}],"extensions":[{}],"multiValueExtendedProperties":[{"value":[""]}],"singleValueExtendedProperties":[{"value":""}]}}}}}},"/me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}":{"get":{"operationId":"me.mailFolders.childFolders.GetMessages","summary":"Get messages from me","description":"The collection of messages in the mailFolder.","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"patch":{"operationId":"me.mailFolders.childFolders.UpdateMessages","summary":"Update the navigation property messages in me","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"categories":[""],"bccRecipients":[{"emailAddress":{"address":"","name":""}}],"body":{"content":"","contentType":"text"},"bodyPreview":"","ccRecipients":[{"emailAddress":{"address":"","name":""}}],"flag":{"completedDateTime":{"dateTime":"","timeZone":""},"dueDateTime":{"dateTime":"","timeZone":""},"flagStatus":"notFlagged","startDateTime":{"dateTime":"","timeZone":""}},"from":{"emailAddress":{"address":"","name":""}},"hasAttachments":false,"importance":"low","inferenceClassification":"focused","internetMessageHeaders":[{"name":"","value":""}],"isDeliveryReceiptRequested":false,"isDraft":false,"isRead":false,"isReadReceiptRequested":false,"receivedDateTime":"1970-01-01T00:00:00.000Z","replyTo":[{"emailAddress":{"address":"","name":""}}],"sender":{"emailAddress":{"address":"","name":""}},"sentDateTime":"1970-01-01T00:00:00.000Z","subject":"","toRecipients":[{"emailAddress":{"address":"","name":""}}],"uniqueBody":{"content":"","contentType":"text"},"attachments":[{"contentType":"","isInline":false,"name":"","size":0}],"extensions":[{}],"multiValueExtendedProperties":[{"value":[""]}],"singleValueExtendedProperties":[{"value":""}]}}}}},"delete":{"operationId":"me.mailFolders.childFolders.DeleteMessages","summary":"Delete navigation property messages for me","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/$value":{"get":{"operationId":"me.mailFolders.childFolders.GetMessagesContent","summary":"Get media content for the navigation property messages from me","description":"The unique identifier for an entity. Read-only.","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}}]},"put":{"operationId":"me.mailFolders.childFolders.UpdateMessagesContent","summary":"Update media content for the navigation property messages in me","description":"The unique identifier for an entity. Read-only.","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/octet-stream":{}}}},"delete":{"operationId":"me.mailFolders.childFolders.DeleteMessagesContent","summary":"Delete media content for the navigation property messages in me","description":"The unique identifier for an entity. Read-only.","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/attachments":{"get":{"operationId":"me.mailFolders.childFolders.messages.ListAttachments","summary":"Get attachments from me","description":"The fileAttachment and itemAttachment attachments for the message.","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"post":{"operationId":"me.mailFolders.childFolders.messages.CreateAttachments","summary":"Create new navigation property to attachments for me","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"contentType":"","isInline":false,"name":"","size":0}}}}}},"/me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/attachments/{attachment-id}":{"get":{"operationId":"me.mailFolders.childFolders.messages.GetAttachments","summary":"Get attachments from me","description":"The fileAttachment and itemAttachment attachments for the message.","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}},{"name":"attachment-id","in":"path","required":true,"description":"The unique identifier of attachment","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"delete":{"operationId":"me.mailFolders.childFolders.messages.DeleteAttachments","summary":"Delete navigation property attachments for me","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}},{"name":"attachment-id","in":"path","required":true,"description":"The unique identifier of attachment","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/attachments/$count":{"get":{"operationId":"me.mailFolders.childFolders.messages.attachments.GetCount-65b2","summary":"Get the number of the resource","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}}]}},"/me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/attachments/createUploadSession":{"post":{"operationId":"me.mailFolders.mailFolder.childFolders.mailFolder.messages.message.attachments.createUploadSession","summary":"Invoke action createUploadSession","description":"Create an upload session that allows an app to iteratively upload ranges of a file, so as to attach the file to the specified Outlook item. The item can be a message or event. Use this approach to attach a file if the file size is between 3 MB and 150 MB. To attach a file that's smaller than 3 MB, do a POST operation on the attachments navigation property of the Outlook item; see how to do this for a message or for an event. As part of the response, this action returns an upload URL that you can use in subsequent sequential PUT queries. Request headers for each PUT operation let you specify th…","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"AttachmentItem":{"attachmentType":"file","contentId":"","contentType":"","isInline":false,"name":"","size":0}}}}}}},"/me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/extensions":{"get":{"operationId":"me.mailFolders.childFolders.messages.ListExtensions","summary":"Get extensions from me","description":"The collection of open extensions defined for the message. Nullable.","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"post":{"operationId":"me.mailFolders.childFolders.messages.CreateExtensions","summary":"Create new navigation property to extensions for me","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{}}}}}},"/me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/extensions/{extension-id}":{"get":{"operationId":"me.mailFolders.childFolders.messages.GetExtensions","summary":"Get extensions from me","description":"The collection of open extensions defined for the message. Nullable.","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}},{"name":"extension-id","in":"path","required":true,"description":"The unique identifier of extension","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"patch":{"operationId":"me.mailFolders.childFolders.messages.UpdateExtensions","summary":"Update the navigation property extensions in me","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}},{"name":"extension-id","in":"path","required":true,"description":"The unique identifier of extension","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{}}}}},"delete":{"operationId":"me.mailFolders.childFolders.messages.DeleteExtensions","summary":"Delete navigation property extensions for me","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}},{"name":"extension-id","in":"path","required":true,"description":"The unique identifier of extension","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/extensions/$count":{"get":{"operationId":"me.mailFolders.childFolders.messages.extensions.GetCount-cf94","summary":"Get the number of the resource","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}}]}},"/me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/copy":{"post":{"operationId":"me.mailFolders.mailFolder.childFolders.mailFolder.messages.message.copy","summary":"Invoke action copy","description":"Copy a message to a folder within the user's mailbox.","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"DestinationId":""}}}}}},"/me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/createForward":{"post":{"operationId":"me.mailFolders.mailFolder.childFolders.mailFolder.messages.message.createForward","summary":"Invoke action createForward","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"ToRecipients":[{"emailAddress":{"address":"","name":""}}],"Message":{"categories":[""],"bccRecipients":[{}],"body":{"content":""},"bodyPreview":"","ccRecipients":[{}],"flag":{},"from":{},"hasAttachments":false,"importance":"low","inferenceClassification":"focused","internetMessageHeaders":[{"name":"","value":""}],"isDeliveryReceiptRequested":false,"isDraft":false,"isRead":false,"isReadReceiptRequested":false,"receivedDateTime":"1970-01-01T00:00:00.000Z","replyTo":[{}],"sender":{},"sentDateTime":"1970-01-01T00:00:00.000Z","subject":"","toRecipients":[{}],"uniqueBody":{"content":""},"attachments":[{}],"extensions":[{}],"multiValueExtendedProperties":[{}],"singleValueExtendedProperties":[{}]},"Comment":""}}}}}},"/me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/createReply":{"post":{"operationId":"me.mailFolders.mailFolder.childFolders.mailFolder.messages.message.createReply","summary":"Invoke action createReply","description":"Create a draft to reply to the sender of a message in either JSON or MIME format. When using JSON format:\r\n- Specify either a comment or the body property of the message parameter. Specifying both will return an HTTP 400 Bad Request error.\r\n- If replyTo is specified in the original message, per Internet Message Format (RFC 2822), you should send the reply to the recipients in replyTo, and not the recipients in from.\r\n- You can update the draft later to add reply content to the body or change other message properties. When using MIME format:\r\n- Provide the applicable Internet message headers an…","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"Message":{"categories":[""],"bccRecipients":[{}],"body":{"content":""},"bodyPreview":"","ccRecipients":[{}],"flag":{},"from":{},"hasAttachments":false,"importance":"low","inferenceClassification":"focused","internetMessageHeaders":[{"name":"","value":""}],"isDeliveryReceiptRequested":false,"isDraft":false,"isRead":false,"isReadReceiptRequested":false,"receivedDateTime":"1970-01-01T00:00:00.000Z","replyTo":[{}],"sender":{},"sentDateTime":"1970-01-01T00:00:00.000Z","subject":"","toRecipients":[{}],"uniqueBody":{"content":""},"attachments":[{}],"extensions":[{}],"multiValueExtendedProperties":[{}],"singleValueExtendedProperties":[{}]},"Comment":""}}}}}},"/me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/createReplyAll":{"post":{"operationId":"me.mailFolders.mailFolder.childFolders.mailFolder.messages.message.createReplyAll","summary":"Invoke action createReplyAll","description":"Create a draft to reply to the sender and all recipients of a message in either JSON or MIME format. When using JSON format:\r\n- Specify either a comment or the body property of the message parameter. Specifying both will return an HTTP 400 Bad Request error.\r\n- If the original message specifies a recipient in the replyTo property, per Internet Message Format (RFC 2822), you should send the reply to the recipients in the replyTo and toRecipients properties, and not the recipients in the from and toRecipients properties.\r\n- You can update the draft later to add reply content to the body or chang…","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"Message":{"categories":[""],"bccRecipients":[{}],"body":{"content":""},"bodyPreview":"","ccRecipients":[{}],"flag":{},"from":{},"hasAttachments":false,"importance":"low","inferenceClassification":"focused","internetMessageHeaders":[{"name":"","value":""}],"isDeliveryReceiptRequested":false,"isDraft":false,"isRead":false,"isReadReceiptRequested":false,"receivedDateTime":"1970-01-01T00:00:00.000Z","replyTo":[{}],"sender":{},"sentDateTime":"1970-01-01T00:00:00.000Z","subject":"","toRecipients":[{}],"uniqueBody":{"content":""},"attachments":[{}],"extensions":[{}],"multiValueExtendedProperties":[{}],"singleValueExtendedProperties":[{}]},"Comment":""}}}}}},"/me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/forward":{"post":{"operationId":"me.mailFolders.mailFolder.childFolders.mailFolder.messages.message.forward","summary":"Invoke action forward","description":"Forward a message using either JSON or MIME format. When using JSON format, you can:\r\n- Specify either a comment or the body property of the message parameter. Specifying both will return an HTTP 400 Bad Request error.\r\n- Specify either the toRecipients parameter or the toRecipients property of the message parameter. Specifying both or specifying neither will return an HTTP 400 Bad Request error. When using MIME format:\r\n- Provide the applicable Internet message headers and the MIME content, all encoded in base64 format in the request body.\r\n- Add any attachments and S/MIME properties to the M…","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"ToRecipients":[{"emailAddress":{"address":"","name":""}}],"Message":{"categories":[""],"bccRecipients":[{}],"body":{"content":""},"bodyPreview":"","ccRecipients":[{}],"flag":{},"from":{},"hasAttachments":false,"importance":"low","inferenceClassification":"focused","internetMessageHeaders":[{"name":"","value":""}],"isDeliveryReceiptRequested":false,"isDraft":false,"isRead":false,"isReadReceiptRequested":false,"receivedDateTime":"1970-01-01T00:00:00.000Z","replyTo":[{}],"sender":{},"sentDateTime":"1970-01-01T00:00:00.000Z","subject":"","toRecipients":[{}],"uniqueBody":{"content":""},"attachments":[{}],"extensions":[{}],"multiValueExtendedProperties":[{}],"singleValueExtendedProperties":[{}]},"Comment":""}}}}}},"/me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/move":{"post":{"operationId":"me.mailFolders.mailFolder.childFolders.mailFolder.messages.message.move","summary":"Invoke action move","description":"Move a message to another folder within the specified user's mailbox. This creates a new copy of the message in the destination folder and removes the original message.","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"DestinationId":""}}}}}},"/me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/permanentDelete":{"post":{"operationId":"me.mailFolders.mailFolder.childFolders.mailFolder.messages.message.permanentDelete","summary":"Invoke action permanentDelete","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}}]}},"/me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/reply":{"post":{"operationId":"me.mailFolders.mailFolder.childFolders.mailFolder.messages.message.reply","summary":"Invoke action reply","description":"Reply to the sender of a message using either JSON or MIME format. When using JSON format:\r\n* Specify either a comment or the body property of the message parameter. Specifying both will return an HTTP 400 Bad Request error.\r\n* If the original message specifies a recipient in the replyTo property, per Internet Message Format (RFC 2822), send the reply to the recipients in replyTo and not the recipient in the from property. When using MIME format:\r\n- Provide the applicable Internet message headers and the MIME content, all encoded in base64 format in the request body.\r\n- Add any attachments and…","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"Message":{"categories":[""],"bccRecipients":[{}],"body":{"content":""},"bodyPreview":"","ccRecipients":[{}],"flag":{},"from":{},"hasAttachments":false,"importance":"low","inferenceClassification":"focused","internetMessageHeaders":[{"name":"","value":""}],"isDeliveryReceiptRequested":false,"isDraft":false,"isRead":false,"isReadReceiptRequested":false,"receivedDateTime":"1970-01-01T00:00:00.000Z","replyTo":[{}],"sender":{},"sentDateTime":"1970-01-01T00:00:00.000Z","subject":"","toRecipients":[{}],"uniqueBody":{"content":""},"attachments":[{}],"extensions":[{}],"multiValueExtendedProperties":[{}],"singleValueExtendedProperties":[{}]},"Comment":""}}}}}},"/me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/replyAll":{"post":{"operationId":"me.mailFolders.mailFolder.childFolders.mailFolder.messages.message.replyAll","summary":"Invoke action replyAll","description":"Reply to all recipients of a message using either JSON or MIME format. When using JSON format:\r\n- Specify either a comment or the body property of the message parameter. Specifying both will return an HTTP 400 Bad Request error.\r\n- If the original message specifies a recipient in the replyTo property, per Internet Message Format (RFC 2822), send the reply to the recipients in replyTo and not the recipient in the from property. When using MIME format:\r\n- Provide the applicable Internet message headers and the MIME content, all encoded in base64 format in the request body.\r\n- Add any attachments…","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"Message":{"categories":[""],"bccRecipients":[{}],"body":{"content":""},"bodyPreview":"","ccRecipients":[{}],"flag":{},"from":{},"hasAttachments":false,"importance":"low","inferenceClassification":"focused","internetMessageHeaders":[{"name":"","value":""}],"isDeliveryReceiptRequested":false,"isDraft":false,"isRead":false,"isReadReceiptRequested":false,"receivedDateTime":"1970-01-01T00:00:00.000Z","replyTo":[{}],"sender":{},"sentDateTime":"1970-01-01T00:00:00.000Z","subject":"","toRecipients":[{}],"uniqueBody":{"content":""},"attachments":[{}],"extensions":[{}],"multiValueExtendedProperties":[{}],"singleValueExtendedProperties":[{}]},"Comment":""}}}}}},"/me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/{message-id}/send":{"post":{"operationId":"me.mailFolders.mailFolder.childFolders.mailFolder.messages.message.send","summary":"Invoke action send","description":"Send an existing draft message. The draft message can be a new message draft, reply draft, reply-all draft, or a forward draft. This method saves the message in the Sent Items folder. Alternatively, send a new message in a single operation.","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}}]}},"/me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/$count":{"get":{"operationId":"me.mailFolders.childFolders.messages.GetCount-56da","summary":"Get the number of the resource","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}}]}},"/me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/messages/delta()":{"get":{"operationId":"me.mailFolders.mailFolder.childFolders.mailFolder.messages.delta","summary":"Invoke function delta","description":"Get a set of messages added, deleted, or updated in a specified folder. A delta function call for messages in a folder is similar to a GET request, except that by appropriately\r\napplying state tokens in one or more of these calls, you can [query for incremental changes in the messages in\r\nthat folder](/graph/delta-query-messages). It allows you to maintain and synchronize a local store of a user's messages without\r\nhaving to fetch the entire set of messages from the server every time.","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"changeType","in":"query","required":false,"description":"A custom query option to filter the delta response based on the type of change. Supported values are created, updated or deleted.","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]}},"/me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/copy":{"post":{"operationId":"me.mailFolders.mailFolder.childFolders.mailFolder.copy","summary":"Invoke action copy","description":"Copy a mailfolder and its contents to another mailfolder.","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"DestinationId":""}}}}}},"/me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/move":{"post":{"operationId":"me.mailFolders.mailFolder.childFolders.mailFolder.move","summary":"Invoke action move","description":"Move a mailfolder and its contents to another mailfolder.","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"DestinationId":""}}}}}},"/me/mailFolders/{mailFolder-id}/childFolders/{mailFolder-id1}/permanentDelete":{"post":{"operationId":"me.mailFolders.mailFolder.childFolders.mailFolder.permanentDelete","summary":"Invoke action permanentDelete","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"mailFolder-id1","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}}]}},"/me/mailFolders/{mailFolder-id}/childFolders/$count":{"get":{"operationId":"me.mailFolders.childFolders.GetCount-25bc","summary":"Get the number of the resource","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"includeHiddenFolders","in":"query","required":false,"description":"Include Hidden Folders","schema":{"type":"string"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}}]}},"/me/mailFolders/{mailFolder-id}/childFolders/delta()":{"get":{"operationId":"me.mailFolders.mailFolder.childFolders.delta","summary":"Invoke function delta","description":"Get a set of mail folders that have been added, deleted, or removed from the user's mailbox. A delta function call for mail folders in a mailbox is similar to a GET request, except that by appropriately\r\napplying state tokens in one or more of these calls,\r\nyou can query for incremental changes in the mail folders. This allows you to maintain and synchronize\r\na local store of a user's mail folders without having to fetch all the mail folders of that mailbox from the server every time.","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]}},"/me/mailFolders/{mailFolder-id}/messageRules":{"get":{"operationId":"me.mailFolders.ListMessageRules","summary":"List rules","description":"Get all the messageRule objects defined for the user's inbox.","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"post":{"operationId":"me.mailFolders.CreateMessageRules","summary":"Create rule","description":"Create a messageRule object by specifying a set of conditions and actions. Outlook carries out those actions if an incoming message in the user's Inbox meets the specified conditions.","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"actions":{"assignCategories":[""],"copyToFolder":"","delete":false,"forwardAsAttachmentTo":[{}],"forwardTo":[{}],"markAsRead":false,"markImportance":"low","moveToFolder":"","permanentDelete":false,"redirectTo":[{}],"stopProcessingRules":false},"conditions":{"bodyContains":[""],"bodyOrSubjectContains":[""],"categories":[""],"fromAddresses":[{}],"hasAttachments":false,"headerContains":[""],"importance":"low","isApprovalRequest":false,"isAutomaticForward":false,"isAutomaticReply":false,"isEncrypted":false,"isMeetingRequest":false,"isMeetingResponse":false,"isNonDeliveryReport":false,"isPermissionControlled":false,"isReadReceipt":false,"isSigned":false,"isVoicemail":false,"messageActionFlag":"any","notSentToMe":false,"recipientContains":[""],"senderContains":[""],"sensitivity":"normal","sentCcMe":false,"sentOnlyToMe":false,"sentToAddresses":[{}],"sentToMe":false,"sentToOrCcMe":false,"subjectContains":[""],"withinSizeRange":{"maximumSize":0,"minimumSize":0}},"displayName":"","exceptions":{"bodyContains":[""],"bodyOrSubjectContains":[""],"categories":[""],"fromAddresses":[{}],"hasAttachments":false,"headerContains":[""],"importance":"low","isApprovalRequest":false,"isAutomaticForward":false,"isAutomaticReply":false,"isEncrypted":false,"isMeetingRequest":false,"isMeetingResponse":false,"isNonDeliveryReport":false,"isPermissionControlled":false,"isReadReceipt":false,"isSigned":false,"isVoicemail":false,"messageActionFlag":"any","notSentToMe":false,"recipientContains":[""],"senderContains":[""],"sensitivity":"normal","sentCcMe":false,"sentOnlyToMe":false,"sentToAddresses":[{}],"sentToMe":false,"sentToOrCcMe":false,"subjectContains":[""],"withinSizeRange":{"maximumSize":0,"minimumSize":0}},"hasError":false,"isEnabled":false,"isReadOnly":false,"sequence":0}}}}}},"/me/mailFolders/{mailFolder-id}/messageRules/{messageRule-id}":{"get":{"operationId":"me.mailFolders.GetMessageRules","summary":"Get rule","description":"Get the properties and relationships of a messageRule object.","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"messageRule-id","in":"path","required":true,"description":"The unique identifier of messageRule","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"patch":{"operationId":"me.mailFolders.UpdateMessageRules","summary":"Update rule","description":"Change writable properties on a messageRule object and save the changes.","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"messageRule-id","in":"path","required":true,"description":"The unique identifier of messageRule","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"actions":{"assignCategories":[""],"copyToFolder":"","delete":false,"forwardAsAttachmentTo":[{}],"forwardTo":[{}],"markAsRead":false,"markImportance":"low","moveToFolder":"","permanentDelete":false,"redirectTo":[{}],"stopProcessingRules":false},"conditions":{"bodyContains":[""],"bodyOrSubjectContains":[""],"categories":[""],"fromAddresses":[{}],"hasAttachments":false,"headerContains":[""],"importance":"low","isApprovalRequest":false,"isAutomaticForward":false,"isAutomaticReply":false,"isEncrypted":false,"isMeetingRequest":false,"isMeetingResponse":false,"isNonDeliveryReport":false,"isPermissionControlled":false,"isReadReceipt":false,"isSigned":false,"isVoicemail":false,"messageActionFlag":"any","notSentToMe":false,"recipientContains":[""],"senderContains":[""],"sensitivity":"normal","sentCcMe":false,"sentOnlyToMe":false,"sentToAddresses":[{}],"sentToMe":false,"sentToOrCcMe":false,"subjectContains":[""],"withinSizeRange":{"maximumSize":0,"minimumSize":0}},"displayName":"","exceptions":{"bodyContains":[""],"bodyOrSubjectContains":[""],"categories":[""],"fromAddresses":[{}],"hasAttachments":false,"headerContains":[""],"importance":"low","isApprovalRequest":false,"isAutomaticForward":false,"isAutomaticReply":false,"isEncrypted":false,"isMeetingRequest":false,"isMeetingResponse":false,"isNonDeliveryReport":false,"isPermissionControlled":false,"isReadReceipt":false,"isSigned":false,"isVoicemail":false,"messageActionFlag":"any","notSentToMe":false,"recipientContains":[""],"senderContains":[""],"sensitivity":"normal","sentCcMe":false,"sentOnlyToMe":false,"sentToAddresses":[{}],"sentToMe":false,"sentToOrCcMe":false,"subjectContains":[""],"withinSizeRange":{"maximumSize":0,"minimumSize":0}},"hasError":false,"isEnabled":false,"isReadOnly":false,"sequence":0}}}}},"delete":{"operationId":"me.mailFolders.DeleteMessageRules","summary":"Delete messageRule","description":"Delete the specified messageRule object.","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"messageRule-id","in":"path","required":true,"description":"The unique identifier of messageRule","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/me/mailFolders/{mailFolder-id}/messageRules/$count":{"get":{"operationId":"me.mailFolders.messageRules.GetCount-3d24","summary":"Get the number of the resource","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}}]}},"/me/mailFolders/{mailFolder-id}/messages":{"get":{"operationId":"me.mailFolders.ListMessages","summary":"List messages","description":"Get all the messages in the specified user's mailbox, or those messages in a specified folder in the mailbox.","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"post":{"operationId":"me.mailFolders.CreateMessages","summary":"Create message in a mailfolder","description":"Use this API to create a new Message in a mailfolder.","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"categories":[""],"bccRecipients":[{"emailAddress":{"address":"","name":""}}],"body":{"content":"","contentType":"text"},"bodyPreview":"","ccRecipients":[{"emailAddress":{"address":"","name":""}}],"flag":{"completedDateTime":{"dateTime":"","timeZone":""},"dueDateTime":{"dateTime":"","timeZone":""},"flagStatus":"notFlagged","startDateTime":{"dateTime":"","timeZone":""}},"from":{"emailAddress":{"address":"","name":""}},"hasAttachments":false,"importance":"low","inferenceClassification":"focused","internetMessageHeaders":[{"name":"","value":""}],"isDeliveryReceiptRequested":false,"isDraft":false,"isRead":false,"isReadReceiptRequested":false,"receivedDateTime":"1970-01-01T00:00:00.000Z","replyTo":[{"emailAddress":{"address":"","name":""}}],"sender":{"emailAddress":{"address":"","name":""}},"sentDateTime":"1970-01-01T00:00:00.000Z","subject":"","toRecipients":[{"emailAddress":{"address":"","name":""}}],"uniqueBody":{"content":"","contentType":"text"},"attachments":[{"contentType":"","isInline":false,"name":"","size":0}],"extensions":[{}],"multiValueExtendedProperties":[{"value":[""]}],"singleValueExtendedProperties":[{"value":""}]}}}}}},"/me/mailFolders/{mailFolder-id}/messages/{message-id}":{"get":{"operationId":"me.mailFolders.GetMessages","summary":"Get messages from me","description":"The collection of messages in the mailFolder.","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"patch":{"operationId":"me.mailFolders.UpdateMessages","summary":"Update the navigation property messages in me","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"categories":[""],"bccRecipients":[{"emailAddress":{"address":"","name":""}}],"body":{"content":"","contentType":"text"},"bodyPreview":"","ccRecipients":[{"emailAddress":{"address":"","name":""}}],"flag":{"completedDateTime":{"dateTime":"","timeZone":""},"dueDateTime":{"dateTime":"","timeZone":""},"flagStatus":"notFlagged","startDateTime":{"dateTime":"","timeZone":""}},"from":{"emailAddress":{"address":"","name":""}},"hasAttachments":false,"importance":"low","inferenceClassification":"focused","internetMessageHeaders":[{"name":"","value":""}],"isDeliveryReceiptRequested":false,"isDraft":false,"isRead":false,"isReadReceiptRequested":false,"receivedDateTime":"1970-01-01T00:00:00.000Z","replyTo":[{"emailAddress":{"address":"","name":""}}],"sender":{"emailAddress":{"address":"","name":""}},"sentDateTime":"1970-01-01T00:00:00.000Z","subject":"","toRecipients":[{"emailAddress":{"address":"","name":""}}],"uniqueBody":{"content":"","contentType":"text"},"attachments":[{"contentType":"","isInline":false,"name":"","size":0}],"extensions":[{}],"multiValueExtendedProperties":[{"value":[""]}],"singleValueExtendedProperties":[{"value":""}]}}}}},"delete":{"operationId":"me.mailFolders.DeleteMessages","summary":"Delete navigation property messages for me","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/me/mailFolders/{mailFolder-id}/messages/{message-id}/$value":{"get":{"operationId":"me.mailFolders.GetMessagesContent","summary":"List messages","description":"Get all the messages in the specified user's mailbox, or those messages in a specified folder in the mailbox.","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}}]},"put":{"operationId":"me.mailFolders.UpdateMessagesContent","summary":"Update media content for the navigation property messages in me","description":"The unique identifier for an entity. Read-only.","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/octet-stream":{}}}},"delete":{"operationId":"me.mailFolders.DeleteMessagesContent","summary":"Delete media content for the navigation property messages in me","description":"The unique identifier for an entity. Read-only.","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/me/mailFolders/{mailFolder-id}/messages/{message-id}/attachments":{"get":{"operationId":"me.mailFolders.messages.ListAttachments","summary":"Get attachments from me","description":"The fileAttachment and itemAttachment attachments for the message.","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"post":{"operationId":"me.mailFolders.messages.CreateAttachments","summary":"Create new navigation property to attachments for me","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"contentType":"","isInline":false,"name":"","size":0}}}}}},"/me/mailFolders/{mailFolder-id}/messages/{message-id}/attachments/{attachment-id}":{"get":{"operationId":"me.mailFolders.messages.GetAttachments","summary":"Get attachments from me","description":"The fileAttachment and itemAttachment attachments for the message.","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}},{"name":"attachment-id","in":"path","required":true,"description":"The unique identifier of attachment","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"delete":{"operationId":"me.mailFolders.messages.DeleteAttachments","summary":"Delete navigation property attachments for me","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}},{"name":"attachment-id","in":"path","required":true,"description":"The unique identifier of attachment","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/me/mailFolders/{mailFolder-id}/messages/{message-id}/attachments/$count":{"get":{"operationId":"me.mailFolders.messages.attachments.GetCount-16fa","summary":"Get the number of the resource","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}}]}},"/me/mailFolders/{mailFolder-id}/messages/{message-id}/attachments/createUploadSession":{"post":{"operationId":"me.mailFolders.mailFolder.messages.message.attachments.createUploadSession","summary":"Invoke action createUploadSession","description":"Create an upload session that allows an app to iteratively upload ranges of a file, so as to attach the file to the specified Outlook item. The item can be a message or event. Use this approach to attach a file if the file size is between 3 MB and 150 MB. To attach a file that's smaller than 3 MB, do a POST operation on the attachments navigation property of the Outlook item; see how to do this for a message or for an event. As part of the response, this action returns an upload URL that you can use in subsequent sequential PUT queries. Request headers for each PUT operation let you specify th…","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"AttachmentItem":{"attachmentType":"file","contentId":"","contentType":"","isInline":false,"name":"","size":0}}}}}}},"/me/mailFolders/{mailFolder-id}/messages/{message-id}/extensions":{"get":{"operationId":"me.mailFolders.messages.ListExtensions","summary":"Get extensions from me","description":"The collection of open extensions defined for the message. Nullable.","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"post":{"operationId":"me.mailFolders.messages.CreateExtensions","summary":"Create new navigation property to extensions for me","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{}}}}}},"/me/mailFolders/{mailFolder-id}/messages/{message-id}/extensions/{extension-id}":{"get":{"operationId":"me.mailFolders.messages.GetExtensions","summary":"Get extensions from me","description":"The collection of open extensions defined for the message. Nullable.","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}},{"name":"extension-id","in":"path","required":true,"description":"The unique identifier of extension","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"patch":{"operationId":"me.mailFolders.messages.UpdateExtensions","summary":"Update the navigation property extensions in me","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}},{"name":"extension-id","in":"path","required":true,"description":"The unique identifier of extension","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{}}}}},"delete":{"operationId":"me.mailFolders.messages.DeleteExtensions","summary":"Delete navigation property extensions for me","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}},{"name":"extension-id","in":"path","required":true,"description":"The unique identifier of extension","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/me/mailFolders/{mailFolder-id}/messages/{message-id}/extensions/$count":{"get":{"operationId":"me.mailFolders.messages.extensions.GetCount-8860","summary":"Get the number of the resource","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}}]}},"/me/mailFolders/{mailFolder-id}/messages/{message-id}/copy":{"post":{"operationId":"me.mailFolders.mailFolder.messages.message.copy","summary":"Invoke action copy","description":"Copy a message to a folder within the user's mailbox.","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"DestinationId":""}}}}}},"/me/mailFolders/{mailFolder-id}/messages/{message-id}/createForward":{"post":{"operationId":"me.mailFolders.mailFolder.messages.message.createForward","summary":"Invoke action createForward","tags":["me.mailFolder"],"parameters":[{"name":"mailFolder-id","in":"path","required":true,"description":"The unique identifier of mailFolder","schema":{"type":"string"}},{"name":"message-id","in":"path","required":true,"description":"The unique identifier of message","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"ToRecipients":[{"emailAddress":{"address":"","name":""}}],"Message":{"categories":[""],"bccRecipients":[{}],"body":{"content":""},"bodyPreview":"","ccRecipients":[{}],"flag":{},"from":{},"hasAttachments":false,"importance":"low","inferenceClassification":"focused","internetMessageHeaders":[{"name":"","value":""}],"isDeliveryReceiptRequested":false,"isDraft":false,"isRead":false,"isReadReceiptRequested":false,"receivedDateTime":"1970-01-01T00:00:00.000Z","replyTo":[{}],"sender":{},"sentDateTime":"1970-01-01T00:00:00.000Z","subject":"","toR
[...]
