{"openapi":"3.0.3","info":{"title":"Microsoft Graph: OneDrive","version":"v1.0","x-generated-from":"https://raw.githubusercontent.com/microsoftgraph/msgraph-metadata/master/openapi/v1.0/openapi.yaml"},"servers":[{"url":"https://graph.microsoft.com/v1.0"}],"paths":{"/drives/{drive-id}/items/{driveItem-id}":{"get":{"operationId":"drives.GetItems","summary":"Get items from drives","description":"All items contained in the drive. Read-only. Nullable.","tags":["drives.driveItem"],"parameters":[{"name":"drive-id","in":"path","required":true,"description":"The unique identifier of drive","schema":{"type":"string"}},{"name":"driveItem-id","in":"path","required":true,"description":"The unique identifier of driveItem","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"patch":{"operationId":"drives.UpdateItems","summary":"Update the navigation property items in drives","tags":["drives.driveItem"],"parameters":[{"name":"drive-id","in":"path","required":true,"description":"The unique identifier of drive","schema":{"type":"string"}},{"name":"driveItem-id","in":"path","required":true,"description":"The unique identifier of driveItem","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"createdBy":{"application":{},"device":{},"user":{}},"description":"","eTag":"","lastModifiedBy":{"application":{},"device":{},"user":{}},"name":"","parentReference":{"driveId":"","driveType":"","name":"","path":"","shareId":"","sharepointIds":{},"siteId":""},"webUrl":"","createdByUser":{"aboutMe":"","accountEnabled":false,"ageGroup":"","assignedLicenses":[],"assignedPlans":[],"birthday":"1970-01-01T00:00:00.000Z","businessPhones":[],"city":"","companyName":"","consentProvidedForMinor":"","country":"","creationType":"","department":"","deviceEnrollmentLimit":0,"displayName":"","employeeHireDate":"1970-01-01T00:00:00.000Z","employeeId":"","employeeLeaveDateTime":"1970-01-01T00:00:00.000Z","employeeType":"","externalUserState":"","externalUserStateChangeDateTime":"1970-01-01T00:00:00.000Z","faxNumber":"","givenName":"","hireDate":"1970-01-01T00:00:00.000Z","identities":[],"identityParentId":"","imAddresses":[],"interests":[],"isManagementRestricted":false,"isResourceAccount":false,"jobTitle":"","lastPasswordChangeDateTime":"1970-01-01T00:00:00.000Z","legalAgeGroupClassification":"","licenseAssignmentStates":[],"mail":"","mailNickname":"","mobilePhone":"","mySite":"","officeLocation":"","onPremisesDistinguishedName":"","onPremisesDomainName":"","onPremisesImmutableId":"","onPremisesLastSyncDateTime":"1970-01-01T00:00:00.000Z","onPremisesProvisioningErrors":[],"onPremisesSamAccountName":"","onPremisesSecurityIdentifier":"","onPremisesSyncEnabled":false,"onPremisesUserPrincipalName":"","otherMails":[],"passwordPolicies":"","pastProjects":[],"postalCode":"","preferredDataLocation":"","preferredLanguage":"","preferredName":"","provisionedPlans":[],"proxyAddresses":[],"responsibilities":[],"schools":[],"securityIdentifier":"","serviceProvisioningErrors":[],"showInAddressList":false,"signInSessionsValidFromDateTime":"1970-01-01T00:00:00.000Z","skills":[],"state":"","streetAddress":"","surname":"","usageLocation":"","userPrincipalName":"","userType":"","activities":[],"adhocCalls":[],"agreementAcceptances":[],"appRoleAssignments":[],"calendarGroups":[],"calendars":[],"calendarView":[],"chats":[],"cloudPCs":[],"contactFolders":[],"contacts":[],"createdObjects":[],"deviceManagementTroubleshootingEvents":[],"directReports":[],"drives":[],"events":[],"extensions":[],"followedSites":[],"joinedTeams":[],"licenseDetails":[],"mailFolders":[],"managedAppRegistrations":[],"managedDevices":[],"memberOf":[],"messages":[],"notes":[],"oauth2PermissionGrants":[],"onlineMeetings":[],"ownedDevices":[],"ownedObjects":[],"people":[],"permissionGrants":[],"photos":[],"registeredDevices":[],"scopedRoleMemberOf":[],"sponsorOf":[],"sponsors":[],"transitiveMemberOf":[]},"lastModifiedByUser":{"aboutMe":"","accountEnabled":false,"ageGroup":"","assignedLicenses":[],"assignedPlans":[],"birthday":"1970-01-01T00:00:00.000Z","businessPhones":[],"city":"","companyName":"","consentProvidedForMinor":"","country":"","creationType":"","department":"","deviceEnrollmentLimit":0,"displayName":"","employeeHireDate":"1970-01-01T00:00:00.000Z","employeeId":"","employeeLeaveDateTime":"1970-01-01T00:00:00.000Z","employeeType":"","externalUserState":"","externalUserStateChangeDateTime":"1970-01-01T00:00:00.000Z","faxNumber":"","givenName":"","hireDate":"1970-01-01T00:00:00.000Z","identities":[],"identityParentId":"","imAddresses":[],"interests":[],"isManagementRestricted":false,"isResourceAccount":false,"jobTitle":"","lastPasswordChangeDateTime":"1970-01-01T00:00:00.000Z","legalAgeGroupClassification":"","licenseAssignmentStates":[],"mail":"","mailNickname":"","mobilePhone":"","mySite":"","officeLocation":"","onPremisesDistinguishedName":"","onPremisesDomainName":"","onPremisesImmutableId":"","onPremisesLastSyncDateTime":"1970-01-01T00:00:00.000Z","onPremisesProvisioningErrors":[],"onPremisesSamAccountName":"","onPremisesSecurityIdentifier":"","onPremisesSyncEnabled":false,"onPremisesUserPrincipalName":"","otherMails":[],"passwordPolicies":"","pastProjects":[],"postalCode":"","preferredDataLocation":"","preferredLanguage":"","preferredName":"","provisionedPlans":[],"proxyAddresses":[],"responsibilities":[],"schools":[],"securityIdentifier":"","serviceProvisioningErrors":[],"showInAddressList":false,"signInSessionsValidFromDateTime":"1970-01-01T00:00:00.000Z","skills":[],"state":"","streetAddress":"","surname":"","usageLocation":"","userPrincipalName":"","userType":"","activities":[],"adhocCalls":[],"agreementAcceptances":[],"appRoleAssignments":[],"calendarGroups":[],"calendars":[],"calendarView":[],"chats":[],"cloudPCs":[],"contactFolders":[],"contacts":[],"createdObjects":[],"deviceManagementTroubleshootingEvents":[],"directReports":[],"drives":[],"events":[],"extensions":[],"followedSites":[],"joinedTeams":[],"licenseDetails":[],"mailFolders":[],"managedAppRegistrations":[],"managedDevices":[],"memberOf":[],"messages":[],"notes":[],"oauth2PermissionGrants":[],"onlineMeetings":[],"ownedDevices":[],"ownedObjects":[],"people":[],"permissionGrants":[],"photos":[],"registeredDevices":[],"scopedRoleMemberOf":[],"sponsorOf":[],"sponsors":[],"transitiveMemberOf":[]},"audio":{"album":"","albumArtist":"","artist":"","bitrate":0,"composers":"","copyright":"","disc":0,"discCount":0,"duration":0,"genre":"","hasDrm":false,"isVariableBitrate":false,"title":"","track":0,"trackCount":0,"year":0},"bundle":{"album":{"coverImageItemId":""},"childCount":0},"content":"","cTag":"","deleted":{"state":""},"file":{"hashes":{"crc32Hash":"","quickXorHash":"","sha1Hash":"","sha256Hash":""},"mimeType":"","processingMetadata":false},"fileSystemInfo":{"lastAccessedDateTime":"1970-01-01T00:00:00.000Z"},"folder":{"childCount":0,"view":{"sortBy":"","sortOrder":"","viewType":""}},"image":{"height":0,"width":0},"location":{"altitude":0,"latitude":0,"longitude":0},"malware":{"description":""},"package":{"type":""},"pendingOperations":{"pendingContentUpdate":{"queuedDateTime":"1970-01-01T00:00:00.000Z"}},"photo":{"cameraMake":"","cameraModel":"","exposureDenominator":0,"exposureNumerator":0,"fNumber":0,"focalLength":0,"iso":0,"orientation":0,"takenDateTime":"1970-01-01T00:00:00.000Z"},"publication":{"checkedOutBy":{},"level":"","versionId":""},"remoteItem":{"createdBy":{},"file":{"mimeType":"","processingMetadata":false},"fileSystemInfo":{"lastAccessedDateTime":"1970-01-01T00:00:00.000Z"},"folder":{"childCount":0},"image":{"height":0,"width":0},"lastModifiedBy":{},"name":"","package":{"type":""},"parentReference":{"driveId":"","driveType":"","name":"","path":"","shareId":"","siteId":""},"shared":{"scope":"","sharedDateTime":"1970-01-01T00:00:00.000Z"},"sharepointIds":{"listId":"","listItemId":"","listItemUniqueId":"","siteId":"","siteUrl":"","tenantId":"","webId":""},"size":0,"specialFolder":{"name":""},"video":{"audioBitsPerSample":0,"audioChannels":0,"audioFormat":"","audioSamplesPerSecond":0,"bitrate":0,"duration":0,"fourCC":"","height":0,"width":0},"webDavUrl":"","webUrl":""},"root":{},"searchResult":{"onClickTelemetryUrl":""},"shared":{"owner":{},"scope":"","sharedBy":{},"sharedDateTime":"1970-01-01T00:00:00.000Z"},"sharepointIds":{"listId":"","listItemId":"","listItemUniqueId":"","siteId":"","siteUrl":"","tenantId":"","webId":""},"size":0,"specialFolder":{"name":""},"video":{"audioBitsPerSample":0,"audioChannels":0,"audioFormat":"","audioSamplesPerSecond":0,"bitrate":0,"duration":0,"fourCC":"","frameRate":0,"height":0,"width":0},"webDavUrl":"","analytics":{"allTime":{},"itemActivityStats":[{}],"lastSevenDays":{}},"children":[],"listItem":{"description":"","eTag":"","name":"","webUrl":"","contentType":{},"deleted":{},"sharepointIds":{},"analytics":{},"documentSetVersions":[{}],"fields":{},"permissions":[{}],"versions":[{}]},"permissions":[{"expirationDateTime":"1970-01-01T00:00:00.000Z","grantedTo":{},"grantedToIdentities":[{}],"grantedToIdentitiesV2":[{}],"grantedToV2":{},"hasPassword":false,"inheritedFrom":{},"invitation":{},"link":{},"roles":[""],"shareId":""}],"retentionLabel":{"isLabelAppliedExplicitly":false,"labelAppliedBy":{},"labelAppliedDateTime":"1970-01-01T00:00:00.000Z","name":"","retentionSettings":{}},"subscriptions":[{"applicationId":"","changeType":"","clientState":"","creatorId":"","encryptionCertificate":"","encryptionCertificateId":"","expirationDateTime":"1970-01-01T00:00:00.000Z","includeResourceData":false,"latestSupportedTlsVersion":"","lifecycleNotificationUrl":"","notificationQueryOptions":"","notificationUrl":"","notificationUrlAppId":"","resource":""}],"thumbnails":[{"large":{},"medium":{},"small":{},"source":{}}],"versions":[{"content":"","size":0}],"workbook":{"application":{},"comments":[{}],"functions":{},"names":[{}],"operations":[{}],"tables":[{}],"worksheets":[{}]}}}}}},"delete":{"operationId":"drives.DeleteItems","summary":"Delete navigation property items for drives","tags":["drives.driveItem"],"parameters":[{"name":"drive-id","in":"path","required":true,"description":"The unique identifier of drive","schema":{"type":"string"}},{"name":"driveItem-id","in":"path","required":true,"description":"The unique identifier of driveItem","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/drives/{drive-id}/items/{driveItem-id}/children":{"get":{"operationId":"drives.items.ListChildren","summary":"List children of a driveItem","description":"Return a collection of DriveItems in the children relationship of a DriveItem. DriveItems with a non-null folder or package facet can have one or more child DriveItems.","tags":["drives.driveItem"],"parameters":[{"name":"drive-id","in":"path","required":true,"description":"The unique identifier of drive","schema":{"type":"string"}},{"name":"driveItem-id","in":"path","required":true,"description":"The unique identifier of driveItem","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"post":{"operationId":"drives.items.CreateChildren","summary":"Create new navigation property to children for drives","tags":["drives.driveItem"],"parameters":[{"name":"drive-id","in":"path","required":true,"description":"The unique identifier of drive","schema":{"type":"string"}},{"name":"driveItem-id","in":"path","required":true,"description":"The unique identifier of driveItem","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"createdBy":{"application":{},"device":{},"user":{}},"description":"","eTag":"","lastModifiedBy":{"application":{},"device":{},"user":{}},"name":"","parentReference":{"driveId":"","driveType":"","name":"","path":"","shareId":"","sharepointIds":{},"siteId":""},"webUrl":"","createdByUser":{"aboutMe":"","accountEnabled":false,"ageGroup":"","assignedLicenses":[],"assignedPlans":[],"birthday":"1970-01-01T00:00:00.000Z","businessPhones":[],"city":"","companyName":"","consentProvidedForMinor":"","country":"","creationType":"","department":"","deviceEnrollmentLimit":0,"displayName":"","employeeHireDate":"1970-01-01T00:00:00.000Z","employeeId":"","employeeLeaveDateTime":"1970-01-01T00:00:00.000Z","employeeType":"","externalUserState":"","externalUserStateChangeDateTime":"1970-01-01T00:00:00.000Z","faxNumber":"","givenName":"","hireDate":"1970-01-01T00:00:00.000Z","identities":[],"identityParentId":"","imAddresses":[],"interests":[],"isManagementRestricted":false,"isResourceAccount":false,"jobTitle":"","lastPasswordChangeDateTime":"1970-01-01T00:00:00.000Z","legalAgeGroupClassification":"","licenseAssignmentStates":[],"mail":"","mailNickname":"","mobilePhone":"","mySite":"","officeLocation":"","onPremisesDistinguishedName":"","onPremisesDomainName":"","onPremisesImmutableId":"","onPremisesLastSyncDateTime":"1970-01-01T00:00:00.000Z","onPremisesProvisioningErrors":[],"onPremisesSamAccountName":"","onPremisesSecurityIdentifier":"","onPremisesSyncEnabled":false,"onPremisesUserPrincipalName":"","otherMails":[],"passwordPolicies":"","pastProjects":[],"postalCode":"","preferredDataLocation":"","preferredLanguage":"","preferredName":"","provisionedPlans":[],"proxyAddresses":[],"responsibilities":[],"schools":[],"securityIdentifier":"","serviceProvisioningErrors":[],"showInAddressList":false,"signInSessionsValidFromDateTime":"1970-01-01T00:00:00.000Z","skills":[],"state":"","streetAddress":"","surname":"","usageLocation":"","userPrincipalName":"","userType":"","activities":[],"adhocCalls":[],"agreementAcceptances":[],"appRoleAssignments":[],"calendarGroups":[],"calendars":[],"calendarView":[],"chats":[],"cloudPCs":[],"contactFolders":[],"contacts":[],"createdObjects":[],"deviceManagementTroubleshootingEvents":[],"directReports":[],"drives":[],"events":[],"extensions":[],"followedSites":[],"joinedTeams":[],"licenseDetails":[],"mailFolders":[],"managedAppRegistrations":[],"managedDevices":[],"memberOf":[],"messages":[],"notes":[],"oauth2PermissionGrants":[],"onlineMeetings":[],"ownedDevices":[],"ownedObjects":[],"people":[],"permissionGrants":[],"photos":[],"registeredDevices":[],"scopedRoleMemberOf":[],"sponsorOf":[],"sponsors":[],"transitiveMemberOf":[]},"lastModifiedByUser":{"aboutMe":"","accountEnabled":false,"ageGroup":"","assignedLicenses":[],"assignedPlans":[],"birthday":"1970-01-01T00:00:00.000Z","businessPhones":[],"city":"","companyName":"","consentProvidedForMinor":"","country":"","creationType":"","department":"","deviceEnrollmentLimit":0,"displayName":"","employeeHireDate":"1970-01-01T00:00:00.000Z","employeeId":"","employeeLeaveDateTime":"1970-01-01T00:00:00.000Z","employeeType":"","externalUserState":"","externalUserStateChangeDateTime":"1970-01-01T00:00:00.000Z","faxNumber":"","givenName":"","hireDate":"1970-01-01T00:00:00.000Z","identities":[],"identityParentId":"","imAddresses":[],"interests":[],"isManagementRestricted":false,"isResourceAccount":false,"jobTitle":"","lastPasswordChangeDateTime":"1970-01-01T00:00:00.000Z","legalAgeGroupClassification":"","licenseAssignmentStates":[],"mail":"","mailNickname":"","mobilePhone":"","mySite":"","officeLocation":"","onPremisesDistinguishedName":"","onPremisesDomainName":"","onPremisesImmutableId":"","onPremisesLastSyncDateTime":"1970-01-01T00:00:00.000Z","onPremisesProvisioningErrors":[],"onPremisesSamAccountName":"","onPremisesSecurityIdentifier":"","onPremisesSyncEnabled":false,"onPremisesUserPrincipalName":"","otherMails":[],"passwordPolicies":"","pastProjects":[],"postalCode":"","preferredDataLocation":"","preferredLanguage":"","preferredName":"","provisionedPlans":[],"proxyAddresses":[],"responsibilities":[],"schools":[],"securityIdentifier":"","serviceProvisioningErrors":[],"showInAddressList":false,"signInSessionsValidFromDateTime":"1970-01-01T00:00:00.000Z","skills":[],"state":"","streetAddress":"","surname":"","usageLocation":"","userPrincipalName":"","userType":"","activities":[],"adhocCalls":[],"agreementAcceptances":[],"appRoleAssignments":[],"calendarGroups":[],"calendars":[],"calendarView":[],"chats":[],"cloudPCs":[],"contactFolders":[],"contacts":[],"createdObjects":[],"deviceManagementTroubleshootingEvents":[],"directReports":[],"drives":[],"events":[],"extensions":[],"followedSites":[],"joinedTeams":[],"licenseDetails":[],"mailFolders":[],"managedAppRegistrations":[],"managedDevices":[],"memberOf":[],"messages":[],"notes":[],"oauth2PermissionGrants":[],"onlineMeetings":[],"ownedDevices":[],"ownedObjects":[],"people":[],"permissionGrants":[],"photos":[],"registeredDevices":[],"scopedRoleMemberOf":[],"sponsorOf":[],"sponsors":[],"transitiveMemberOf":[]},"audio":{"album":"","albumArtist":"","artist":"","bitrate":0,"composers":"","copyright":"","disc":0,"discCount":0,"duration":0,"genre":"","hasDrm":false,"isVariableBitrate":false,"title":"","track":0,"trackCount":0,"year":0},"bundle":{"album":{"coverImageItemId":""},"childCount":0},"content":"","cTag":"","deleted":{"state":""},"file":{"hashes":{"crc32Hash":"","quickXorHash":"","sha1Hash":"","sha256Hash":""},"mimeType":"","processingMetadata":false},"fileSystemInfo":{"lastAccessedDateTime":"1970-01-01T00:00:00.000Z"},"folder":{"childCount":0,"view":{"sortBy":"","sortOrder":"","viewType":""}},"image":{"height":0,"width":0},"location":{"altitude":0,"latitude":0,"longitude":0},"malware":{"description":""},"package":{"type":""},"pendingOperations":{"pendingContentUpdate":{"queuedDateTime":"1970-01-01T00:00:00.000Z"}},"photo":{"cameraMake":"","cameraModel":"","exposureDenominator":0,"exposureNumerator":0,"fNumber":0,"focalLength":0,"iso":0,"orientation":0,"takenDateTime":"1970-01-01T00:00:00.000Z"},"publication":{"checkedOutBy":{},"level":"","versionId":""},"remoteItem":{"createdBy":{},"file":{"mimeType":"","processingMetadata":false},"fileSystemInfo":{"lastAccessedDateTime":"1970-01-01T00:00:00.000Z"},"folder":{"childCount":0},"image":{"height":0,"width":0},"lastModifiedBy":{},"name":"","package":{"type":""},"parentReference":{"driveId":"","driveType":"","name":"","path":"","shareId":"","siteId":""},"shared":{"scope":"","sharedDateTime":"1970-01-01T00:00:00.000Z"},"sharepointIds":{"listId":"","listItemId":"","listItemUniqueId":"","siteId":"","siteUrl":"","tenantId":"","webId":""},"size":0,"specialFolder":{"name":""},"video":{"audioBitsPerSample":0,"audioChannels":0,"audioFormat":"","audioSamplesPerSecond":0,"bitrate":0,"duration":0,"fourCC":"","height":0,"width":0},"webDavUrl":"","webUrl":""},"root":{},"searchResult":{"onClickTelemetryUrl":""},"shared":{"owner":{},"scope":"","sharedBy":{},"sharedDateTime":"1970-01-01T00:00:00.000Z"},"sharepointIds":{"listId":"","listItemId":"","listItemUniqueId":"","siteId":"","siteUrl":"","tenantId":"","webId":""},"size":0,"specialFolder":{"name":""},"video":{"audioBitsPerSample":0,"audioChannels":0,"audioFormat":"","audioSamplesPerSecond":0,"bitrate":0,"duration":0,"fourCC":"","frameRate":0,"height":0,"width":0},"webDavUrl":"","analytics":{"allTime":{},"itemActivityStats":[{}],"lastSevenDays":{}},"children":[],"listItem":{"description":"","eTag":"","name":"","webUrl":"","contentType":{},"deleted":{},"sharepointIds":{},"analytics":{},"documentSetVersions":[{}],"fields":{},"permissions":[{}],"versions":[{}]},"permissions":[{"expirationDateTime":"1970-01-01T00:00:00.000Z","grantedTo":{},"grantedToIdentities":[{}],"grantedToIdentitiesV2":[{}],"grantedToV2":{},"hasPassword":false,"inheritedFrom":{},"invitation":{},"link":{},"roles":[""],"shareId":""}],"retentionLabel":{"isLabelAppliedExplicitly":false,"labelAppliedBy":{},"labelAppliedDateTime":"1970-01-01T00:00:00.000Z","name":"","retentionSettings":{}},"subscriptions":[{"applicationId":"","changeType":"","clientState":"","creatorId":"","encryptionCertificate":"","encryptionCertificateId":"","expirationDateTime":"1970-01-01T00:00:00.000Z","includeResourceData":false,"latestSupportedTlsVersion":"","lifecycleNotificationUrl":"","notificationQueryOptions":"","notificationUrl":"","notificationUrlAppId":"","resource":""}],"thumbnails":[{"large":{},"medium":{},"small":{},"source":{}}],"versions":[{"content":"","size":0}],"workbook":{"application":{},"comments":[{}],"functions":{},"names":[{}],"operations":[{}],"tables":[{}],"worksheets":[{}]}}}}}}},"/drives/{drive-id}/items/{driveItem-id}/content":{"get":{"operationId":"drives.GetItemsContent","summary":"Get content for the navigation property items from drives","description":"The content stream, if the item represents a file.","tags":["drives.driveItem"],"parameters":[{"name":"drive-id","in":"path","required":true,"description":"The unique identifier of drive","schema":{"type":"string"}},{"name":"driveItem-id","in":"path","required":true,"description":"The unique identifier of driveItem","schema":{"type":"string"}},{"name":"$format","in":"query","required":false,"description":"Format of the content","schema":{"type":"string"}}]},"put":{"operationId":"drives.UpdateItemsContent","summary":"Update content for the navigation property items in drives","description":"The content stream, if the item represents a file.","tags":["drives.driveItem"],"parameters":[{"name":"drive-id","in":"path","required":true,"description":"The unique identifier of drive","schema":{"type":"string"}},{"name":"driveItem-id","in":"path","required":true,"description":"The unique identifier of driveItem","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/octet-stream":{}}}},"delete":{"operationId":"drives.DeleteItemsContent","summary":"Delete content for the navigation property items in drives","description":"The content stream, if the item represents a file.","tags":["drives.driveItem"],"parameters":[{"name":"drive-id","in":"path","required":true,"description":"The unique identifier of drive","schema":{"type":"string"}},{"name":"driveItem-id","in":"path","required":true,"description":"The unique identifier of driveItem","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/me/drive":{"get":{"operationId":"me.GetDrive","summary":"Get Drive","description":"Retrieve the properties and relationships of a Drive resource. A Drive is the top-level container for a file system, such as OneDrive or SharePoint document libraries.","tags":["me.drive"],"parameters":[{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]}},"/shares":{"get":{"operationId":"shares.sharedDriveItem.ListSharedDriveItem","summary":"Accessing shared DriveItems","description":"Access a shared DriveItem or a collection of shared items by using a shareId or sharing URL. To use a sharing URL with this API, your app needs to transform the URL into a sharing token.","tags":["shares.sharedDriveItem"],"parameters":[{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"post":{"operationId":"shares.sharedDriveItem.CreateSharedDriveItem","summary":"Add new entity to shares","tags":["shares.sharedDriveItem"],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"example":{"createdBy":{"application":{},"device":{},"user":{}},"description":"","eTag":"","lastModifiedBy":{"application":{},"device":{},"user":{}},"name":"","parentReference":{"driveId":"","driveType":"","name":"","path":"","shareId":"","sharepointIds":{},"siteId":""},"webUrl":"","createdByUser":{"aboutMe":"","accountEnabled":false,"ageGroup":"","assignedLicenses":[],"assignedPlans":[],"birthday":"1970-01-01T00:00:00.000Z","businessPhones":[],"city":"","companyName":"","consentProvidedForMinor":"","country":"","creationType":"","department":"","deviceEnrollmentLimit":0,"displayName":"","employeeHireDate":"1970-01-01T00:00:00.000Z","employeeId":"","employeeLeaveDateTime":"1970-01-01T00:00:00.000Z","employeeType":"","externalUserState":"","externalUserStateChangeDateTime":"1970-01-01T00:00:00.000Z","faxNumber":"","givenName":"","hireDate":"1970-01-01T00:00:00.000Z","identities":[],"identityParentId":"","imAddresses":[],"interests":[],"isManagementRestricted":false,"isResourceAccount":false,"jobTitle":"","lastPasswordChangeDateTime":"1970-01-01T00:00:00.000Z","legalAgeGroupClassification":"","licenseAssignmentStates":[],"mail":"","mailNickname":"","mobilePhone":"","mySite":"","officeLocation":"","onPremisesDistinguishedName":"","onPremisesDomainName":"","onPremisesImmutableId":"","onPremisesLastSyncDateTime":"1970-01-01T00:00:00.000Z","onPremisesProvisioningErrors":[],"onPremisesSamAccountName":"","onPremisesSecurityIdentifier":"","onPremisesSyncEnabled":false,"onPremisesUserPrincipalName":"","otherMails":[],"passwordPolicies":"","pastProjects":[],"postalCode":"","preferredDataLocation":"","preferredLanguage":"","preferredName":"","provisionedPlans":[],"proxyAddresses":[],"responsibilities":[],"schools":[],"securityIdentifier":"","serviceProvisioningErrors":[],"showInAddressList":false,"signInSessionsValidFromDateTime":"1970-01-01T00:00:00.000Z","skills":[],"state":"","streetAddress":"","surname":"","usageLocation":"","userPrincipalName":"","userType":"","activities":[],"adhocCalls":[],"agreementAcceptances":[],"appRoleAssignments":[],"calendarGroups":[],"calendars":[],"calendarView":[],"chats":[],"cloudPCs":[],"contactFolders":[],"contacts":[],"createdObjects":[],"deviceManagementTroubleshootingEvents":[],"directReports":[],"drives":[],"events":[],"extensions":[],"followedSites":[],"joinedTeams":[],"licenseDetails":[],"mailFolders":[],"managedAppRegistrations":[],"managedDevices":[],"memberOf":[],"messages":[],"notes":[],"oauth2PermissionGrants":[],"onlineMeetings":[],"ownedDevices":[],"ownedObjects":[],"people":[],"permissionGrants":[],"photos":[],"registeredDevices":[],"scopedRoleMemberOf":[],"sponsorOf":[],"sponsors":[],"transitiveMemberOf":[]},"lastModifiedByUser":{"aboutMe":"","accountEnabled":false,"ageGroup":"","assignedLicenses":[],"assignedPlans":[],"birthday":"1970-01-01T00:00:00.000Z","businessPhones":[],"city":"","companyName":"","consentProvidedForMinor":"","country":"","creationType":"","department":"","deviceEnrollmentLimit":0,"displayName":"","employeeHireDate":"1970-01-01T00:00:00.000Z","employeeId":"","employeeLeaveDateTime":"1970-01-01T00:00:00.000Z","employeeType":"","externalUserState":"","externalUserStateChangeDateTime":"1970-01-01T00:00:00.000Z","faxNumber":"","givenName":"","hireDate":"1970-01-01T00:00:00.000Z","identities":[],"identityParentId":"","imAddresses":[],"interests":[],"isManagementRestricted":false,"isResourceAccount":false,"jobTitle":"","lastPasswordChangeDateTime":"1970-01-01T00:00:00.000Z","legalAgeGroupClassification":"","licenseAssignmentStates":[],"mail":"","mailNickname":"","mobilePhone":"","mySite":"","officeLocation":"","onPremisesDistinguishedName":"","onPremisesDomainName":"","onPremisesImmutableId":"","onPremisesLastSyncDateTime":"1970-01-01T00:00:00.000Z","onPremisesProvisioningErrors":[],"onPremisesSamAccountName":"","onPremisesSecurityIdentifier":"","onPremisesSyncEnabled":false,"onPremisesUserPrincipalName":"","otherMails":[],"passwordPolicies":"","pastProjects":[],"postalCode":"","preferredDataLocation":"","preferredLanguage":"","preferredName":"","provisionedPlans":[],"proxyAddresses":[],"responsibilities":[],"schools":[],"securityIdentifier":"","serviceProvisioningErrors":[],"showInAddressList":false,"signInSessionsValidFromDateTime":"1970-01-01T00:00:00.000Z","skills":[],"state":"","streetAddress":"","surname":"","usageLocation":"","userPrincipalName":"","userType":"","activities":[],"adhocCalls":[],"agreementAcceptances":[],"appRoleAssignments":[],"calendarGroups":[],"calendars":[],"calendarView":[],"chats":[],"cloudPCs":[],"contactFolders":[],"contacts":[],"createdObjects":[],"deviceManagementTroubleshootingEvents":[],"directReports":[],"drives":[],"events":[],"extensions":[],"followedSites":[],"joinedTeams":[],"licenseDetails":[],"mailFolders":[],"managedAppRegistrations":[],"managedDevices":[],"memberOf":[],"messages":[],"notes":[],"oauth2PermissionGrants":[],"onlineMeetings":[],"ownedDevices":[],"ownedObjects":[],"people":[],"permissionGrants":[],"photos":[],"registeredDevices":[],"scopedRoleMemberOf":[],"sponsorOf":[],"sponsors":[],"transitiveMemberOf":[]},"owner":{"application":{"displayName":""},"device":{"displayName":""},"user":{"displayName":""}},"driveItem":{"description":"","eTag":"","name":"","webUrl":"","audio":{},"bundle":{},"content":"","cTag":"","deleted":{},"file":{},"fileSystemInfo":{},"folder":{},"image":{},"location":{},"malware":{},"package":{},"pendingOperations":{},"photo":{},"publication":{},"remoteItem":{},"root":{},"searchResult":{},"shared":{},"sharepointIds":{},"size":0,"specialFolder":{},"video":{},"webDavUrl":"","analytics":{},"children":[],"listItem":{},"permissions":[{}],"retentionLabel":{},"subscriptions":[{}],"thumbnails":[{}],"versions":[{}],"workbook":{}},"items":[{"description":"","eTag":"","name":"","webUrl":"","audio":{},"bundle":{},"content":"","cTag":"","deleted":{},"file":{},"fileSystemInfo":{},"folder":{},"image":{},"location":{},"malware":{},"package":{},"pendingOperations":{},"photo":{},"publication":{},"remoteItem":{},"root":{},"searchResult":{},"shared":{},"sharepointIds":{},"size":0,"specialFolder":{},"video":{},"webDavUrl":"","analytics":{},"children":[],"listItem":{},"permissions":[{}],"retentionLabel":{},"subscriptions":[{}],"thumbnails":[{}],"versions":[{}],"workbook":{}}],"list":{"description":"","eTag":"","name":"","webUrl":"","displayName":"","list":{},"sharepointIds":{},"system":{},"columns":[{}],"contentTypes":[{}],"drive":{},"items":[{}],"operations":[{}],"permissions":[{}],"subscriptions":[{}]},"listItem":{"description":"","eTag":"","name":"","webUrl":"","contentType":{},"deleted":{},"sharepointIds":{},"analytics":{},"documentSetVersions":[{}],"driveItem":{},"fields":{},"permissions":[{}],"versions":[{}]},"permission":{"expirationDateTime":"1970-01-01T00:00:00.000Z","grantedTo":{},"grantedToIdentities":[{}],"grantedToIdentitiesV2":[{}],"grantedToV2":{},"hasPassword":false,"inheritedFrom":{},"invitation":{},"link":{},"roles":[""],"shareId":""},"root":{"description":"","eTag":"","name":"","webUrl":"","audio":{},"bundle":{},"content":"","cTag":"","deleted":{},"file":{},"fileSystemInfo":{},"folder":{},"image":{},"location":{},"malware":{},"package":{},"pendingOperations":{},"photo":{},"publication":{},"remoteItem":{},"root":{},"searchResult":{},"shared":{},"sharepointIds":{},"size":0,"specialFolder":{},"video":{},"webDavUrl":"","analytics":{},"children":[],"listItem":{},"permissions":[{}],"retentionLabel":{},"subscriptions":[{}],"thumbnails":[{}],"versions":[{}],"workbook":{}},"site":{"description":"","eTag":"","name":"","webUrl":"","displayName":"","error":{},"isPersonalSite":false,"root":{},"sharepointIds":{},"siteCollection":{},"analytics":{},"columns":[{}],"contentTypes":[{}],"drive":{},"drives":[{}],"externalColumns":[{}],"items":[{}],"lists":[{}],"onenote":{},"operations":[{}],"pages":[{}],"permissions":[{}],"sites":[],"termStore":{},"termStores":[{}]}}}}}}},"/shares/{sharedDriveItem-id}":{"get":{"operationId":"shares.sharedDriveItem.GetSharedDriveItem","summary":"Accessing shared DriveItems","description":"Access a shared DriveItem or a collection of shared items by using a shareId or sharing URL. To use a sharing URL with this API, your app needs to transform the URL into a sharing token.","tags":["shares.sharedDriveItem"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"patch":{"operationId":"shares.sharedDriveItem.UpdateSharedDriveItem","summary":"Update entity in shares","tags":["shares.sharedDriveItem"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"createdBy":{"application":{},"device":{},"user":{}},"description":"","eTag":"","lastModifiedBy":{"application":{},"device":{},"user":{}},"name":"","parentReference":{"driveId":"","driveType":"","name":"","path":"","shareId":"","sharepointIds":{},"siteId":""},"webUrl":"","createdByUser":{"aboutMe":"","accountEnabled":false,"ageGroup":"","assignedLicenses":[],"assignedPlans":[],"birthday":"1970-01-01T00:00:00.000Z","businessPhones":[],"city":"","companyName":"","consentProvidedForMinor":"","country":"","creationType":"","department":"","deviceEnrollmentLimit":0,"displayName":"","employeeHireDate":"1970-01-01T00:00:00.000Z","employeeId":"","employeeLeaveDateTime":"1970-01-01T00:00:00.000Z","employeeType":"","externalUserState":"","externalUserStateChangeDateTime":"1970-01-01T00:00:00.000Z","faxNumber":"","givenName":"","hireDate":"1970-01-01T00:00:00.000Z","identities":[],"identityParentId":"","imAddresses":[],"interests":[],"isManagementRestricted":false,"isResourceAccount":false,"jobTitle":"","lastPasswordChangeDateTime":"1970-01-01T00:00:00.000Z","legalAgeGroupClassification":"","licenseAssignmentStates":[],"mail":"","mailNickname":"","mobilePhone":"","mySite":"","officeLocation":"","onPremisesDistinguishedName":"","onPremisesDomainName":"","onPremisesImmutableId":"","onPremisesLastSyncDateTime":"1970-01-01T00:00:00.000Z","onPremisesProvisioningErrors":[],"onPremisesSamAccountName":"","onPremisesSecurityIdentifier":"","onPremisesSyncEnabled":false,"onPremisesUserPrincipalName":"","otherMails":[],"passwordPolicies":"","pastProjects":[],"postalCode":"","preferredDataLocation":"","preferredLanguage":"","preferredName":"","provisionedPlans":[],"proxyAddresses":[],"responsibilities":[],"schools":[],"securityIdentifier":"","serviceProvisioningErrors":[],"showInAddressList":false,"signInSessionsValidFromDateTime":"1970-01-01T00:00:00.000Z","skills":[],"state":"","streetAddress":"","surname":"","usageLocation":"","userPrincipalName":"","userType":"","activities":[],"adhocCalls":[],"agreementAcceptances":[],"appRoleAssignments":[],"calendarGroups":[],"calendars":[],"calendarView":[],"chats":[],"cloudPCs":[],"contactFolders":[],"contacts":[],"createdObjects":[],"deviceManagementTroubleshootingEvents":[],"directReports":[],"drives":[],"events":[],"extensions":[],"followedSites":[],"joinedTeams":[],"licenseDetails":[],"mailFolders":[],"managedAppRegistrations":[],"managedDevices":[],"memberOf":[],"messages":[],"notes":[],"oauth2PermissionGrants":[],"onlineMeetings":[],"ownedDevices":[],"ownedObjects":[],"people":[],"permissionGrants":[],"photos":[],"registeredDevices":[],"scopedRoleMemberOf":[],"sponsorOf":[],"sponsors":[],"transitiveMemberOf":[]},"lastModifiedByUser":{"aboutMe":"","accountEnabled":false,"ageGroup":"","assignedLicenses":[],"assignedPlans":[],"birthday":"1970-01-01T00:00:00.000Z","businessPhones":[],"city":"","companyName":"","consentProvidedForMinor":"","country":"","creationType":"","department":"","deviceEnrollmentLimit":0,"displayName":"","employeeHireDate":"1970-01-01T00:00:00.000Z","employeeId":"","employeeLeaveDateTime":"1970-01-01T00:00:00.000Z","employeeType":"","externalUserState":"","externalUserStateChangeDateTime":"1970-01-01T00:00:00.000Z","faxNumber":"","givenName":"","hireDate":"1970-01-01T00:00:00.000Z","identities":[],"identityParentId":"","imAddresses":[],"interests":[],"isManagementRestricted":false,"isResourceAccount":false,"jobTitle":"","lastPasswordChangeDateTime":"1970-01-01T00:00:00.000Z","legalAgeGroupClassification":"","licenseAssignmentStates":[],"mail":"","mailNickname":"","mobilePhone":"","mySite":"","officeLocation":"","onPremisesDistinguishedName":"","onPremisesDomainName":"","onPremisesImmutableId":"","onPremisesLastSyncDateTime":"1970-01-01T00:00:00.000Z","onPremisesProvisioningErrors":[],"onPremisesSamAccountName":"","onPremisesSecurityIdentifier":"","onPremisesSyncEnabled":false,"onPremisesUserPrincipalName":"","otherMails":[],"passwordPolicies":"","pastProjects":[],"postalCode":"","preferredDataLocation":"","preferredLanguage":"","preferredName":"","provisionedPlans":[],"proxyAddresses":[],"responsibilities":[],"schools":[],"securityIdentifier":"","serviceProvisioningErrors":[],"showInAddressList":false,"signInSessionsValidFromDateTime":"1970-01-01T00:00:00.000Z","skills":[],"state":"","streetAddress":"","surname":"","usageLocation":"","userPrincipalName":"","userType":"","activities":[],"adhocCalls":[],"agreementAcceptances":[],"appRoleAssignments":[],"calendarGroups":[],"calendars":[],"calendarView":[],"chats":[],"cloudPCs":[],"contactFolders":[],"contacts":[],"createdObjects":[],"deviceManagementTroubleshootingEvents":[],"directReports":[],"drives":[],"events":[],"extensions":[],"followedSites":[],"joinedTeams":[],"licenseDetails":[],"mailFolders":[],"managedAppRegistrations":[],"managedDevices":[],"memberOf":[],"messages":[],"notes":[],"oauth2PermissionGrants":[],"onlineMeetings":[],"ownedDevices":[],"ownedObjects":[],"people":[],"permissionGrants":[],"photos":[],"registeredDevices":[],"scopedRoleMemberOf":[],"sponsorOf":[],"sponsors":[],"transitiveMemberOf":[]},"owner":{"application":{"displayName":""},"device":{"displayName":""},"user":{"displayName":""}},"driveItem":{"description":"","eTag":"","name":"","webUrl":"","audio":{},"bundle":{},"content":"","cTag":"","deleted":{},"file":{},"fileSystemInfo":{},"folder":{},"image":{},"location":{},"malware":{},"package":{},"pendingOperations":{},"photo":{},"publication":{},"remoteItem":{},"root":{},"searchResult":{},"shared":{},"sharepointIds":{},"size":0,"specialFolder":{},"video":{},"webDavUrl":"","analytics":{},"children":[],"listItem":{},"permissions":[{}],"retentionLabel":{},"subscriptions":[{}],"thumbnails":[{}],"versions":[{}],"workbook":{}},"items":[{"description":"","eTag":"","name":"","webUrl":"","audio":{},"bundle":{},"content":"","cTag":"","deleted":{},"file":{},"fileSystemInfo":{},"folder":{},"image":{},"location":{},"malware":{},"package":{},"pendingOperations":{},"photo":{},"publication":{},"remoteItem":{},"root":{},"searchResult":{},"shared":{},"sharepointIds":{},"size":0,"specialFolder":{},"video":{},"webDavUrl":"","analytics":{},"children":[],"listItem":{},"permissions":[{}],"retentionLabel":{},"subscriptions":[{}],"thumbnails":[{}],"versions":[{}],"workbook":{}}],"list":{"description":"","eTag":"","name":"","webUrl":"","displayName":"","list":{},"sharepointIds":{},"system":{},"columns":[{}],"contentTypes":[{}],"drive":{},"items":[{}],"operations":[{}],"permissions":[{}],"subscriptions":[{}]},"listItem":{"description":"","eTag":"","name":"","webUrl":"","contentType":{},"deleted":{},"sharepointIds":{},"analytics":{},"documentSetVersions":[{}],"driveItem":{},"fields":{},"permissions":[{}],"versions":[{}]},"permission":{"expirationDateTime":"1970-01-01T00:00:00.000Z","grantedTo":{},"grantedToIdentities":[{}],"grantedToIdentitiesV2":[{}],"grantedToV2":{},"hasPassword":false,"inheritedFrom":{},"invitation":{},"link":{},"roles":[""],"shareId":""},"root":{"description":"","eTag":"","name":"","webUrl":"","audio":{},"bundle":{},"content":"","cTag":"","deleted":{},"file":{},"fileSystemInfo":{},"folder":{},"image":{},"location":{},"malware":{},"package":{},"pendingOperations":{},"photo":{},"publication":{},"remoteItem":{},"root":{},"searchResult":{},"shared":{},"sharepointIds":{},"size":0,"specialFolder":{},"video":{},"webDavUrl":"","analytics":{},"children":[],"listItem":{},"permissions":[{}],"retentionLabel":{},"subscriptions":[{}],"thumbnails":[{}],"versions":[{}],"workbook":{}},"site":{"description":"","eTag":"","name":"","webUrl":"","displayName":"","error":{},"isPersonalSite":false,"root":{},"sharepointIds":{},"siteCollection":{},"analytics":{},"columns":[{}],"contentTypes":[{}],"drive":{},"drives":[{}],"externalColumns":[{}],"items":[{}],"lists":[{}],"onenote":{},"operations":[{}],"pages":[{}],"permissions":[{}],"sites":[],"termStore":{},"termStores":[{}]}}}}}},"delete":{"operationId":"shares.sharedDriveItem.DeleteSharedDriveItem","summary":"Delete entity from shares","tags":["shares.sharedDriveItem"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/shares/{sharedDriveItem-id}/createdByUser":{"get":{"operationId":"shares.GetCreatedByUser","summary":"Get createdByUser from shares","description":"Identity of the user who created the item. Read-only.","tags":["shares.user"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]}},"/shares/{sharedDriveItem-id}/createdByUser/mailboxSettings":{"get":{"operationId":"shares.createdByUser.GetMailboxSettings","summary":"Get mailboxSettings property value","description":"Settings for the primary mailbox of the signed-in user. You can get or update settings for sending automatic replies to incoming messages, locale, and time zone. Requires $select to retrieve.","tags":["shares.user"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"patch":{"operationId":"shares.createdByUser.UpdateMailboxSettings","summary":"Update property mailboxSettings value.","tags":["shares.user"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"archiveFolder":"","automaticRepliesSetting":{"externalAudience":"none","externalReplyMessage":"","internalReplyMessage":"","scheduledEndDateTime":{"dateTime":"","timeZone":""},"scheduledStartDateTime":{"dateTime":"","timeZone":""},"status":"disabled"},"dateFormat":"","delegateMeetingMessageDeliveryOptions":"sendToDelegateAndInformationToPrincipal","language":{"displayName":"","locale":""},"timeFormat":"","timeZone":"","userPurpose":"user","workingHours":{"daysOfWeek":["sunday"],"endTime":"","startTime":"","timeZone":{"name":""}}}}}}}},"/shares/{sharedDriveItem-id}/createdByUser/serviceProvisioningErrors":{"get":{"operationId":"shares.createdByUser.ListServiceProvisioningErrors","summary":"Get serviceProvisioningErrors property value","description":"Errors published by a federated service describing a nontransient, service-specific error regarding the properties or link from a user object.  Supports $filter (eq, not, for isResolved and serviceInstance).","tags":["shares.user"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]}},"/shares/{sharedDriveItem-id}/createdByUser/serviceProvisioningErrors/$count":{"get":{"operationId":"shares.createdByUser.ServiceProvisioningErrors.GetCount-abf4","summary":"Get the number of the resource","tags":["shares.user"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"ConsistencyLevel","in":"header","required":false,"description":"Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries","schema":{"type":"string"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}}]}},"/shares/{sharedDriveItem-id}/driveItem":{"get":{"operationId":"shares.GetDriveItem","summary":"Accessing shared DriveItems","description":"Access a shared DriveItem or a collection of shared items by using a shareId or sharing URL. To use a sharing URL with this API, your app needs to transform the URL into a sharing token.","tags":["shares.driveItem"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]}},"/shares/{sharedDriveItem-id}/driveItem/content":{"get":{"operationId":"shares.GetDriveItemContent","summary":"Get content for the navigation property driveItem from shares","description":"The content stream, if the item represents a file.","tags":["shares.driveItem"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"$format","in":"query","required":false,"description":"Format of the content","schema":{"type":"string"}}]},"put":{"operationId":"shares.UpdateDriveItemContent","summary":"Update content for the navigation property driveItem in shares","description":"The content stream, if the item represents a file.","tags":["shares.driveItem"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/octet-stream":{}}}},"delete":{"operationId":"shares.DeleteDriveItemContent","summary":"Delete content for the navigation property driveItem in shares","description":"The content stream, if the item represents a file.","tags":["shares.driveItem"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/shares/{sharedDriveItem-id}/items":{"get":{"operationId":"shares.ListItems","summary":"Get items from shares","description":"All driveItems contained in the sharing root. This collection cannot be enumerated.","tags":["shares.driveItem"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]}},"/shares/{sharedDriveItem-id}/items/{driveItem-id}":{"get":{"operationId":"shares.GetItems","summary":"Get items from shares","description":"All driveItems contained in the sharing root. This collection cannot be enumerated.","tags":["shares.driveItem"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"driveItem-id","in":"path","required":true,"description":"The unique identifier of driveItem","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]}},"/shares/{sharedDriveItem-id}/items/{driveItem-id}/content":{"get":{"operationId":"shares.GetItemsContent","summary":"Get content for the navigation property items from shares","description":"The content stream, if the item represents a file.","tags":["shares.driveItem"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"driveItem-id","in":"path","required":true,"description":"The unique identifier of driveItem","schema":{"type":"string"}},{"name":"$format","in":"query","required":false,"description":"Format of the content","schema":{"type":"string"}}]},"put":{"operationId":"shares.UpdateItemsContent","summary":"Update content for the navigation property items in shares","description":"The content stream, if the item represents a file.","tags":["shares.driveItem"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"driveItem-id","in":"path","required":true,"description":"The unique identifier of driveItem","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/octet-stream":{}}}},"delete":{"operationId":"shares.DeleteItemsContent","summary":"Delete content for the navigation property items in shares","description":"The content stream, if the item represents a file.","tags":["shares.driveItem"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"driveItem-id","in":"path","required":true,"description":"The unique identifier of driveItem","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/shares/{sharedDriveItem-id}/items/$count":{"get":{"operationId":"shares.items.GetCount-245c","summary":"Get the number of the resource","tags":["shares.driveItem"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}}]}},"/shares/{sharedDriveItem-id}/lastModifiedByUser":{"get":{"operationId":"shares.GetLastModifiedByUser","summary":"Get lastModifiedByUser from shares","description":"Identity of the user who last modified the item. Read-only.","tags":["shares.user"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]}},"/shares/{sharedDriveItem-id}/lastModifiedByUser/mailboxSettings":{"get":{"operationId":"shares.lastModifiedByUser.GetMailboxSettings","summary":"Get mailboxSettings property value","description":"Settings for the primary mailbox of the signed-in user. You can get or update settings for sending automatic replies to incoming messages, locale, and time zone. Requires $select to retrieve.","tags":["shares.user"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"patch":{"operationId":"shares.lastModifiedByUser.UpdateMailboxSettings","summary":"Update property mailboxSettings value.","tags":["shares.user"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"archiveFolder":"","automaticRepliesSetting":{"externalAudience":"none","externalReplyMessage":"","internalReplyMessage":"","scheduledEndDateTime":{"dateTime":"","timeZone":""},"scheduledStartDateTime":{"dateTime":"","timeZone":""},"status":"disabled"},"dateFormat":"","delegateMeetingMessageDeliveryOptions":"sendToDelegateAndInformationToPrincipal","language":{"displayName":"","locale":""},"timeFormat":"","timeZone":"","userPurpose":"user","workingHours":{"daysOfWeek":["sunday"],"endTime":"","startTime":"","timeZone":{"name":""}}}}}}}},"/shares/{sharedDriveItem-id}/lastModifiedByUser/serviceProvisioningErrors":{"get":{"operationId":"shares.lastModifiedByUser.ListServiceProvisioningErrors","summary":"Get serviceProvisioningErrors property value","description":"Errors published by a federated service describing a nontransient, service-specific error regarding the properties or link from a user object.  Supports $filter (eq, not, for isResolved and serviceInstance).","tags":["shares.user"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]}},"/shares/{sharedDriveItem-id}/lastModifiedByUser/serviceProvisioningErrors/$count":{"get":{"operationId":"shares.lastModifiedByUser.ServiceProvisioningErrors.GetCount-a885","summary":"Get the number of the resource","tags":["shares.user"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}}]}},"/shares/{sharedDriveItem-id}/list":{"get":{"operationId":"shares.GetList","summary":"Get list from shares","description":"Used to access the underlying list","tags":["shares.list"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"patch":{"operationId":"shares.UpdateList","summary":"Update the navigation property list in shares","tags":["shares.list"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"createdBy":{"application":{},"device":{},"user":{}},"description":"","eTag":"","lastModifiedBy":{"application":{},"device":{},"user":{}},"name":"","parentReference":{"driveId":"","driveType":"","name":"","path":"","shareId":"","sharepointIds":{},"siteId":""},"webUrl":"","createdByUser":{"aboutMe":"","accountEnabled":false,"ageGroup":"","assignedLicenses":[],"assignedPlans":[],"birthday":"1970-01-01T00:00:00.000Z","businessPhones":[],"city":"","companyName":"","consentProvidedForMinor":"","country":"","creationType":"","department":"","deviceEnrollmentLimit":0,"displayName":"","employeeHireDate":"1970-01-01T00:00:00.000Z","employeeId":"","employeeLeaveDateTime":"1970-01-01T00:00:00.000Z","employeeType":"","externalUserState":"","externalUserStateChangeDateTime":"1970-01-01T00:00:00.000Z","faxNumber":"","givenName":"","hireDate":"1970-01-01T00:00:00.000Z","identities":[],"identityParentId":"","imAddresses":[],"interests":[],"isManagementRestricted":false,"isResourceAccount":false,"jobTitle":"","lastPasswordChangeDateTime":"1970-01-01T00:00:00.000Z","legalAgeGroupClassification":"","licenseAssignmentStates":[],"mail":"","mailNickname":"","mobilePhone":"","mySite":"","officeLocation":"","onPremisesDistinguishedName":"","onPremisesDomainName":"","onPremisesImmutableId":"","onPremisesLastSyncDateTime":"1970-01-01T00:00:00.000Z","onPremisesProvisioningErrors":[],"onPremisesSamAccountName":"","onPremisesSecurityIdentifier":"","onPremisesSyncEnabled":false,"onPremisesUserPrincipalName":"","otherMails":[],"passwordPolicies":"","pastProjects":[],"postalCode":"","preferredDataLocation":"","preferredLanguage":"","preferredName":"","provisionedPlans":[],"proxyAddresses":[],"responsibilities":[],"schools":[],"securityIdentifier":"","serviceProvisioningErrors":[],"showInAddressList":false,"signInSessionsValidFromDateTime":"1970-01-01T00:00:00.000Z","skills":[],"state":"","streetAddress":"","surname":"","usageLocation":"","userPrincipalName":"","userType":"","activities":[],"adhocCalls":[],"agreementAcceptances":[],"appRoleAssignments":[],"calendarGroups":[],"calendars":[],"calendarView":[],"chats":[],"cloudPCs":[],"contactFolders":[],"contacts":[],"createdObjects":[],"deviceManagementTroubleshootingEvents":[],"directReports":[],"drives":[],"events":[],"extensions":[],"followedSites":[],"joinedTeams":[],"licenseDetails":[],"mailFolders":[],"managedAppRegistrations":[],"managedDevices":[],"memberOf":[],"messages":[],"notes":[],"oauth2PermissionGrants":[],"onlineMeetings":[],"ownedDevices":[],"ownedObjects":[],"people":[],"permissionGrants":[],"photos":[],"registeredDevices":[],"scopedRoleMemberOf":[],"sponsorOf":[],"sponsors":[],"transitiveMemberOf":[]},"lastModifiedByUser":{"aboutMe":"","accountEnabled":false,"ageGroup":"","assignedLicenses":[],"assignedPlans":[],"birthday":"1970-01-01T00:00:00.000Z","businessPhones":[],"city":"","companyName":"","consentProvidedForMinor":"","country":"","creationType":"","department":"","deviceEnrollmentLimit":0,"displayName":"","employeeHireDate":"1970-01-01T00:00:00.000Z","employeeId":"","employeeLeaveDateTime":"1970-01-01T00:00:00.000Z","employeeType":"","externalUserState":"","externalUserStateChangeDateTime":"1970-01-01T00:00:00.000Z","faxNumber":"","givenName":"","hireDate":"1970-01-01T00:00:00.000Z","identities":[],"identityParentId":"","imAddresses":[],"interests":[],"isManagementRestricted":false,"isResourceAccount":false,"jobTitle":"","lastPasswordChangeDateTime":"1970-01-01T00:00:00.000Z","legalAgeGroupClassification":"","licenseAssignmentStates":[],"mail":"","mailNickname":"","mobilePhone":"","mySite":"","officeLocation":"","onPremisesDistinguishedName":"","onPremisesDomainName":"","onPremisesImmutableId":"","onPremisesLastSyncDateTime":"1970-01-01T00:00:00.000Z","onPremisesProvisioningErrors":[],"onPremisesSamAccountName":"","onPremisesSecurityIdentifier":"","onPremisesSyncEnabled":false,"onPremisesUserPrincipalName":"","otherMails":[],"passwordPolicies":"","pastProjects":[],"postalCode":"","preferredDataLocation":"","preferredLanguage":"","preferredName":"","provisionedPlans":[],"proxyAddresses":[],"responsibilities":[],"schools":[],"securityIdentifier":"","serviceProvisioningErrors":[],"showInAddressList":false,"signInSessionsValidFromDateTime":"1970-01-01T00:00:00.000Z","skills":[],"state":"","streetAddress":"","surname":"","usageLocation":"","userPrincipalName":"","userType":"","activities":[],"adhocCalls":[],"agreementAcceptances":[],"appRoleAssignments":[],"calendarGroups":[],"calendars":[],"calendarView":[],"chats":[],"cloudPCs":[],"contactFolders":[],"contacts":[],"createdObjects":[],"deviceManagementTroubleshootingEvents":[],"directReports":[],"drives":[],"events":[],"extensions":[],"followedSites":[],"joinedTeams":[],"licenseDetails":[],"mailFolders":[],"managedAppRegistrations":[],"managedDevices":[],"memberOf":[],"messages":[],"notes":[],"oauth2PermissionGrants":[],"onlineMeetings":[],"ownedDevices":[],"ownedObjects":[],"people":[],"permissionGrants":[],"photos":[],"registeredDevices":[],"scopedRoleMemberOf":[],"sponsorOf":[],"sponsors":[],"transitiveMemberOf":[]},"displayName":"","list":{"contentTypesEnabled":false,"hidden":false,"template":""},"sharepointIds":{"listId":"","listItemId":"","listItemUniqueId":"","siteId":"","siteUrl":"","tenantId":"","webId":""},"system":{},"columns":[{"boolean":{},"calculated":{},"choice":{},"columnGroup":"","contentApprovalStatus":{},"currency":{},"dateTime":{},"defaultValue":{},"description":"","displayName":"","enforceUniqueValues":false,"geolocation":{},"hidden":false,"hyperlinkOrPicture":{},"indexed":false,"isDeletable":false,"isReorderable":false,"isSealed":false,"lookup":{},"name":"","number":{},"personOrGroup":{},"propagateChanges":false,"readOnly":false,"required":false,"sourceContentType":{},"term":{},"text":{},"thumbnail":{},"type":"note","validation":{}}],"contentTypes":[{"associatedHubsUrls":[""],"description":"","documentSet":{},"documentTemplate":{},"group":"","hidden":false,"inheritedFrom":{},"isBuiltIn":false,"name":"","order":{},"parentId":"","propagateChanges":false,"readOnly":false,"sealed":false,"baseTypes":[],"columnLinks":[{}],"columnPositions":[{}],"columns":[{}]}],"drive":{"description":"","eTag":"","name":"","webUrl":"","driveType":"","owner":{},"quota":{},"sharePointIds":{},"system":{},"bundles":[{}],"following":[{}],"items":[{}],"root":{},"special":[{}]},"items":[{"description":"","eTag":"","name":"","webUrl":"","contentType":{},"deleted":{},"sharepointIds":{},"analytics":{},"documentSetVersions":[{}],"driveItem":{},"fields":{},"permissions":[{}],"versions":[{}]}],"operations":[{"lastActionDateTime":"1970-01-01T00:00:00.000Z","resourceLocation":"","statusDetail":"","error":{},"percentageComplete":0,"resourceId":"","type":""}],"permissions":[{"expirationDateTime":"1970-01-01T00:00:00.000Z","grantedTo":{},"grantedToIdentities":[{}],"grantedToIdentitiesV2":[{}],"grantedToV2":{},"hasPassword":false,"inheritedFrom":{},"invitation":{},"link":{},"roles":[""],"shareId":""}],"subscriptions":[{"applicationId":"","changeType":"","clientState":"","creatorId":"","encryptionCertificate":"","encryptionCertificateId":"","expirationDateTime":"1970-01-01T00:00:00.000Z","includeResourceData":false,"latestSupportedTlsVersion":"","lifecycleNotificationUrl":"","notificationQueryOptions":"","notificationUrl":"","notificationUrlAppId":"","resource":""}]}}}}},"delete":{"operationId":"shares.DeleteList","summary":"Delete navigation property list for shares","tags":["shares.list"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/shares/{sharedDriveItem-id}/list/columns":{"get":{"operationId":"shares.list.ListColumns","summary":"Get columns from shares","description":"The collection of field definitions for this list.","tags":["shares.list"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"post":{"operationId":"shares.list.CreateColumns","summary":"Create new navigation property to columns for shares","tags":["shares.list"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"boolean":{},"calculated":{"format":"","formula":"","outputType":""},"choice":{"allowTextEntry":false,"choices":[""],"displayAs":""},"columnGroup":"","contentApprovalStatus":{},"currency":{"locale":""},"dateTime":{"displayAs":"","format":""},"defaultValue":{"formula":"","value":""},"description":"","displayName":"","enforceUniqueValues":false,"geolocation":{},"hidden":false,"hyperlinkOrPicture":{"isPicture":false},"indexed":false,"isDeletable":false,"isReorderable":false,"isSealed":false,"lookup":{"allowMultipleValues":false,"allowUnlimitedLength":false,"columnName":"","listId":"","primaryLookupColumnId":""},"name":"","number":{"decimalPlaces":"","displayAs":"","maximum":0,"minimum":0},"personOrGroup":{"allowMultipleSelection":false,"chooseFromType":"","displayAs":""},"propagateChanges":false,"readOnly":false,"required":false,"sourceContentType":{"name":""},"term":{"allowMultipleValues":false,"showFullyQualifiedName":false,"parentTerm":{},"termSet":{}},"text":{"allowMultipleLines":false,"appendChangesToExistingText":false,"linesForEditing":0,"maxLength":0,"textType":""},"thumbnail":{},"type":"note","validation":{"defaultLanguage":"","descriptions":[{"displayName":"","languageTag":""}],"formula":""}}}}}}},"/shares/{sharedDriveItem-id}/list/columns/{columnDefinition-id}":{"get":{"operationId":"shares.list.GetColumns","summary":"Get columns from shares","description":"The collection of field definitions for this list.","tags":["shares.list"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"columnDefinition-id","in":"path","required":true,"description":"The unique identifier of columnDefinition","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"patch":{"operationId":"shares.list.UpdateColumns","summary":"Update the navigation property columns in shares","tags":["shares.list"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"columnDefinition-id","in":"path","required":true,"description":"The unique identifier of columnDefinition","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"boolean":{},"calculated":{"format":"","formula":"","outputType":""},"choice":{"allowTextEntry":false,"choices":[""],"displayAs":""},"columnGroup":"","contentApprovalStatus":{},"currency":{"locale":""},"dateTime":{"displayAs":"","format":""},"defaultValue":{"formula":"","value":""},"description":"","displayName":"","enforceUniqueValues":false,"geolocation":{},"hidden":false,"hyperlinkOrPicture":{"isPicture":false},"indexed":false,"isDeletable":false,"isReorderable":false,"isSealed":false,"lookup":{"allowMultipleValues":false,"allowUnlimitedLength":false,"columnName":"","listId":"","primaryLookupColumnId":""},"name":"","number":{"decimalPlaces":"","displayAs":"","maximum":0,"minimum":0},"personOrGroup":{"allowMultipleSelection":false,"chooseFromType":"","displayAs":""},"propagateChanges":false,"readOnly":false,"required":false,"sourceContentType":{"name":""},"term":{"allowMultipleValues":false,"showFullyQualifiedName":false,"parentTerm":{},"termSet":{}},"text":{"allowMultipleLines":false,"appendChangesToExistingText":false,"linesForEditing":0,"maxLength":0,"textType":""},"thumbnail":{},"type":"note","validation":{"defaultLanguage":"","descriptions":[{"displayName":"","languageTag":""}],"formula":""}}}}}},"delete":{"operationId":"shares.list.DeleteColumns","summary":"Delete navigation property columns for shares","tags":["shares.list"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"columnDefinition-id","in":"path","required":true,"description":"The unique identifier of columnDefinition","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/shares/{sharedDriveItem-id}/list/columns/{columnDefinition-id}/sourceColumn":{"get":{"operationId":"shares.list.columns.GetSourceColumn","summary":"Get sourceColumn from shares","description":"The source column for the content type column.","tags":["shares.list"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"columnDefinition-id","in":"path","required":true,"description":"The unique identifier of columnDefinition","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]}},"/shares/{sharedDriveItem-id}/list/columns/$count":{"get":{"operationId":"shares.list.columns.GetCount-b936","summary":"Get the number of the resource","tags":["shares.list"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}}]}},"/shares/{sharedDriveItem-id}/list/contentTypes":{"get":{"operationId":"shares.list.ListContentTypes","summary":"Get contentTypes from shares","description":"The collection of content types present in this list.","tags":["shares.list"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"post":{"operationId":"shares.list.CreateContentTypes","summary":"Create new navigation property to contentTypes for shares","tags":["shares.list"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"associatedHubsUrls":[""],"description":"","documentSet":{"allowedContentTypes":[{"name":""}],"defaultContents":[{"fileName":"","folderName":""}],"propagateWelcomePageChanges":false,"shouldPrefixNameToFile":false,"welcomePageUrl":"","sharedColumns":[{}],"welcomePageColumns":[{}]},"documentTemplate":{"contentType":{"name":""},"fileName":"","folderName":""},"group":"","hidden":false,"inheritedFrom":{"driveId":"","driveType":"","name":"","path":"","shareId":"","sharepointIds":{"listId":"","listItemId":"","listItemUniqueId":"","siteId":"","siteUrl":"","tenantId":"","webId":""},"siteId":""},"isBuiltIn":false,"name":"","order":{"default":false,"position":0},"parentId":"","propagateChanges":false,"readOnly":false,"sealed":false,"baseTypes":[],"columnLinks":[{"name":""}],"columnPositions":[{"boolean":{},"calculated":{},"choice":{},"columnGroup":"","contentApprovalStatus":{},"currency":{},"dateTime":{},"defaultValue":{},"description":"","displayName":"","enforceUniqueValues":false,"geolocation":{},"hidden":false,"hyperlinkOrPicture":{},"indexed":false,"isDeletable":false,"isReorderable":false,"isSealed":false,"lookup":{},"name":"","number":{},"personOrGroup":{},"propagateChanges":false,"readOnly":false,"required":false,"sourceContentType":{},"term":{},"text":{},"thumbnail":{},"type":"note","validation":{}}],"columns":[{"boolean":{},"calculated":{},"choice":{},"columnGroup":"","contentApprovalStatus":{},"currency":{},"dateTime":{},"defaultValue":{},"description":"","displayName":"","enforceUniqueValues":false,"geolocation":{},"hidden":false,"hyperlinkOrPicture":{},"indexed":false,"isDeletable":false,"isReorderable":false,"isSealed":false,"lookup":{},"name":"","number":{},"personOrGroup":{},"propagateChanges":false,"readOnly":false,"required":false,"sourceContentType":{},"term":{},"text":{},"thumbnail":{},"type":"note","validation":{}}]}}}}}},"/shares/{sharedDriveItem-id}/list/contentTypes/{contentType-id}":{"get":{"operationId":"shares.list.GetContentTypes","summary":"Get contentTypes from shares","description":"The collection of content types present in this list.","tags":["shares.list"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"contentType-id","in":"path","required":true,"description":"The unique identifier of contentType","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"patch":{"operationId":"shares.list.UpdateContentTypes","summary":"Update the navigation property contentTypes in shares","tags":["shares.list"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"contentType-id","in":"path","required":true,"description":"The unique identifier of contentType","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"associatedHubsUrls":[""],"description":"","documentSet":{"allowedContentTypes":[{"name":""}],"defaultContents":[{"fileName":"","folderName":""}],"propagateWelcomePageChanges":false,"shouldPrefixNameToFile":false,"welcomePageUrl":"","sharedColumns":[{}],"welcomePageColumns":[{}]},"documentTemplate":{"contentType":{"name":""},"fileName":"","folderName":""},"group":"","hidden":false,"inheritedFrom":{"driveId":"","driveType":"","name":"","path":"","shareId":"","sharepointIds":{"listId":"","listItemId":"","listItemUniqueId":"","siteId":"","siteUrl":"","tenantId":"","webId":""},"siteId":""},"isBuiltIn":false,"name":"","order":{"default":false,"position":0},"parentId":"","propagateChanges":false,"readOnly":false,"sealed":false,"baseTypes":[],"columnLinks":[{"name":""}],"columnPositions":[{"boolean":{},"calculated":{},"choice":{},"columnGroup":"","contentApprovalStatus":{},"currency":{},"dateTime":{},"defaultValue":{},"description":"","displayName":"","enforceUniqueValues":false,"geolocation":{},"hidden":false,"hyperlinkOrPicture":{},"indexed":false,"isDeletable":false,"isReorderable":false,"isSealed":false,"lookup":{},"name":"","number":{},"personOrGroup":{},"propagateChanges":false,"readOnly":false,"required":false,"sourceContentType":{},"term":{},"text":{},"thumbnail":{},"type":"note","validation":{}}],"columns":[{"boolean":{},"calculated":{},"choice":{},"columnGroup":"","contentApprovalStatus":{},"currency":{},"dateTime":{},"defaultValue":{},"description":"","displayName":"","enforceUniqueValues":false,"geolocation":{},"hidden":false,"hyperlinkOrPicture":{},"indexed":false,"isDeletable":false,"isReorderable":false,"isSealed":false,"lookup":{},"name":"","number":{},"personOrGroup":{},"propagateChanges":false,"readOnly":false,"required":false,"sourceContentType":{},"term":{},"text":{},"thumbnail":{},"type":"note","validation":{}}]}}}}},"delete":{"operationId":"shares.list.DeleteContentTypes","summary":"Delete navigation property contentTypes for shares","tags":["shares.list"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"contentType-id","in":"path","required":true,"description":"The unique identifier of contentType","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/shares/{sharedDriveItem-id}/list/contentTypes/{contentType-id}/base":{"get":{"operationId":"shares.list.contentTypes.GetBase","summary":"Get base from shares","description":"Parent contentType from which this content type is derived.","tags":["shares.list"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"contentType-id","in":"path","required":true,"description":"The unique identifier of contentType","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]}},"/shares/{sharedDriveItem-id}/list/contentTypes/{contentType-id}/baseTypes":{"get":{"operationId":"shares.list.contentTypes.ListBaseTypes","summary":"Get baseTypes from shares","description":"The collection of content types that are ancestors of this content type.","tags":["shares.list"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"contentType-id","in":"path","required":true,"description":"The unique identifier of contentType","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]}},"/shares/{sharedDriveItem-id}/list/contentTypes/{contentType-id}/baseTypes/{contentType-id1}":{"get":{"operationId":"shares.list.contentTypes.GetBaseTypes","summary":"Get baseTypes from shares","description":"The collection of content types that are ancestors of this content type.","tags":["shares.list"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"contentType-id","in":"path","required":true,"description":"The unique identifier of contentType","schema":{"type":"string"}},{"name":"contentType-id1","in":"path","required":true,"description":"The unique identifier of contentType","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]}},"/shares/{sharedDriveItem-id}/list/contentTypes/{contentType-id}/baseTypes/$count":{"get":{"operationId":"shares.list.contentTypes.baseTypes.GetCount-f23a","summary":"Get the number of the resource","tags":["shares.list"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"contentType-id","in":"path","required":true,"description":"The unique identifier of contentType","schema":{"type":"string"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}}]}},"/shares/{sharedDriveItem-id}/list/contentTypes/{contentType-id}/columnLinks":{"get":{"operationId":"shares.list.contentTypes.ListColumnLinks","summary":"Get columnLinks from shares","description":"The collection of columns that are required by this content type.","tags":["shares.list"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"contentType-id","in":"path","required":true,"description":"The unique identifier of contentType","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"post":{"operationId":"shares.list.contentTypes.CreateColumnLinks","summary":"Create new navigation property to columnLinks for shares","tags":["shares.list"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"contentType-id","in":"path","required":true,"description":"The unique identifier of contentType","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"name":""}}}}}},"/shares/{sharedDriveItem-id}/list/contentTypes/{contentType-id}/columnLinks/{columnLink-id}":{"get":{"operationId":"shares.list.contentTypes.GetColumnLinks","summary":"Get columnLinks from shares","description":"The collection of columns that are required by this content type.","tags":["shares.list"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"contentType-id","in":"path","required":true,"description":"The unique identifier of contentType","schema":{"type":"string"}},{"name":"columnLink-id","in":"path","required":true,"description":"The unique identifier of columnLink","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"patch":{"operationId":"shares.list.contentTypes.UpdateColumnLinks","summary":"Update the navigation property columnLinks in shares","tags":["shares.list"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"contentType-id","in":"path","required":true,"description":"The unique identifier of contentType","schema":{"type":"string"}},{"name":"columnLink-id","in":"path","required":true,"description":"The unique identifier of columnLink","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"name":""}}}}},"delete":{"operationId":"shares.list.contentTypes.DeleteColumnLinks","summary":"Delete navigation property columnLinks for shares","tags":["shares.list"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"contentType-id","in":"path","required":true,"description":"The unique identifier of contentType","schema":{"type":"string"}},{"name":"columnLink-id","in":"path","required":true,"description":"The unique identifier of columnLink","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/shares/{sharedDriveItem-id}/list/contentTypes/{contentType-id}/columnLinks/$count":{"get":{"operationId":"shares.list.contentTypes.columnLinks.GetCount-a211","summary":"Get the number of the resource","tags":["shares.list"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"contentType-id","in":"path","required":true,"description":"The unique identifier of contentType","schema":{"type":"string"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}}]}},"/shares/{sharedDriveItem-id}/list/contentTypes/{contentType-id}/columnPositions":{"get":{"operationId":"shares.list.contentTypes.ListColumnPositions","summary":"Get columnPositions from shares","description":"Column order information in a content type.","tags":["shares.list"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"contentType-id","in":"path","required":true,"description":"The unique identifier of contentType","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]}},"/shares/{sharedDriveItem-id}/list/contentTypes/{contentType-id}/columnPositions/{columnDefinition-id}":{"get":{"operationId":"shares.list.contentTypes.GetColumnPositions","summary":"Get columnPositions from shares","description":"Column order information in a content type.","tags":["shares.list"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"contentType-id","in":"path","required":true,"description":"The unique identifier of contentType","schema":{"type":"string"}},{"name":"columnDefinition-id","in":"path","required":true,"description":"The unique identifier of columnDefinition","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]}},"/shares/{sharedDriveItem-id}/list/contentTypes/{contentType-id}/columnPositions/$count":{"get":{"operationId":"shares.list.contentTypes.columnPositions.GetCount-1b55","summary":"Get the number of the resource","tags":["shares.list"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"contentType-id","in":"path","required":true,"description":"The unique identifier of contentType","schema":{"type":"string"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}}]}},"/shares/{sharedDriveItem-id}/list/contentTypes/{contentType-id}/columns":{"get":{"operationId":"shares.list.contentTypes.ListColumns","summary":"Get columns from shares","description":"The collection of column definitions for this content type.","tags":["shares.list"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"contentType-id","in":"path","required":true,"description":"The unique identifier of contentType","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"post":{"operationId":"shares.list.contentTypes.CreateColumns","summary":"Create new navigation property to columns for shares","tags":["shares.list"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"contentType-id","in":"path","required":true,"description":"The unique identifier of contentType","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"boolean":{},"calculated":{"format":"","formula":"","outputType":""},"choice":{"allowTextEntry":false,"choices":[""],"displayAs":""},"columnGroup":"","contentApprovalStatus":{},"currency":{"locale":""},"dateTime":{"displayAs":"","format":""},"defaultValue":{"formula":"","value":""},"description":"","displayName":"","enforceUniqueValues":false,"geolocation":{},"hidden":false,"hyperlinkOrPicture":{"isPicture":false},"indexed":false,"isDeletable":false,"isReorderable":false,"isSealed":false,"lookup":{"allowMultipleValues":false,"allowUnlimitedLength":false,"columnName":"","listId":"","primaryLookupColumnId":""},"name":"","number":{"decimalPlaces":"","displayAs":"","maximum":0,"minimum":0},"personOrGroup":{"allowMultipleSelection":false,"chooseFromType":"","displayAs":""},"propagateChanges":false,"readOnly":false,"required":false,"sourceContentType":{"name":""},"term":{"allowMultipleValues":false,"showFullyQualifiedName":false,"parentTerm":{},"termSet":{}},"text":{"allowMultipleLines":false,"appendChangesToExistingText":false,"linesForEditing":0,"maxLength":0,"textType":""},"thumbnail":{},"type":"note","validation":{"defaultLanguage":"","descriptions":[{"displayName":"","languageTag":""}],"formula":""}}}}}}},"/shares/{sharedDriveItem-id}/list/contentTypes/{contentType-id}/columns/{columnDefinition-id}":{"get":{"operationId":"shares.list.contentTypes.GetColumns","summary":"Get columns from shares","description":"The collection of column definitions for this content type.","tags":["shares.list"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"contentType-id","in":"path","required":true,"description":"The unique identifier of contentType","schema":{"type":"string"}},{"name":"columnDefinition-id","in":"path","required":true,"description":"The unique identifier of columnDefinition","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"patch":{"operationId":"shares.list.contentTypes.UpdateColumns","summary":"Update the navigation property columns in shares","tags":["shares.list"],"parameters":[{"name":"sharedDriveItem-id","in":"path","required":true,"description":"The unique identifier of sharedDriveItem","schema":{"type":"string"}},{"name":"contentType-id","in":"path","required":true,"description":"The unique identifier of contentType","schema":{"type":"string"}},{"name":"columnDefinition-id","in":"path","required":true,"description":"The unique identifier of columnDefinition","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"boolean":{},"calculated":{"format":"","formula":"","outputType":""},"choice":{"allowTextEntry":false,"choices":[""],"displayAs":""},"columnGroup":"","contentApprovalStatus":{},"currency":{"locale":""},"dateTime":{"displayAs":"","format":""},"defaultValue":{"formula":"","value":""},"description":"","displayName":"","enforceUniqueValues":false,"geolocation":{},"hidden":false,"hyperlinkOrPicture":{"isPicture":false},"indexed":false,"isDeletable":false,"isReorderable":false,"isSealed":false,"lookup":
[...]
