{"openapi":"3.0.3","info":{"title":"Microsoft Graph: Microsoft To Do","version":"v1.0","x-generated-from":"https://raw.githubusercontent.com/microsoftgraph/msgraph-metadata/master/openapi/v1.0/openapi.yaml"},"servers":[{"url":"https://graph.microsoft.com/v1.0"}],"paths":{"/me/todo":{"get":{"operationId":"me.GetTodo","summary":"Get todo from me","description":"Represents the To Do services available to a user.","tags":["me.todo"],"parameters":[{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"patch":{"operationId":"me.UpdateTodo","summary":"Update the navigation property todo in me","tags":["me.todo"],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"example":{"lists":[{"displayName":"","isOwner":false,"isShared":false,"wellknownListName":"none","extensions":[{}],"tasks":[{}]}]}}}}},"delete":{"operationId":"me.DeleteTodo","summary":"Delete navigation property todo for me","tags":["me.todo"],"parameters":[{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/me/todo/lists":{"get":{"operationId":"me.todo.ListLists","summary":"List lists","description":"Get a list of the todoTaskList objects and their properties.","tags":["me.todo"],"parameters":[{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"post":{"operationId":"me.todo.CreateLists","summary":"Create todoTaskList","description":"Create a new lists object.","tags":["me.todo"],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"example":{"displayName":"Groceries"}}}}}},"/me/todo/lists/{todoTaskList-id}":{"get":{"operationId":"me.todo.GetLists","summary":"Get todoTaskList","description":"Read the properties and relationships of a todoTaskList object.","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"patch":{"operationId":"me.todo.UpdateLists","summary":"Update todoTaskList","description":"Update the properties of a todoTaskList object.","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"displayName":"","isOwner":false,"isShared":false,"wellknownListName":"none","extensions":[{}],"tasks":[{"body":{},"bodyLastModifiedDateTime":"1970-01-01T00:00:00.000Z","categories":[""],"completedDateTime":{},"dueDateTime":{},"hasAttachments":false,"importance":"low","isReminderOn":false,"recurrence":{},"reminderDateTime":{},"startDateTime":{},"status":"notStarted","title":"","attachments":[{}],"attachmentSessions":[{}],"checklistItems":[{}],"extensions":[{}],"linkedResources":[{}]}]}}}}},"delete":{"operationId":"me.todo.DeleteLists","summary":"Delete todoTaskList","description":"Deletes a todoTaskList object.","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/me/todo/lists/{todoTaskList-id}/extensions":{"get":{"operationId":"me.todo.lists.ListExtensions","summary":"Get extensions from me","description":"The collection of open extensions defined for the task list. Nullable.","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"post":{"operationId":"me.todo.lists.CreateExtensions","summary":"Create new navigation property to extensions for me","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{}}}}}},"/me/todo/lists/{todoTaskList-id}/extensions/{extension-id}":{"get":{"operationId":"me.todo.lists.GetExtensions","summary":"Get extensions from me","description":"The collection of open extensions defined for the task list. Nullable.","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"extension-id","in":"path","required":true,"description":"The unique identifier of extension","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"patch":{"operationId":"me.todo.lists.UpdateExtensions","summary":"Update the navigation property extensions in me","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"extension-id","in":"path","required":true,"description":"The unique identifier of extension","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{}}}}},"delete":{"operationId":"me.todo.lists.DeleteExtensions","summary":"Delete navigation property extensions for me","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"extension-id","in":"path","required":true,"description":"The unique identifier of extension","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/me/todo/lists/{todoTaskList-id}/extensions/$count":{"get":{"operationId":"me.todo.lists.extensions.GetCount-0d35","summary":"Get the number of the resource","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}}]}},"/me/todo/lists/{todoTaskList-id}/tasks":{"get":{"operationId":"me.todo.lists.ListTasks","summary":"List tasks","description":"Get the todoTask resources from the tasks navigation property of a specified todoTaskList.","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"post":{"operationId":"me.todo.lists.CreateTasks","summary":"Create todoTask","description":"Create a new task object in a specified todoTaskList.","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"title":"Buy milk","dueDateTime":{"dateTime":"2026-01-15T00:00:00","timeZone":"UTC"}}}}}}},"/me/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}":{"get":{"operationId":"me.todo.lists.GetTasks","summary":"Get todoTask","description":"Read the properties and relationships of a todoTask object.","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"todoTask-id","in":"path","required":true,"description":"The unique identifier of todoTask","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"patch":{"operationId":"me.todo.lists.UpdateTasks","summary":"Update todoTask","description":"Update the properties of a todoTask object.","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"todoTask-id","in":"path","required":true,"description":"The unique identifier of todoTask","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"status":"completed"}}}}},"delete":{"operationId":"me.todo.lists.DeleteTasks","summary":"Delete todoTask","description":"Delete a todoTask object.","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"todoTask-id","in":"path","required":true,"description":"The unique identifier of todoTask","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/me/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}/attachments":{"get":{"operationId":"me.todo.lists.tasks.ListAttachments","summary":"List taskFileAttachments","description":"Get a list of the taskFileAttachment objects and their properties. The contentBytes property will not be returned in the response. Use the Get attachment API to view the contentBytes.","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"todoTask-id","in":"path","required":true,"description":"The unique identifier of todoTask","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"post":{"operationId":"me.todo.lists.tasks.CreateAttachments","summary":"Create taskFileAttachment","description":"Add a new taskFileAttachment object to a todoTask. This operation limits the size of the attachment you can add to under 3 MB. If the size of the file attachments is more than 3 MB, create an upload session to upload the attachments.","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"todoTask-id","in":"path","required":true,"description":"The unique identifier of todoTask","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"contentType":"","name":"","size":0}}}}}},"/me/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}/attachments/{attachmentBase-id}":{"get":{"operationId":"me.todo.lists.tasks.GetAttachments","summary":"Get taskFileAttachment","description":"Read the properties and relationships of a taskFileAttachment object.","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"todoTask-id","in":"path","required":true,"description":"The unique identifier of todoTask","schema":{"type":"string"}},{"name":"attachmentBase-id","in":"path","required":true,"description":"The unique identifier of attachmentBase","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"delete":{"operationId":"me.todo.lists.tasks.DeleteAttachments","summary":"Delete taskFileAttachment","description":"Delete a taskFileAttachment object from a todoTask resource.","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"todoTask-id","in":"path","required":true,"description":"The unique identifier of todoTask","schema":{"type":"string"}},{"name":"attachmentBase-id","in":"path","required":true,"description":"The unique identifier of attachmentBase","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/me/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}/attachments/{attachmentBase-id}/$value":{"get":{"operationId":"me.todo.lists.tasks.GetAttachmentsContent","summary":"List taskFileAttachments","description":"Get a list of the taskFileAttachment objects and their properties. The contentBytes property will not be returned in the response. Use the Get attachment API to view the contentBytes.","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"todoTask-id","in":"path","required":true,"description":"The unique identifier of todoTask","schema":{"type":"string"}},{"name":"attachmentBase-id","in":"path","required":true,"description":"The unique identifier of attachmentBase","schema":{"type":"string"}}]},"put":{"operationId":"me.todo.lists.tasks.UpdateAttachmentsContent","summary":"Update media content for the navigation property attachments in me","description":"The unique identifier for an entity. Read-only.","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"todoTask-id","in":"path","required":true,"description":"The unique identifier of todoTask","schema":{"type":"string"}},{"name":"attachmentBase-id","in":"path","required":true,"description":"The unique identifier of attachmentBase","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/octet-stream":{}}}},"delete":{"operationId":"me.todo.lists.tasks.DeleteAttachmentsContent","summary":"Delete taskFileAttachment","description":"Delete a taskFileAttachment object from a todoTask resource.","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"todoTask-id","in":"path","required":true,"description":"The unique identifier of todoTask","schema":{"type":"string"}},{"name":"attachmentBase-id","in":"path","required":true,"description":"The unique identifier of attachmentBase","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/me/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}/attachments/$count":{"get":{"operationId":"me.todo.lists.tasks.attachments.GetCount-d4ef","summary":"Get the number of the resource","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"todoTask-id","in":"path","required":true,"description":"The unique identifier of todoTask","schema":{"type":"string"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}}]}},"/me/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}/attachments/createUploadSession":{"post":{"operationId":"me.todo.lists.todoTaskList.tasks.todoTask.attachments.createUploadSession","summary":"Invoke action createUploadSession","description":"Create an upload session to iteratively upload ranges of a file as an attachment to a todoTask. As part of the response, this action returns an upload URL that you can use in subsequent sequential PUT queries. The request headers for each PUT operation let you specify the exact range of bytes to be uploaded. This allows the transfer to be resumed, in case the network connection is dropped during the upload. The following are the steps to attach a file to a Microsoft To Do task using an upload session: For an example that describes the end-to-end attachment process, see attach files to a To Do …","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"todoTask-id","in":"path","required":true,"description":"The unique identifier of todoTask","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"attachmentInfo":{"attachmentType":"file","contentType":"","name":"","size":0}}}}}}},"/me/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}/attachmentSessions":{"get":{"operationId":"me.todo.lists.tasks.ListAttachmentSessions","summary":"Get attachmentSessions from me","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"todoTask-id","in":"path","required":true,"description":"The unique identifier of todoTask","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]}},"/me/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}/attachmentSessions/{attachmentSession-id}":{"get":{"operationId":"me.todo.lists.tasks.GetAttachmentSessions","summary":"Get attachmentSessions from me","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"todoTask-id","in":"path","required":true,"description":"The unique identifier of todoTask","schema":{"type":"string"}},{"name":"attachmentSession-id","in":"path","required":true,"description":"The unique identifier of attachmentSession","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"patch":{"operationId":"me.todo.lists.tasks.UpdateAttachmentSessions","summary":"Update the navigation property attachmentSessions in me","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"todoTask-id","in":"path","required":true,"description":"The unique identifier of todoTask","schema":{"type":"string"}},{"name":"attachmentSession-id","in":"path","required":true,"description":"The unique identifier of attachmentSession","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"content":"","expirationDateTime":"1970-01-01T00:00:00.000Z","nextExpectedRanges":[""]}}}}},"delete":{"operationId":"me.todo.lists.tasks.DeleteAttachmentSessions","summary":"Delete navigation property attachmentSessions for me","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"todoTask-id","in":"path","required":true,"description":"The unique identifier of todoTask","schema":{"type":"string"}},{"name":"attachmentSession-id","in":"path","required":true,"description":"The unique identifier of attachmentSession","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/me/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}/attachmentSessions/{attachmentSession-id}/content":{"get":{"operationId":"me.todo.lists.tasks.GetAttachmentSessionsContent","summary":"Get content for the navigation property attachmentSessions from me","description":"The content streams that are uploaded.","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"todoTask-id","in":"path","required":true,"description":"The unique identifier of todoTask","schema":{"type":"string"}},{"name":"attachmentSession-id","in":"path","required":true,"description":"The unique identifier of attachmentSession","schema":{"type":"string"}}]},"put":{"operationId":"me.todo.lists.tasks.UpdateAttachmentSessionsContent","summary":"Update content for the navigation property attachmentSessions in me","description":"The content streams that are uploaded.","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"todoTask-id","in":"path","required":true,"description":"The unique identifier of todoTask","schema":{"type":"string"}},{"name":"attachmentSession-id","in":"path","required":true,"description":"The unique identifier of attachmentSession","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/octet-stream":{}}}},"delete":{"operationId":"me.todo.lists.tasks.DeleteAttachmentSessionsContent","summary":"Delete content for the navigation property attachmentSessions in me","description":"The content streams that are uploaded.","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"todoTask-id","in":"path","required":true,"description":"The unique identifier of todoTask","schema":{"type":"string"}},{"name":"attachmentSession-id","in":"path","required":true,"description":"The unique identifier of attachmentSession","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/me/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}/attachmentSessions/$count":{"get":{"operationId":"me.todo.lists.tasks.attachmentSessions.GetCount-958a","summary":"Get the number of the resource","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"todoTask-id","in":"path","required":true,"description":"The unique identifier of todoTask","schema":{"type":"string"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}}]}},"/me/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}/checklistItems":{"get":{"operationId":"me.todo.lists.tasks.ListChecklistItems","summary":"List checklistItems","description":"Get the checklistItem resources associated to a todoTask from the checklistItems navigation property.","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"todoTask-id","in":"path","required":true,"description":"The unique identifier of todoTask","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"post":{"operationId":"me.todo.lists.tasks.CreateChecklistItems","summary":"Create checklistItem","description":"Create a new checklistItem object.","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"todoTask-id","in":"path","required":true,"description":"The unique identifier of todoTask","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"checkedDateTime":"1970-01-01T00:00:00.000Z","displayName":"","isChecked":false}}}}}},"/me/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}/checklistItems/{checklistItem-id}":{"get":{"operationId":"me.todo.lists.tasks.GetChecklistItems","summary":"Get checklistItem","description":"Read the properties and relationships of a checklistItem object.","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"todoTask-id","in":"path","required":true,"description":"The unique identifier of todoTask","schema":{"type":"string"}},{"name":"checklistItem-id","in":"path","required":true,"description":"The unique identifier of checklistItem","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"patch":{"operationId":"me.todo.lists.tasks.UpdateChecklistItems","summary":"Update checklistItem","description":"Update the properties of a checklistItem object.","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"todoTask-id","in":"path","required":true,"description":"The unique identifier of todoTask","schema":{"type":"string"}},{"name":"checklistItem-id","in":"path","required":true,"description":"The unique identifier of checklistItem","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"checkedDateTime":"1970-01-01T00:00:00.000Z","displayName":"","isChecked":false}}}}},"delete":{"operationId":"me.todo.lists.tasks.DeleteChecklistItems","summary":"Delete checklistItem","description":"Delete a checklistItem object.","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"todoTask-id","in":"path","required":true,"description":"The unique identifier of todoTask","schema":{"type":"string"}},{"name":"checklistItem-id","in":"path","required":true,"description":"The unique identifier of checklistItem","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/me/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}/checklistItems/$count":{"get":{"operationId":"me.todo.lists.tasks.checklistItems.GetCount-d5ac","summary":"Get the number of the resource","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"todoTask-id","in":"path","required":true,"description":"The unique identifier of todoTask","schema":{"type":"string"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}}]}},"/me/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}/extensions":{"get":{"operationId":"me.todo.lists.tasks.ListExtensions","summary":"Get extensions from me","description":"The collection of open extensions defined for the task. Nullable.","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"todoTask-id","in":"path","required":true,"description":"The unique identifier of todoTask","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"post":{"operationId":"me.todo.lists.tasks.CreateExtensions","summary":"Create new navigation property to extensions for me","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"todoTask-id","in":"path","required":true,"description":"The unique identifier of todoTask","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{}}}}}},"/me/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}/extensions/{extension-id}":{"get":{"operationId":"me.todo.lists.tasks.GetExtensions","summary":"Get extensions from me","description":"The collection of open extensions defined for the task. Nullable.","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"todoTask-id","in":"path","required":true,"description":"The unique identifier of todoTask","schema":{"type":"string"}},{"name":"extension-id","in":"path","required":true,"description":"The unique identifier of extension","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"patch":{"operationId":"me.todo.lists.tasks.UpdateExtensions","summary":"Update the navigation property extensions in me","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"todoTask-id","in":"path","required":true,"description":"The unique identifier of todoTask","schema":{"type":"string"}},{"name":"extension-id","in":"path","required":true,"description":"The unique identifier of extension","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{}}}}},"delete":{"operationId":"me.todo.lists.tasks.DeleteExtensions","summary":"Delete navigation property extensions for me","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"todoTask-id","in":"path","required":true,"description":"The unique identifier of todoTask","schema":{"type":"string"}},{"name":"extension-id","in":"path","required":true,"description":"The unique identifier of extension","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/me/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}/extensions/$count":{"get":{"operationId":"me.todo.lists.tasks.extensions.GetCount-bbc8","summary":"Get the number of the resource","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"todoTask-id","in":"path","required":true,"description":"The unique identifier of todoTask","schema":{"type":"string"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}}]}},"/me/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}/linkedResources":{"get":{"operationId":"me.todo.lists.tasks.ListLinkedResources","summary":"List linkedResources","description":"Get information of one or more items in a partner application, based on which a specified task was created. The information is represented in a linkedResource object for each item. It includes an external ID for the item in the partner application, and if applicable, a deep link to that item in the application.","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"todoTask-id","in":"path","required":true,"description":"The unique identifier of todoTask","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"post":{"operationId":"me.todo.lists.tasks.CreateLinkedResources","summary":"Create linkedResource","description":"Create a linkedResource object to associate a specified task with an item in a partner application. For example, you can associate a task with an email item in Outlook that spurred the task, and you can create a linkedResource object to track its association. You can also create a linkedResource object while creating a task.","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"todoTask-id","in":"path","required":true,"description":"The unique identifier of todoTask","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"applicationName":"","displayName":"","externalId":"","webUrl":""}}}}}},"/me/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}/linkedResources/{linkedResource-id}":{"get":{"operationId":"me.todo.lists.tasks.GetLinkedResources","summary":"Get linkedResource","description":"Read the properties and relationships of a linkedResource object.","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"todoTask-id","in":"path","required":true,"description":"The unique identifier of todoTask","schema":{"type":"string"}},{"name":"linkedResource-id","in":"path","required":true,"description":"The unique identifier of linkedResource","schema":{"type":"string"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]},"patch":{"operationId":"me.todo.lists.tasks.UpdateLinkedResources","summary":"Update linkedResource","description":"Update the properties of a linkedResource object.","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"todoTask-id","in":"path","required":true,"description":"The unique identifier of todoTask","schema":{"type":"string"}},{"name":"linkedResource-id","in":"path","required":true,"description":"The unique identifier of linkedResource","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"example":{"applicationName":"","displayName":"","externalId":"","webUrl":""}}}}},"delete":{"operationId":"me.todo.lists.tasks.DeleteLinkedResources","summary":"Delete linkedResource","description":"Delete a linkedResource object.","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"todoTask-id","in":"path","required":true,"description":"The unique identifier of todoTask","schema":{"type":"string"}},{"name":"linkedResource-id","in":"path","required":true,"description":"The unique identifier of linkedResource","schema":{"type":"string"}},{"name":"If-Match","in":"header","required":false,"description":"ETag","schema":{"type":"string"}}]}},"/me/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}/linkedResources/$count":{"get":{"operationId":"me.todo.lists.tasks.linkedResources.GetCount-25ab","summary":"Get the number of the resource","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"todoTask-id","in":"path","required":true,"description":"The unique identifier of todoTask","schema":{"type":"string"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}}]}},"/me/todo/lists/{todoTaskList-id}/tasks/$count":{"get":{"operationId":"me.todo.lists.tasks.GetCount-9825","summary":"Get the number of the resource","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}}]}},"/me/todo/lists/{todoTaskList-id}/tasks/delta()":{"get":{"operationId":"me.todo.lists.todoTaskList.tasks.delta","summary":"Invoke function delta","description":"Get a set of todoTask resources that have been added, deleted, or updated in a specified todoTaskList. A delta function call for todoTask resources in a todoTaskList is similar to a GET request, except that by appropriately applying state tokens in one or more of these calls, you can query for incremental changes in the todoTask in that todoTaskList. This allows you to maintain and synchronize a local store of a user's todoTask resources without having to fetch the entire set from the server every time.","tags":["me.todo"],"parameters":[{"name":"todoTaskList-id","in":"path","required":true,"description":"The unique identifier of todoTaskList","schema":{"type":"string"}},{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]}},"/me/todo/lists/$count":{"get":{"operationId":"me.todo.lists.GetCount-c94a","summary":"Get the number of the resource","tags":["me.todo"],"parameters":[{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}}]}},"/me/todo/lists/delta()":{"get":{"operationId":"me.todo.lists.delta","summary":"Invoke function delta","description":"Get a set of todoTaskList resources that have been added, deleted, or removed in Microsoft To Do. A delta function call for todoTaskList is similar to a GET request, except that by appropriately applying state tokens in one or more of these calls, \r\nyou can query for incremental changes in the todoTaskList. This allows you to maintain and synchronize a local store of a user's todoTaskList without having to fetch all the todoTaskList from the server every time.","tags":["me.todo"],"parameters":[{"name":"$top","in":"query","required":false,"description":"Show only the first n items","schema":{"type":"integer"}},{"name":"$skip","in":"query","required":false,"description":"Skip the first n items","schema":{"type":"integer"}},{"name":"$search","in":"query","required":false,"description":"Search items by search phrases","schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"description":"Filter items by property values","schema":{"type":"string"}},{"name":"$count","in":"query","required":false,"description":"Include count of items","schema":{"type":"boolean"}},{"name":"$select","in":"query","required":false,"description":"Select properties to be returned","schema":{"type":"array"}},{"name":"$orderby","in":"query","required":false,"description":"Order items by property values","schema":{"type":"array"}},{"name":"$expand","in":"query","required":false,"description":"Expand related entities","schema":{"type":"array"}}]}}}}